@font-face {
    font-family: 'Bebas Neue';
    src: url('@/assets/fonts/BebasNeue/BebasNeue-Regular.woff2') format('woff2'),
        url('@/assets/fonts/BebasNeue/BebasNeue-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
