
.rm_cross{
    padding: 8px 4px;
    padding-bottom: 0;
    button{
        height: 40px;
        width: 40px;
        &::before , &::after{
            top: 4px;
            right: 19px;
        }
    }
}

.rm{
    margin: 23px 25px;
    font-size: $font_size_ML;
    margin-top: 8px;
    margin-bottom: 50px;
    .rm_title{
        color: #ffffff;
        text-align: center;
        padding: 8px 26px;
        background-color: #000000;
    }
    .rm_list{
        .rm_list_title , .rm_list_content{
            >ul{
                display: flex;
                padding: 0px 26px;
                align-items: center;
                >li{
                    padding: 11px 0px;
                    &:nth-child(1){
                        width: calc( 55% - 80px );
                    }
                    &:nth-child(2){
                        width: 20%;
                        text-align: center;
                    }
                    &:nth-child(3){
                        width: 25%;
                        text-align: center;
                    }
                    &:nth-child(4){
                        width: 80px;
                        text-align: center;
                        justify-content: center;
                    }
                }
            }
        }
        .rm_list_title{
            color: #000000;
            background-image: url('../../images/rm_bg02.jpg');
            background-size: cover; /* 寬度100%，高度50% */
            background-position: top; /* 讓背景對齊上方 */
            >ul>li{
                padding: 7px 0px;
            }
        }
        .rm_list_content{
            ul{
                background-color: #a3a2a2;
            }
            &:nth-of-type(2n) ul{
                background-color: #5b5b5b;
                color: #ffffff;
            }
            
            button{
                font-size: $font_size_S;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                color:#ffffff;
                padding: 6px 23px;
                background-color: #000000;
                border-radius: 14px;
                transition: all 0.3s;
                width: 78px;
                &:hover{
                    opacity: 0.8;
                }
            }
        }
        .open_list{
            border: solid #ffffff;
            border-width: 0px;
            box-sizing: border-box;
            background-color: #d3d3d3;
            color: #2b2b2b;
            font-size: $font_size_M;
            padding-bottom: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease-out;
            .open_padding{
                padding: 20px 22px;
            }
            .open_title , .wl_title{
                font-weight: 600;
                font-size: $font_size_ML;
            }
            .work_content{
                margin-bottom: 25px;
                >div{
                    margin-bottom: 14px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                .open_mark{
                    span{
                        display: inline-block;
                        vertical-align: top;
                        &:first-child{
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: #2b2b2b;
                            position: relative;
                            top: 10px;
                            margin:0px calc( 0.5em - 4px ) ;
                        }
                        &:last-child{
                            width: calc( 100% - 1em );
                        }
                    }
                }
            }
            .work_list{
                margin-bottom: 22px;
                >div{
                    display: inline-block;
                    vertical-align: top;
                    &:first-child{
                        margin-right: 16px;
                    }
                    &:last-child{
                        width: calc( 100% - 4em - 24px );
                    }
                }
            }
        }
        .open_list.active {
            max-height: 45vh;
            overflow-y: scroll;
            border-width: 2px 0px 0px 1px;
        }
    }
}

@media (max-width:420px) {
    .rm{
        .rm_list{
            .rm_list_title{
                ul li{
                    span{
                        display: block;
                    }
                    &:nth-child(1){
                        text-align: center;
                    }
                }
            }
            .rm_list_title , .rm_list_content{
                >ul{
                    > li{
                        &:nth-child(1){
                            width: calc( 55% - 50px - 12px );
                            text-align: center;
                        }
                        &:nth-child(2){
                            width: 21%;
                        }
                        &:nth-child(3){
                            width: 24%;
                        }
                        &:nth-child(4){
                            width: 50px;
                            margin-left: 12px;
                            button{
                                padding: 5px 16px;
                                width: auto;
                            }
                        }
                    }
                } 
            }
        }
    }
}
