.contact {
    position: relative;
    overflow: hidden;
    padding: 68px 77px 57px 64px;
    .all-bg {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        height: 100%;
        width: 100%;
        z-index: 0;
        left: 0;
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
    }
}

.contact-top {
    position: relative;
    z-index: 1;
    margin-right: 53px;
}

.contact-info {
    background-color: #F7F2E9;
    padding: 14px 61px 32px 36px;
    display: inline-block;
    vertical-align: top;
    width: calc(100% - 43px);
    box-sizing: border-box;
    min-height: 250px;
}

.contact-list {
    position: relative;
    z-index: 1;
    display: flex;
    color: #333;
    font-size: 16px;
    font-weight: 500;
    line-height: 25.6px;
    letter-spacing: 2px;
    margin-bottom: 10px;
    &:last-child {
        margin-bottom: 25px;
    }
    .link {
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;
    }
    img {
        width: auto;
        margin-right: 15px;
    }
}

.contact-title {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #5E5338;
    top: 49px;
    right: 0;
    width: 43px;
    position: absolute;
    .en {
        display: inline-block;
        transform: rotate(90deg);
        transform-origin: center center;
        position: relative;
        left: 2px;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: 2.65px;
        line-height: 30px;
    }
    .ch {
        flex-direction: column;
        margin-top: 66px;
        span {
            display: block;
            font-size: 15px;
            line-height: 1.5px;
            font-weight: 600;
            width: 15px;
            height: 25px;
            position: relative;
            right: 2px;
        }
    }
}

.name {
    font-size: 17px;
    font-weight: 700;
    line-height: 27.2px;
    letter-spacing: 1.36px;
    border-bottom: solid 1px #000;
    padding-bottom: 10.5px;
    margin-bottom: 14.5px;
}

.contact-bottom {
    position: relative;
    z-index: 1;
    display: flex;
}

.contact-logo {
    background-color: #F7F2E9;
    padding: 44px 15px;
    max-width: 172px;
    box-sizing: border-box;
    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            background-color: transparent;
        }
    }
}

.contact-otherinfo {
    margin: 20px;
    font-family: 'Texturina','Ysabeau Infant', sans-serif;
}

.info-office {
    margin-bottom: 8px;
    .info-office-title ,
    .info-office-contain {
        color: #5E5338;
        font-size: 15px;
        line-height: 25.65px;
        letter-spacing: 2px;
    }
    .info-office-title {
        font-weight: 600;
    }
    .info-office-contain {
        font-weight: 400;
    }
}

.otherinfo-self {
    margin-bottom: 9px;
    &:last-child {
        margin-bottom: 0;
        overflow-wrap: break-word;
        word-break: break-word;
        word-wrap: break-word;
    }
    span {
        display: inline-block;
        vertical-align: top;
        color: #5E5338;
        font-size: 15px;
        line-height: 25.65px;
        letter-spacing: 2px;
        &:first-child {
            font-weight: 600;
            margin-right: 7px;
        }
        &:last-child {
            font-weight: 400;
            width: calc( 100% - 2em - 12px );
            font-family: 'Ysabeau Infant', sans-serif;
        }
    }
}

@media (max-width:600px) {
    .contact-top {
        margin-right: 0;
    }
    .contact {
        padding: 68px 25px 57px 25px;
    }
    .contact-info {
        padding: 14px 32px 32px;
    }
}

@media (max-width:380px) {
    .contact-logo {
        display: none;
    }
    .contact-otherinfo {
        width: 100%;
    }
}

@media (max-width:356px) {
    .contact-title {
        display: none;
    }
    .contact-info {
        width: 100%;
    }
}