

.list{display:table;border-spacing:30px}

.img11,.img12,.img13,.img14,.img15,.img16,.img17,.img18,.img19{display:table-cell;position:relative;} 



.img11:after,.img11:before{
	display:block;
	content:"";
	background:url(images/萬聖節c.png) no-repeat;
	position:absolute;top:0%;left:0%;
	height:0;
	width:0;
	opacity:0;
	z-index:9999;
	transition:all 1s;
}

.img11:hover:after{
	display:block;
	content:"";
	position:absolute;
	background:url(images/萬聖節c.png) no-repeat;
	top:-50%;left:-50%;
	height:413px;
	width:462px;
	opacity:100;
	z-index:9999;
}



.img12:after,.img12:before{
	display:block;
	content:"";
	background:url(images/玉子貓c.png) no-repeat;
	position:absolute;top:0%;left:0%;
	height:0;
	width:0;
	opacity:0;
	z-index:9999;
	transition:all 1s;
}

.img12:hover:after{
	display:block;
	content:"";
	position:absolute;
	background:url(images/玉子貓c.png) no-repeat;
	top:-50%;left:-50%;
	height:436px;
	width:585px;
	opacity:100;
	z-index:9999;
}


.img17:after,.img17:before{
	display:block;
	content:"";
	background:url(images/烤麵包C.png) no-repeat;
	position:absolute;top:0%;left:0%;
	height:0;
	width:0;
	opacity:0;
	z-index:9999;
	transition:all 1s;
}

.img17:hover:after{
	display:block;
	content:"";
	position:absolute;
	background:url(images/烤麵包C.png) no-repeat;
	top:-50%;left:-50%;
	height:371px;
	width:500px;
	opacity:100;
	z-index:9999;
}


.img13:after,.img13:before{
	display:block;
	content:"";
	background:url(images/櫻花馬卡龍c.png) no-repeat;
	position:absolute;top:0%;left:0%;
	height:0;
	width:0;
	opacity:0;
	z-index:9999;
	transition:all 1s;
}

.img13:hover:after{
	display:block;
	content:"";
	position:absolute;
	background:url(images/櫻花馬卡龍c.png) no-repeat;
	top:-50%;left:-50%;
	height:424px;
	width:467px;
	opacity:100;
	z-index:9999;
}



.img14:after,.img14:before{
	display:block;
	content:"";
	background:url(images/聖誕兔c.png) no-repeat;
	position:absolute;top:0%;left:0%;
	height:0;
	width:0;
	opacity:0;
	z-index:9999;
	transition:all 1s;
}

.img14:hover:after{
	display:block;
	content:"";
	position:absolute;
	background:url(images/聖誕兔c.png) no-repeat;
	top:-50%;left:-50%;
	height:407px;
	width:490px;
	opacity:100;
	z-index:9999;
}

.img18:after,.img18:before{
	display:block;
	content:"";
	background:url(images/章魚燒C.png) no-repeat;
	position:absolute;top:0%;left:0%;
	height:0;
	width:0;
	opacity:0;
	z-index:9999;
	transition:all 1s;
}

.img18:hover:after{
	display:block;
	content:"";
	position:absolute;
	background:url(images/章魚燒C.png) no-repeat;
	top:-50%;left:-50%;
	height:371px;
	width:500px;
	opacity:100;
	z-index:9999;
}



.img15:after,.img15:before{
	display:block;
	content:"";
	background:url(images/冰淇淋聖代c.png) no-repeat;
	position:absolute;top:0%;left:0%;
	height:0;
	width:0;
	opacity:0;
	z-index:9999;
	transition:all 1s;
}

.img15:hover:after{
	display:block;
	content:"";
	position:absolute;
	background:url(images/冰淇淋聖代c.png) no-repeat;
	top:-90%;left:-50%;
	height:575px;
	width:423px;
	opacity:100;
	z-index:9999;
}



.img16:after,.img16:before{
	display:block;
	content:"";
	background:url(images/草莓大福鳥c.png) no-repeat;
	position:absolute;top:0%;left:0%;
	height:0;
	width:0;
	opacity:0;
	z-index:9999;
	transition:all 1s;
}

.img16:hover:after{
	display:block;
	content:"";
	position:absolute;
	background:url(images/草莓大福鳥c.png) no-repeat;
	top:-50%;left:-50%;
	height:404px;
	width:483px;
	opacity:100;
	z-index:9999;
}

.img19:after,.img19:before{
	display:block;
	content:"";
	background:url(images/鹿人C.png) no-repeat;
	position:absolute;top:0%;left:0%;
	height:0;
	width:0;
	opacity:0;
	z-index:9999;
	transition:all 1s;
}

.img19:hover:after{
	display:block;
	content:"";
	position:absolute;
	background:url(images/鹿人C.png) no-repeat;
	top:-50%;left:-50%;
	height:371px;
	width:500px;
	opacity:100;
	z-index:9999;
}