.banner {
    display: flex;
    justify-content: center;
    padding: 9px 20px;
    .center {
        .img-box {
            height: 100%;
            width: 100%;
            img {
                background-color: #FCF7EE;
                max-height: 54px;
            }
        }
    }
}
