.quickaccess_in{
    background-color: #000000;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #ffffff;
    position: absolute;
    right: calc(50% - 320px);
    // bottom: -177px;
    // opacity: 0;
    bottom: 0;
    opacity: 1;
    width: 100%;
    max-width: 640px;
    text-align: center;
    .cross{
        display: inline-block;
        position: absolute;
        top: -7px;
        right: -11px;
        button{
            width: 17px;
            height: 17px;
            &::before , &::after{
                background-color: #ffffff;
                height: 21px;
            }
        }
    }
    .qa_title{
        font-weight: 700;
        margin-bottom: 12px;
        font-size: 20px;
        letter-spacing: 0.05em;
    }
    .qa_btn{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 calc( (640px - 14em - 80px) / 2 );
        button{
            color: #ffffff;
            font-size: $font_size_M;
            padding: 0px 25px;
            transition: all .3s;
            position: relative;
            width: calc(7.2em + 40px);
            display: flex;
            align-items: center;
            letter-spacing: 0.05em;
            &::after{
                content: "";
                display: inline-block;
                width: 1px;
                height: 1em;
                background-color: #ffffff;
                position: absolute;
                right: 0px;
            }
            // 未來新增
            &:nth-child(3){
                margin-top: 8px;
            }
            img{
                display: inline-block;
                height: 24px;
                width: auto;
                margin-right: 9px;
            }
            &:last-child , &:nth-child(2n){
                &::after{
                    display: none;
                }
            }
            &:hover{
                opacity: 0.8;
            }
        }
    }
}


// 動畫
.qa_an {
    animation: qa_an 1s ease-out forwards;
}
  
  @keyframes qa_an {
    from {
        bottom: -177px;
        opacity: 0;
    }
    to {
        bottom: 0px;
        opacity: 1;
    }
  }

.qa_close{
    animation: qa_close 1s ease-out forwards;
}

@keyframes qa_close {
    from {
        bottom: 0px;
        opacity: 1;
    }
    to {
      bottom: -177px;
      opacity: 0;
    }
  }


@media (max-width:640px) {
    .ccard{
        position: relative;
        .quickaccess_in{
            position: absolute;
            width: 100%;
            right: 0px;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            .qa_title{
                width: 100%;
            }
            .qa_btn{
                padding: 0px 0px;
                width: calc(14em + 80px);
            }
        }
    }
    
}
