<footer>

<div class="yilan-information">
    <div class="yilan-information-width">
        <div class="privacy-btn">
            <a href="#">隱私權保護及資訊安全政策宣告</a>
            <a href="#">政府網站資料開放宣告</a>
            <a href="#">機關網站著作權聲明</a>
        </div>
        <div class="information">
            <div class="information-01">
                宜蘭縣榮獲ICF smart city 21 
                <img src="../assets/img/footer-government.png" alt="">
            </div>
            <div class="information-02">
                <span>
                    <img src="../assets/img/footer-place.svg" alt="">
                </span>
                <span>
                    機關地址 :(26060)宜蘭縣宜蘭市南津里13鄰縣政北路一號
                </span>
            </div>
            <div class="information-03">
                <span>
                    <img src="../assets/img/footer-time.svg" alt="">
                </span>
                <span>
                    服務時間：週一至週五8:00-17:00
                </span>
            </div>
            <div class="information-04">
                <span>
                    <img src="../assets/img/footer-mail.svg" alt="">
                </span>
                <span>
                    聯絡信箱：planning2@mail.e-land.gov.tw
                </span>
            </div>
            <div class="information-05">
                <span>
                    <img src="../assets/img/footer-phone.svg" alt="">
                </span>
                <span>
                    聯絡電話(總機)：(03)925-1000
                </span>
            </div>
            <div class="information-06">
                <span>
                    <img src="../assets/img/footer-phone.svg" alt="">
                </span>
                <span>
                    旅遊諮詢專線：(03)931-2152
                </span>
            </div>
            <div  class="information-07">
                <span>
                    <img src="../assets/img/footer-phone.svg" alt="">
                </span>
                <span>
                    <div>為民服務專線：縣境直撥1999、外縣市請撥03-9253146</div>
                    <div>
                        <em>代表號</em>
                        <em>付費專線、以市話費率計收</em>
                    </div>
                </span>
            </div>
            
            <div class="information-08">
                <span>更新日期：109-05-20</span>
                <span>瀏覽人次：6409051(自105年3月開始計算)</span>
                <span>目前線上人數：2</span>
            </div>


        </div>

    </div>
</div>


<div class="yilan-area">
    <div class="yilan-area-width">
        <a href="#">宜蘭市</a>
        <a href="#">羅東鎮</a>
        <a href="#">蘇澳鎮</a>
        <a href="#">頭城鎮</a>
        <a href="#">礁溪鄉</a>
        <a href="#">壯圍鄉</a>
        <a href="#">員山鄉</a>
        <a href="#">三星鄉</a>
        <a href="#">大同鄉</a>
        <a href="#">南澳鄉</a>
        <a href="#">宜蘭縣</a>
        <a href="#">五結鄉</a>
        <a href="#">冬山鄉</a>
    </div>
</div>


<div class="yilan-copyright">
    Copyright© 宜蘭縣政府版權所有
</div>



</footer>