@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.all_width {
  max-width: 1000px;
  margin: 0 auto;
}

header {
  margin-bottom: 48px;
  display: flex;
}
header .h_left {
  position: relative;
  display: inline-block;
  margin-right: 124px;
}
header .h_left .header_bg {
  border-radius: 0px 0px 72px 0px;
  width: 100%;
  height: 70vh;
  z-index: -1;
}
header .h_left .h_photo_box {
  position: absolute;
  top: 14vh;
  right: -130px;
}
header .h_left .h_photo_box .header_photo {
  display: inline-block;
  width: 258px;
  position: relative;
}
header .h_left .h_photo_box .header_photo .my_photo {
  position: absolute;
  width: 186px;
  top: 34px;
  left: 34px;
  border: solid 2px #ffffff;
  border-radius: 50%;
}
header .h_left .header_title {
  font-size: 25px;
  letter-spacing: 1em;
  color: #ffffff;
}
header .h_left .header_title::before {
  content: "PORTFOLIO";
  position: absolute;
  bottom: 20px;
  right: 20px;
}
header .h_right {
  display: inline-block;
  width: calc(28em + 72px);
  vertical-align: top;
  margin-top: calc(20vh - 2em);
}
header .h_right .h_name {
  font-size: 18px;
  color: #82A9B3;
  font-weight: 600;
  letter-spacing: 0.5em;
  margin-bottom: 12px;
  text-indent: 0.5em;
}
header .h_right .h_birth {
  font-size: 16px;
  color: #82A9B3;
  letter-spacing: 0.5em;
  margin-bottom: 24px;
  text-indent: 0.5em;
}
header .h_right .h_history {
  color: #959595;
  font-size: 16px;
  border-left: solid 2px #A7CBD5;
  padding-left: 14px;
  margin-bottom: 32px;
}
header .h_right .h_history > div {
  margin-bottom: 20px;
  line-height: 1em;
}
header .h_right .h_skill span {
  display: inline-flex;
  color: #A7CFEE;
  width: 4em;
  height: 4em;
  border-radius: 50%;
  border: solid 1px #A7CFEE;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-right: 12px;
  margin-bottom: 12px;
}
header .h_right .h_skill span:last-child {
  margin-right: 0px;
}

.work {
  background: url("../img/work_bg.png") no-repeat;
  background-position: bottom center;
  background-size: 100%;
  margin-bottom: 60px;
}
.work .work_title {
  color: #A7CBD5;
  font-size: 36px;
  letter-spacing: 1em;
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.work .work_title > div {
  display: inline-block;
}
.work .work_title .work_line {
  width: calc(100% - 5em);
  height: 2px;
  background-color: #CFE9F0;
}
.work .work_in {
  padding-bottom: 70px;
  display: flex;
}
.work .work_in .work_item {
  display: inline-flex;
  overflow: hidden;
  position: relative;
  border-radius: 24px;
  box-shadow: 0px 2px 4px #acacac;
  justify-content: center;
  margin-right: 28px;
}
.work .work_in .work_item:last-child {
  margin-right: 0px;
}
.work .work_in .work_item img {
  border-radius: 24px;
  width: 100%;
}
.work .work_in .work_item .work_item_hover {
  position: absolute;
  opacity: 0;
  background-color: rgba(52, 59, 61, 0.8);
  top: 0px;
  left: 0px;
  height: -webkit-fill-available;
  padding: 60px 32px;
  color: #ffffff;
  transition: all 0.4s;
}
.work .work_in .work_item .work_item_hover .work_h_title {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 20px;
  letter-spacing: 0.3em;
}
.work .work_in .work_item .work_item_hover .work_h_dis {
  border-left: solid 2px #ffffff;
  padding-left: 8px;
  line-height: 1.3em;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.work .work_in .work_item .work_item_hover button {
  position: absolute;
  right: 32px;
  bottom: 40px;
  color: #FFEBBB;
  background-color: rgba(63, 63, 63, 0);
  border: 0;
  border-bottom: solid 1px #FFEBBB;
  padding-bottom: 3px;
  cursor: pointer;
}
.work .work_in .work_item .work_item_hover button img {
  width: 0.9em;
}
.work .work_in .work_item:hover .work_item_hover {
  opacity: 100;
}

.illus {
  margin-bottom: 40px;
}
.illus .illus_title {
  text-align: center;
  margin-bottom: 40px;
}
.illus .illus_title div:first-child {
  color: #AECED5;
  font-size: 32px;
  letter-spacing: 1em;
  margin-bottom: 14px;
  text-indent: 1em;
}
.illus .illus_title div:first-child::before, .illus .illus_title div:first-child::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
  background-color: #FFF4DD;
  width: 30px;
  height: 30px;
  position: relative;
  top: 4px;
}
.illus .illus_title div:first-child::after {
  right: 1em;
}
.illus .illus_title div:last-child {
  color: #B6B6B6;
  font-size: 16px;
  letter-spacing: 0.8em;
  text-indent: 0.8em;
}
.illus .illus_in {
  display: flex;
  justify-content: space-between;
}
.illus .illus_in .illus_in_item {
  width: calc((100% - 80px) / 3);
}
.illus .illus_in .illus_in_item .illus_in_pic {
  margin-bottom: 12px;
}
.illus .illus_in .illus_in_item .illus_in_pic img {
  width: 100%;
  border-radius: 24px;
}
.illus .illus_in .illus_in_item .illus_in_text {
  text-align: right;
  margin-bottom: 3em;
  color: #B6B6B6;
  letter-spacing: 0.8em;
  margin-right: -0.2em;
  font-size: 14px;
}
.illus .illus_in .illus_in_item:nth-child(2) {
  display: flex;
  flex-wrap: wrap;
}
.illus .illus_in .illus_in_item:nth-child(2) .illus_in_pic {
  order: 2;
}
.illus .illus_in .illus_in_item:nth-child(2) .illus_in_text {
  order: 1;
  margin-bottom: 12px;
  margin-top: 3em;
  width: 100%;
}

footer {
  background: url("../img/connect_bg.png") no-repeat;
  background-position: top center;
  background-size: auto;
  min-height: 335px;
  color: #ffffff;
}
footer .footer_bg_rwd {
  display: none;
}
footer .footer_title {
  padding-top: 170px;
  font-size: 32px;
  margin-bottom: 28px;
  letter-spacing: 0.8em;
  text-indent: 0.8em;
}
footer .footer_in {
  display: flex;
  align-items: center;
  padding-bottom: 40px;
}
footer .footer_in .footer_in_p {
  margin-right: 20px;
}
footer .footer_in .footer_in_p img {
  width: 5em;
}
footer .footer_in .footer_in_c {
  margin-right: 28px;
}
footer .footer_in .footer_in_c div {
  display: flex;
  margin-bottom: 12px;
  font-size: 16px;
  letter-spacing: 0.2em;
}
footer .footer_in .footer_in_c div:last-child {
  margin-bottom: 0;
}
footer .footer_in .footer_in_c div img {
  margin-right: 6px;
  width: 1.5em;
}
footer .footer_in .footer_in_button a {
  display: inline-block;
  color: #ffffff;
  border-radius: 12px;
  border: solid 1px #ffffff;
  transition: all 0.2s;
  padding: 12px 20px;
  background-color: rgba(255, 255, 255, 0);
}
footer .footer_in .footer_in_button a .footer_ig {
  margin-right: 4px;
  position: relative;
  width: 1em;
  display: inline-block;
}
footer .footer_in .footer_in_button a .footer_ig img {
  width: 1em;
  position: absolute;
  top: -13px;
  left: 0;
}
footer .footer_in .footer_in_button a .footer_ig .ig_w {
  opacity: 100;
}
footer .footer_in .footer_in_button a .footer_ig .ig_y {
  opacity: 0;
}
footer .footer_in .footer_in_button a:hover {
  color: #FFEBBB;
  border-color: #FFEBBB;
  background-color: rgba(255, 255, 255, 0.1);
}
footer .footer_in .footer_in_button a:hover .footer_ig .ig_w {
  opacity: 0;
}
footer .footer_in .footer_in_button a:hover .footer_ig .ig_y {
  opacity: 100;
}

.copyright {
  text-align: center;
  background-color: #90B8C4;
  color: #ffffff;
  padding: 4px 0px;
  font-size: 12px;
  letter-spacing: 0.3em;
}
.copyright::after, .copyright::before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  opacity: 0.5;
}
.copyright::after {
  position: relative;
  right: 0.3em;
}

@media (max-width: 768px) {
  .all_width {
    margin: 0 24px;
  }
  header {
    display: block;
  }
  header .h_left {
    display: block;
    margin-right: 0px;
    background: url("../img/header_bg.png") no-repeat;
    background-position: top center;
    background-size: 100%;
    height: 30vh;
    margin-bottom: 125px;
    position: relative;
  }
  header .h_left .header_bg {
    border-radius: 0px;
    height: auto;
    display: none;
  }
  header .h_left .h_photo_box {
    top: 8vh;
    right: calc(50vw - 129px);
  }
  header .h_left .h_photo_box .header_photo object {
    transform: rotate(100deg);
  }
  header .h_left .h_photo_box .header_photo .my_photo {
    z-index: 2;
  }
  header .h_left .header_title {
    position: static;
    color: rgba(0, 0, 0, 0);
    opacity: 0.7;
  }
  header .h_left .header_title::before {
    content: "PORT";
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    left: 1.5em;
  }
  header .h_left .header_title::after {
    content: "FOLIO";
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    position: absolute;
    bottom: 20px;
    right: 0px;
  }
  header .h_right {
    display: block;
    width: 100%;
    margin-top: 0px;
    text-align: center;
  }
  header .h_right .h_history {
    text-align: left;
    width: 20em;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 32px;
  }
  header .h_right .h_skill {
    margin-left: 24px;
    margin-right: 12px;
  }
  header .h_right .h_skill span {
    font-size: 12px;
    width: 4.4em;
    height: 4.4em;
  }
  .work {
    background-size: 300%;
    margin-bottom: 20px;
  }
  .work .work_title {
    font-size: 20px;
  }
  .work .work_in {
    display: block;
  }
  .work .work_in .work_item {
    display: flex;
    margin-right: 0px;
    margin-bottom: 24px;
  }
  .illus .illus_title > div:first-child {
    font-size: 20px;
    letter-spacing: 0.6em;
    text-indent: 0.6em;
  }
  .illus .illus_title > div:first-child::after, .illus .illus_title > div:first-child::before {
    width: 12px;
    height: 12px;
    top: 0px;
  }
  .illus .illus_title > div:last-child {
    font-size: 14px;
    letter-spacing: 0.4em;
    text-indent: 0.4em;
  }
  .illus .illus_in {
    display: block;
  }
  .illus .illus_in .illus_in_item {
    width: 100%;
  }
  .illus .illus_in .illus_in_item:nth-child(2) {
    display: block;
  }
  .illus .illus_in .illus_in_item:nth-child(2) .illus_in_text {
    margin-top: 0px;
    margin-bottom: 3em;
  }
  footer {
    background-image: none;
  }
  footer .footer_bg_rwd {
    display: block;
    width: 100%;
    position: relative;
    top: 1px;
  }
  footer .all_width {
    background-color: #A7CBD5;
    margin: 0px;
    padding: 0px 24px;
  }
  footer .footer_title {
    padding-top: 0px;
    font-size: 20px;
    text-align: center;
  }
  footer .footer_in {
    display: block;
    text-align: center;
    padding-bottom: 24px;
  }
  footer .footer_in .footer_in_p {
    margin-right: 0px;
    margin-bottom: 16px;
  }
  footer .footer_in .footer_in_c {
    margin-right: 0px;
    margin-bottom: 20px;
  }
  footer .footer_in .footer_in_c > div {
    font-size: 14px;
    justify-content: center;
  }
  footer .footer_in .footer_in_c > div img {
    width: 1.2em;
  }
}
@media (max-width: 768px) {
  .illus .illus_title > div:first-child {
    letter-spacing: 0.4em;
    text-indent: 0.4em;
  }
  .illus .illus_title > div:first-child::after, .illus .illus_title > div:first-child::before {
    width: 8px;
    height: 8px;
    top: -2px;
  }
  .illus .illus_title > div:first-child::after {
    right: 12px;
  }
}/*# sourceMappingURL=style.css.map */