// @import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.all_width{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    margin-bottom: 48px;
    display: flex;
    .h_left{
        position: relative;
        display: inline-block;
        margin-right: 124px;
        .header_bg{
            border-radius: 0px 0px 72px 0px;
            width: 100%;
            height: 70vh;
            z-index: -1;
        }
        .h_photo_box{
            position: absolute;
            top: 14vh;
            right: -130px;
            .header_photo{
                display: inline-block;
                width: 258px;
                position: relative;
                .my_photo{
                    position: absolute;
                    width: 186px;
                    top: 34px;
                    left: 34px;
                    border: solid 2px #ffffff;
                    border-radius: 50%;
                }   
            }
        }
        .header_title{
            font-size: 30px;
            letter-spacing: 25px;
            color: #ffffff;
            &::before{
                content: "PORTFOLIO";
                position: absolute;
                bottom: 40px;
                right: 20px;
            }
        }
        
    }
    .h_right{
        display: inline-block;
        // width: calc(32em + 72px);
        vertical-align: top;
        margin-top: calc(20vh - 2em);
        .h_name{
            font-size: 18px;
            color: #82A9B3;
            font-weight: 600;
            letter-spacing: 0.5em;
            margin-bottom: 12px;
            text-indent: 0.5em;
        }
        .h_birth{
            font-size: 16px;
            color: #82A9B3;
            letter-spacing: 0.5em;
            margin-bottom: 24px;
            text-indent: 0.5em;
        }
        .h_history{
            color: #959595;
            font-size: 16px;
            border-left: solid 2px #A7CBD5;
            padding-left: 14px;
            margin-bottom: 32px;
            >div{
                margin-bottom: 20px;
                line-height: 1em;
            }
        }
        .h_skill{
            .h_skill_list{
                vertical-align: top;
                display: inline-flex;
                color: #A7CFEE;
                width: 4em;
                height: 4em;
                border-radius: 50%;
                border: solid 1px #A7CFEE;
                align-items: center;
                justify-content: center;
                font-size: 14px;
                margin-right: 16px;
                margin-bottom: 12px;
                text-align: center;
                flex-wrap: wrap;
                justify-content: center;
                &:last-child{
                    margin-right: 0px;
                }
                span span{
                    width: 100%;
                    display: block;
                }
            }
        }
    }
}

@keyframes slide {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1692px, 0, 0); /* The image width */
    }
}

@keyframes slide_b {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-1012px, 0, 0); /* The image width */
    }
}

.work{
    /* background: url("../img/work_bg.png") no-repeat;
    background-position: bottom center; */
    background-size: 100%;
    margin-bottom: 60px;
    opacity: 0;
    overflow: hidden;
    position: relative;
    .work_bg_f , .work_bg_b{
        width: 5076px;
        z-index: -1;
        position: absolute;
        bottom: 0;
    }
    .work_bg_f{
        height: 171px;
        background-position: bottom left;
        background: url("../img/work_bg_f.png") repeat-x;
        animation: slide 180s linear infinite;
    }
    .work_bg_b{
        height: 250px;
        background-position: bottom left;
        background: url("../img/work_bg_b.png") repeat-x;
        animation: slide_b 180s linear infinite;
    }
    .work_title{
        color: #A7CBD5;
        font-size: 36px;
        letter-spacing: 1em;
        display: flex;
        align-items: center;
        margin: 50px 0;
        >div{
            display: inline-block;
        }
        .work_line{
            width: calc( 100% - 5em );
            height: 2px;
            background-color: #CFE9F0;
        }
    }
    .work_in{
        padding-bottom: 10px;
        .work_item{
            display: inline-flex;
            overflow: hidden;
            position: relative;
            border-radius: 24px;
            box-shadow: 0px 2px 4px #acacac;
            justify-content: center;
            margin-right: 36px;
            width: calc((100% - 122px) / 4);
            box-sizing: border-box;
            margin-bottom: 50px;
            &:nth-child(4n){
                margin-right: 0px;
            }
            img{
                border-radius: 24px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .work_item_hover{
                position: absolute;
                opacity: 0;
                // background-color: rgba(63,63,63,0.85);
                background-color: rgb(52 59 61 / 80%);
                top: 0px;
                left: 0px;
                height: -webkit-fill-available;
                padding: 60px 32px;
                color: #ffffff;
                transition: all .4s;
                .work_h_title{
                    font-weight: 500;
                    font-size: 20px;
                    margin-bottom: 20px;
                    letter-spacing: 0.3em;
                }
                .work_h_dis{
                    border-left: solid 2px #ffffff;
                    padding-left: 8px;
                    line-height: 1.7em;
                    letter-spacing: 0.1em;
                    font-size: 16px;
                }
                button{
                    position: absolute;
                    right: 32px;
                    bottom: 40px;
                    color: #FFEBBB;
                    background-color: rgba(63,63,63,0);
                    border: solid 1px #FFEBBB;
                    border-radius: 8px;
                    padding: 8px 12px;
                    letter-spacing: 1px;
                    cursor: pointer;
                    img{
                        width: 0.9em;
                    }
                }
            }
            &:hover .work_item_hover{
                opacity: 100;
            }
        }
    }
}

.app{
    margin-top: 110px;
    margin-bottom: 120px;
    .all_width{
        display: flex;
    }
    .app_left{
        width: calc(100% - 700px - 20px);
        margin-right: 20px;
        opacity: 0.2;
        position: relative;
        top: 50px;
        .app_title{
            color: #A7CBD5;
            font-weight: 600;
            margin-bottom: 20px;
            font-size: 36px;
            letter-spacing: 1em;
            span{
                display: block;
                margin-bottom: 12px;
                position: relative;
                &:first-child{
                    &::after{
                        content: "";
                        display: block;
                        background-color: #E9FAFF;
                        border-radius: 50%;
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        top: -16px;
                        left: -28px;
                        z-index: -1;
                    }
                }
            }
        }
        .app_dec{
            color: #909090;
            letter-spacing: 0.5em;
            font-size: 16px;
            line-height: 2em;
            span{
                display: block;
            }
        }
    }
    .app_right{
        width: 700px;
        position: relative;
        opacity: 0;
        top: 50px;
            &::before,&::after{
                content: "";
                display: block;
                position: absolute;
                z-index: -1;
                border-radius: 50%;
            }
            &::before{
                background-color: #BFDFE8;
                width: 200px;
                height: 200px;
                position: absolute;
                right: -65px;
                top: -70px;
                animation:app_blue_ball 10s;  
                // animation-fill-mode:forwards;  
                animation-direction:alternate;
                animation-iteration-count:infinite;
            }
            &::after{
                background-color: #FFF4DD;
                width: 200px;
                height: 200px;
                position: absolute;
                left: -110px;
                bottom: -40px;
                animation:app_yell_ball 6s;  
                // animation-fill-mode:forwards;  
                animation-direction:alternate;
                animation-iteration-count:infinite;
            }
        .app_btn{
            display: block;
            width: 100%;
            border: 0px;
            box-shadow: 0px 4px 4px #e1e1e1;
            background: url("../img/app.png") no-repeat;
            background-position: right;
            background-size: 100%;
            text-align: left;
            border-radius: 16px;
            overflow: hidden;
            background-color: #ffffff;
            .app_btn_in{
                display: inline-block;
                padding: 2.5em 2em;
                background-color: #93CAD9;
                position: relative;
                color: #ffffff;
                width: 10em;
                height: auto;
                z-index: 2;
                .app_btn_title{
                    display: block;
                    font-weight: 800;
                    font-size: 25px;
                    margin-bottom: 24px;
                    letter-spacing: 0.2em;
                }
                .app_btn_dec{
                    display: block;
                    font-size: 16px;
                    letter-spacing: 0.3em;
                    margin-bottom: 32px;
                    line-height: 1.7em;
                }
                .app_btn_tag{
                    display: block;
                    text-align: center;
                    span{
                        display: inline-block;
                        border-radius: 16px;
                        padding: 12px 20px;
                        font-size: 14px;
                        border: solid 1px #ffffff;
                        img{
                            display: inline-block;
                            margin-left: 4px;
                            position: relative;
                            top: 1px;
                        }
                    }
                }
                // &::after{ 
                //     content: "";
                //     display: inline-block;
                //     position: absolute;
                //     top: 0px;
                //     right: -33px;
                //     bottom: 0px;
                //     background-color: transparent;
                //     border-bottom: 0px solid #acacac;
                //     border-right: 35px solid transparent;
                //     border-top: calc(20em + 1em) solid #93CAD9; /* 高度+padding */
                //     border-left: 0px solid #acacac;
                //     z-index: 1;
                // }
            }
            position: relative;
            top: 0px;
            transition: all .5s;
            &:hover{
                top: -8px;
                box-shadow: 0px 0px 8px #FFDD94;
            }
        }
    }
}

.illus{
    margin-bottom: 40px;
    opacity: 0.2;
    .illus_title{
        text-align: center;
        margin-bottom: 40px;
        div{
            &:first-child{
                color: #AECED5;
                font-size: 32px;
                letter-spacing: 1em;
                margin-bottom: 14px;
                text-indent: 1em;
                span{
                    display: inline-block;
                    &::before , &::after{
                        content: "";
                        display: inline-block;
                        border-radius: 50%;
                        background-color: #FFF4DD;
                        width: 30px;
                        height: 30px;
                        position: relative;
                        top: 4px;
                    }
                    &::after{
                        right: 0px;
                    }
                    &::before{
                        left: -30px;
                    }
                }
            }
            &:last-child{
                color: #B6B6B6;
                font-size: 16px;
                letter-spacing: 0.8em;
                text-indent: 0.8em;
            }
        }
    }
    .illus_in{
        display: flex;
        justify-content: space-between;
        .illus_in_item{
            width: calc( ( 100% - 80px) / 3 );
            .illus_in_pic{
                margin-bottom: 12px;
                border-radius: 24px;
                overflow: hidden;
                max-height: 306.66px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    transition: all .5s;
                }
                &:hover{
                    img{
                        width: 110%;
                    }
                }
            }
            .illus_in_text{
                text-align: right;
                margin-bottom: 3em;
                color: #B6B6B6;
                letter-spacing: 0.8em;
                margin-right: -0.2em;
                font-size: 14px;
            }
            &:nth-child(2){
                display: flex;
                flex-wrap: wrap;
                .illus_in_pic{
                    order: 2;
                }
                .illus_in_text{
                    order: 1;
                    margin-bottom: 12px;
                    margin-top: 3em;
                    width: 100%;
                }
            }
        }
    }
}

footer{
    background: url("../img/connect_bg.png") no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 335px;
    color: #ffffff;
    opacity: 0;
    .all_width{
        position: relative;
        .f_blue_ball,.f_yell_ball{
            display: block;
            position: absolute;
            border-radius: 50%;
        }
        .f_blue_ball{
            background-color: #B4DDE9;
            width: 50px;
            height: 50px;
            right: 20px;
            top: 80px;
        }
        .f_yell_ball{
            background-color: #FFEBC1;
            width: 30px;
            height: 30px;
            right: 134px;
            top: 162px;
        }
    }
    .footer_bg_rwd{
        display: none;
    }
    .footer_title{
        padding-top: 170px;
        font-size: 32px;
        margin-bottom: 28px;
        letter-spacing: 0.8em;
        text-indent: 0.8em;
    }
    .footer_in{
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        .footer_in_p{
            margin-right: 20px;
            img{
                width: 5em;
            }
        }
        .footer_in_c{
            margin-right: 28px;
            div{
                display: flex;
                margin-bottom: 12px;
                font-size: 16px;
                letter-spacing: 0.2em;
                align-items: center;
                &:last-child{
                    margin-bottom: 0;
                }
                img{
                    margin-right: 6px;
                    width: 1.5em;
                }
            }
        }
        .footer_in_button{
            a{
                display: inline-block;
                color: #ffffff;
                border-radius: 12px;
                border: solid 1px #ffffff;
                transition: all .2s;
                padding: 12px 20px;
                background-color: rgba($color: #ffffff, $alpha: 0);
                .footer_ig{
                    margin-right: 4px;
                    position: relative;
                    width: 1em;
                    display: inline-block;
                    img{
                        width: 1em;
                        position: absolute;
                        top: -13px;
                        left: 0;
                    }
                    .ig_w{
                        opacity: 100;
                    }
                    .ig_y{
                        opacity: 0;
                    }
                }
                &:hover{
                    color: #FFEBBB;
                    border-color: #FFEBBB;
                    background-color: rgba($color: #ffffff, $alpha: 0.1);
                    .footer_ig{
                        .ig_w{
                            opacity: 0;
                        }
                        .ig_y{
                            opacity: 100;
                        }
                    }
                }
                
            }
        }
    }
}

.copyright{
    text-align: center;
    background-color: #90B8C4;
    color: #ffffff;
    padding: 4px 0px;
    font-size: 12px;
    letter-spacing: 0.3em;
    &::after , &::before{
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: #ffffff;
        opacity: 0.5;
        position: relative;
        top: -2px;
    }
    &::after{
        right: 0.3em;
    }
}


// -----RWD-----
@media(max-width:1200px){
    .all_width {
        padding: 0 80px;
    }
    footer{
        background-size: auto;
    }
}
@media(max-width:768px){
    .all_width{
        padding: 0 24px;
    }
    header{
        display: block;
        .h_left{
            animation:fadein_top_bot 2s;  
            animation-fill-mode:forwards;  
            animation-direction:alternate;
            display: block;
            margin-right: 0px;
            background: url("../img/header_bg.png") no-repeat;
            background-position: top center;
            background-size: 100%;
            height: 180px;
            margin-bottom: 120px;
            position: relative;
            .header_bg{
                border-radius: 0px;
                height: auto;
                display: none;
            }
            .h_photo_box{
                top: 8vh;
                right: calc(50vw - 129px);
                z-index: 1;
                .header_photo {
                    object{
                        transform: rotate(100deg);
                    }
                    .my_photo{
                        z-index: 2;
                    }
                }
            }
            .header_title{
                position: static;
                color: rgba($color: #000000, $alpha: 0);
                opacity: 0.7;
                &::before{
                    content: "PORT";
                    display: inline-block;
                    color: #ffffff;
                    font-size: 16px;
                    position: absolute;
                    bottom: 20px;
                    left: 1.5em;
                    z-index: -1;
                }
                &::after{
                    content: "FOLIO";
                    display: inline-block;
                    color: #ffffff;
                    font-size: 16px;
                    position: absolute;
                    bottom: 20px;
                    right: 0px;
                    z-index: -1;
                }
            }
        }
        .h_right{
            display: block;
            width: 100%;
            margin-top: 0px;
            text-align: center;
            .h_name{
                font-size: 25px;
            }
            .h_birth{
                font-size: 20px;
            }
            .h_history{
                text-align: left;
                width: 19em;
                margin: 0 auto;
                font-size: 16px;
                margin-bottom: 32px;
            }
            .h_skill{
                margin-left: 24px;
                margin-right: 12px;
                .h_skill_list{
                    font-size: 14px;
                    width: 4.4em;
                    height: 4.4em;
                }
            }
        }
    }
    .work{
        background-size: 300%;
        margin-bottom: 50px;
        .work_title{
            font-size: 25px;
        }
        .work_in{
            display: block;
            .work_item{
                display: flex;
                margin-right: 0px;
                margin-bottom: 40px;
                width: 100%;
                height: 400px;
            }
        }
    }
    .app {
        .all_width{
            display: block;
        }
        .app_left{
            width: 100%;
            margin-right: 0px;
            z-index: 1;
            .app_title{
                font-size: 30px;
                text-align: center;
                letter-spacing: 0.3em;
                span{
                    display: inline-block;
                    &:first-child{
                        margin-right: 12px;
                    }
                }
            }
            .app_dec{
                text-align: center;
                font-size: 16px;
                z-index: 1;
                margin-bottom: 28px;
            }
        }
        .app_right{
            width: 100%;
            &::before{
                right: calc(50vw - 124px);
                background-color: #FFF4DD;
            }
            &::after{
                display: none;
            }
            .app_btn{
                height: 522px;
                background-position: bottom;
                background-size: cover;
                &::after{
                    content: "點此看稿";
                    display: block;
                    background-color: #93CAD9;
                    padding: 1.2em 1em;
                    z-index: 2;
                    color: #ffffff;
                    font-size: 16px;
                    letter-spacing: 0.3em;
                    text-decoration: underline;
                    text-align: center;
                    position: absolute;
                    bottom: 0px;
                    width: -webkit-fill-available;
                    text-indent: 0.3em;
                }
                .app_btn_in{
                    width: auto;
                    display: block;
                    text-align: center;
                    padding: 1.7em 1.2em;
                    .app_btn_title{
                        font-size: 23px;
                        margin-bottom: 16px;
                    }
                    .app_btn_dec{
                        margin-bottom: 0px;
                        line-height: 2em;
                    }
                    .app_btn_tag{
                        display: none;
                    }
                }
            }
        }
    }
    .illus{
        opacity: 0;
        .illus_title{
            margin-bottom: 30px;
            >div{
                &:first-child{
                    font-size: 30px;
                    letter-spacing: 0.3em;
                    text-indent: 0.3em;
                    span{
                        &::after , &::before{
                            width: 12px;
                            height: 12px;
                            top: -3px;
                        }
                        &::before{
                            left: -10px;
                        }
                    }
                    
                }
                &:last-child{
                    font-size: 14px;
                    letter-spacing: 0.4em;
                    text-indent: 0.4em;
                }
            }
        }
        .illus_in{
            display: block;
            .illus_in_item{
                width: 100%;
                .illus_in_text{
                    font-size: 16px;
                }
                &:nth-child(2){
                    display: block;
                    .illus_in_text{
                        margin-top: 0px;
                        margin-bottom: 3em;
                    }
                }
            }
        }
    }
    footer{
        // background: url("../img/connect_bg.svg") no-repeat;
        // background-position: bottom center;
        // background-size: 100%;
        background-image: none;
        // background-color: #A7CBD5;
        // min-height: 335px;
        .footer_bg_rwd{
            display: block;
            width: 100%;
            position: relative;
            top: 1px;
        }
        .all_width{
            background-color: #A7CBD5;
            margin: 0px;
            padding: 0px 24px;
            .f_blue_ball,.f_yell_ball{
                display: none;
            }
        }
        .footer_title{
            padding-top: 0px;
            font-size: 24px;
            text-align: center;
            line-height: 1.6em;
            margin-bottom: 20px;
        }
        .footer_in{
            display: block;
            text-align: center;
            padding-bottom: 24px;
            font-size: 16px;
            .footer_in_p{
                margin-right: 0px;
                margin-bottom: 18px;
            }
            .footer_in_c{
                margin-right: 0px;
                margin-bottom: 24px;
                >div{
                    font-size: 16px;
                    justify-content: center;
                    margin-bottom: 20px;
                    img{
                        width: 1.2em;
                    }
                }
            }
        }
    }
    .copyright{
        padding: 12px 0px;
        font-size: 14px;
    }
}

@media(max-width:360px){
    header{
        .h_right{
            .h_history{
                width: auto;
                margin: 0 24px;
                margin-bottom: 32px;
            }
        }
    }
    .illus{
        .illus_title{
            >div{
                &:first-child{
                    // letter-spacing: 0.4em;
                    // text-indent: 0.4em;
                    // &::after , &::before{
                    //     width: 8px;
                    //     height: 8px;
                    //     top: -2px;
                    // }
                    // &::after{
                    //     right: 12px;
                    // }
                }
            }
        }
    }
}

// 動畫

.fadein{
    animation:fadein 2s;  
    animation-fill-mode:forwards;  
    animation-direction:alternate;    
}

@keyframes fadein{  
    from { 
      opacity: 0;
    }  
    to{
      opacity: 1;
}
}  

.fadein_top_bot{  
    animation:fadein_top_bot 2s;  
    animation-fill-mode:forwards;  
    animation-direction:alternate;  
} 

@keyframes fadein_top_bot{  
    from { 
      opacity: 0;
      position: relative;
      top: -50px;
    }  
    to{
      opacity: 1;
      position: relative;
      top: 0px;
}
}

.fadein_bot_top{  
    animation:fadein_bot_top 2s;  
    animation-fill-mode:forwards;  
    animation-direction:alternate;
    .illus_in{
        .illus_in_item{
            animation-fill-mode:forwards;  
            animation-direction:alternate;
            &:nth-child(1){
                animation:fadein_bot_top_in 2s;
            }
            &:nth-child(2){
                animation:fadein_top_bot_in 2s;
            }
            &:nth-child(3){
                animation:fadein_bot_top_in 2s;
            }
        }
    }
} 

@keyframes fadein_bot_top{  
    from { 
      opacity: 0.2;
      position: relative;
      top: 50px;
    }  
    to{
      opacity: 1;
      position: relative;
      top: 0px;
}
}  


@keyframes fadein_bot_top_in{  
    20% { 
      opacity: 0 ;
      position: relative;
      top: 50px ;
    }  
    to{
      opacity: 1;
      position: relative;
      top: 0px;
}
}  

@keyframes fadein_top_bot_in{  
    30% { 
      opacity: 0 ;
      position: relative;
      top: -50px ;
    }  
    to{
      opacity: 1;
      position: relative;
      top: 0px;
}
}


.fadein_r_l{  
    animation:fadein_r_l 2s;  
    animation-fill-mode:forwards;  
    animation-direction:alternate;  
} 

@keyframes fadein_r_l{  
    from { 
      opacity: 0;
      position: relative;
      left: 50px;
    }  
    to{
      opacity: 1;
      position: relative;
      left: 0px;
    }
}  


.f_blue_ball{
    animation:f_blue_ball 5s;  
    // animation-fill-mode:forwards;  
    animation-direction:alternate;
    animation-iteration-count:infinite;
}
.f_yell_ball{
    animation:f_yell_ball 8s;  
    // animation-fill-mode:forwards;  
    animation-direction:alternate;
    animation-iteration-count:infinite;
}

@keyframes f_blue_ball{  
    0% { 
        top: 120px;
    } 
    50%{
        top: 80px;
    }
    100%{
        top: 120px;
    }
}  

@keyframes f_yell_ball{  
    0% { 
        top: 150px;
    } 
    50%{
        top: 100px;
    }
    100%{
        top: 150px;
    }
}  


@keyframes app_blue_ball{  
    0% { 
        top: -70px;
    } 
    50%{
        top: -36px;
    }
    100%{
        top: -90px;
    }
}  

@keyframes app_yell_ball{  
    0% { 
        bottom: -73px;
    } 
    50%{
        bottom: -40px;

    }
    100%{
        bottom: -10px;
    }
}  