// // 淡入進場
// @keyframes fadeIn {
//     from {
//       opacity: 0;
//     }
//     to {
//       opacity: 1;
//     }
// }

// 由下往上滑動進場
@keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.fadeInSlideUp{
    animation: fadeInSlideUp 1s ease forwards;
}

// banner動態
@keyframes bannerAn{
    0% {
        height: 100vh;
    }
    30% {
        height: 400px;
    }
    50% {
        height: 460px;
    }
    100% {
        height: 427px;
    }
}

@media (max-width:450px) {
    @keyframes bannerAn {
        0% {
            height: 100vh;
        }

        30% {
            height: 300px;
        }

        50% {
            height: 360px;
        }

        100% {
            height: 327px;
        }
    }
}

// 文字一個一個上來
@keyframes slideUpFadeIn {
    0% {
        opacity: 0;
        transform: translate3d(0, 20px, 0);
    }

    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0)
    }
}

.animate-text span {
    display: inline-block;
    opacity: 0;
}

.animate-text.animated span {
    animation: slideUpFadeIn 1s ease forwards;
}
