
.ccard{
    max-width: 640px;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}


.container{
    // padding: 30px 35px;
    color: #434343;
    position: relative;
    .focus_bt{
        background-color: rgba($color: #000000, $alpha: 0.6);
        border-radius: 25px;
        padding-top: 9px;
        padding-bottom: 12px;
        width: 110px;
        font-size: $font_size_S;
        color: #d2d7db;
        height: 40px;
        transition: all .2s;
        border: solid 1px #858585;
        letter-spacing: 0.5px;
        &:hover{
            opacity: 0.7;
        }
        &::before{
            content: url('../../images/heart-line.svg');
            display: inline-block;
            width: 14px;
            height: 12px;
            position: relative;
            top: 1.5px;
            margin-right: 12px;
        }
        &.active{
            &::before{
                content: url('../../images/heart.svg');
            }
            span{
                &::before{
                    content: "已";
                }
            }
        }
    }
    .c_title{
        font-size: 20px;
        color: #ffffff;
        margin-bottom: 20px;
        line-height: 1.6em;
        // opacity: 0;
        // animation: fadeInSlideUp 1s ease-in-out forwards;
        span{
            position: relative;
            display: inline-block;
            font-weight: 600;
            letter-spacing: 0.05em;
        }
        
    }
    .c_info{
        margin-bottom: 48px;
        // opacity: 0;
        padding: 30px 35px;
        padding-bottom: 0px;
        background-image: url('../../images/info_bg.jpg');
        background-size: auto 297px; /* 寬度100%，高度50% */
        background-position: top; /* 讓背景對齊上方 */
        background-repeat: no-repeat;
        position: relative;
        animation: fadeInSlideUp 1s ease-in-out forwards;
        &::after {
            content: "";
            position: absolute;
            top: 137.5px;
            z-index: -1;
            right: 0;
            width: 100%; /* 三角形的底邊寬度 */
            height: 160px; /* 三角形的高度 */
            background: white;
            clip-path: polygon(100% 0, 0 100%, 100% 100%); /* 右下角三角形 */
        }
        .ci_focus{
            text-align: right;
        }
        .ci_top{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 115px;
            .ci_top_l{
                width: 205px;
                height: 205px;
                border-radius: 50%;
                overflow: hidden;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
                img{
                    height: 100%;
                    object-fit: cover;
                }
            }
            .ci_top_r{
                width: calc(100% - 255px);
                text-align: right;
                margin-left: 50px;
                h6,p{
                    letter-spacing: 0.5px;
                }
                h6{
                    font-size: $font_size_XL;
                    margin-bottom: 10px;
                    font-family: "Noto Sans Display","Noto Sans", Arial , sans-serif;
                    font-weight: 600;
                    color: #1E1E1E;
                    text-shadow: 0.1px 0 0 currentColor, -0.1px 0 0 currentColor;
                    span{
                        font-weight: 600;
                        display: inline-block;
                        margin-left: 6px;
                        letter-spacing: 0.5px;
                    }
                }
                p{
                    font-size: $font_size_M;
                    margin-bottom: 14px;
                    color: rgba($color: #1E1E1E, $alpha: 0.8);
                }
                .ci_in{
                    line-height: 1.8em;
                    margin-bottom: 20px;
                    text-align: justify;
                }
                .ci_tag{
                    margin-bottom: 5px;
                    span{
                        display: inline-block;
                        border-bottom: solid 0.5px #00000080;
                        padding-bottom: 3px;
                        font-weight: 300;
                        letter-spacing: 0.5px;
                    }
                }
                div{
                    display: flex;
                    align-items: center;
                    justify-content: flex-end;
                    .social{
                        display: inline-flex;
                        align-items: center;
                        button{
                            padding: 5px;
                            transition: all .2s;
                            &:hover{
                                opacity: 0.8;
                            }
                            img{
                                width: 5px;
                                height: 10px;
                            }
                            &.arrow_l_bt{
                                margin-right: 33px;
                            }
                            &.arrow_r_bt{
                                margin-right: 0px;
                                margin-left: 15px;
                            }
                            &.btn_fin{
                                cursor: initial;
                                opacity: 0.5;
                            }
                        }
                        .social_icon_box{
                            overflow: hidden;
                            width: 212px;
                            .social_icon{
                                display: flex;
                                height: 35px;
                                align-items: center;
                            }
                        }
                        a{
                            display: inline-flex;
                            align-items: center;
                            justify-content: center;
                            width: 35px;
                            height: 35px;
                            flex: 0 0 35px; /* 每個 icon 固定寬度 */
                            transition: transform 0.3s ease-in-out;
                            border-radius: 50%;
                            background-color: #CCCCCC;
                            margin-right: 18px;
                            transition: all .2s;
                            &:hover{
                                opacity: 0.7;
                            }
                            img{
                                width: 20px;
                                height: 20px;
                            }
                            &.fb{
                                img{
                                    width: 10px;
                                    height: auto;
                                }
                            }
                        }
                    }
                }
            }
        }
        // .ci_down{
        //     font-size: $font_size_M;
        //     line-height: 36px;
        // }
    }
    .c_portfolio{
        margin-bottom: 20px;
        // animation: fadeInSlideUp 1s ease-in-out forwards;
        // transform: translateY(50px);
        animation-delay: 0.3s;
        // opacity: 0;
        padding: 0px 35px;
        position: relative;
        background-image: url('../../images/triangle.svg'); /* 替換為你的圖片 */
        background-repeat: no-repeat;
        background-position: center bottom;
        background-size: cover; /* 讓圖片自適應區塊 */
        // &::before {
        //     content: "";
        //     position: absolute;
        //     bottom: -50px;
        //     z-index: 0;
        //     right: 0;
        //     width: 100%; /* 三角形的底邊寬度 */
        //     height: 186.5px;
        //     background-image: url('../../images/triangle.svg'); /* 替換為你的圖片 */
        //     background-repeat: no-repeat;
        //     background-position: center bottom;
        //     background-size: cover; /* 讓圖片自適應區塊 */
        //     pointer-events: none; /* 避免影響點擊 */
        // }
        .c_title{
            color: #1E1E1E;
            text-align: center;
        }
        .c_contain{
            overflow: hidden;
            .cp_wrapper {
                display: flex;
                transition: transform 0.4s ease-in-out; // 加上滑動動畫
                width: 100%; // 避免 flex 影響排列
            }
            .cp_list{
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-gap: 28px 22px;
                flex: 0 0 100%; // 讓每頁剛好佔滿容器
                box-sizing: border-box;
                padding-bottom: 14px;
                a{
                    overflow: hidden;
                    max-height: 130px;
                    height: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                        transform:scale(1);
                        transition: transform 0.3s ease-in-out;
                    }
                    &:hover{
                        overflow: hidden;
                        img{
                            transform:scale(1.1);
                        }
                        
                    }
                }
                &.cp_list_last{
                    display: inline-table;
                    box-sizing: border-box;
                    a{
                        display: inline-block;
                        vertical-align: top;
                        margin-right: 20px;
                        margin-bottom: 20px;
                        overflow: hidden;
                        width: calc( ( 100% - 40px ) / 3 );
                        max-height: 151px;
                        &:nth-child(3n){
                            margin-right: 0;
                        }
                    }
                }
            }
            .cp_listmark{
                text-align: center;
                margin-top: 20px;
                button{
                    display: inline-block;
                    margin-right: 25px;
                    opacity: 1;
                    transition: all .3s;
                    color: #ffffff;
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                    &.active , &:active{
                        cursor: initial;
                        border-bottom: solid 1px #ffffff;
                    }
                }
            }
        }
    }
    .c_contact{
        margin-bottom: 50px;
        // animation: fadeInSlideUp 1s ease-in-out forwards;
        // transform: translateY(50px);
        animation-delay: 0.5s;
        // opacity: 0;
        padding: 0px 35px;
        .c_title{
            margin-bottom: 18px;
        }
        .c_contain{
            color: #ffffff;
            width: calc(100% - 26px - 17px);
            ul li{
                display: flex;
                align-items: center;
                padding: 10px 0px;
                border-bottom: solid 0.5px #FFFFFF80;
                line-height: 1em;
                span{
                    display: inline-flex;
                    font-weight: lighter;
                    letter-spacing: 0.05em;
                    font-size: $font_size_M;
                    &:first-child{
                        margin-right: 15px;
                        img{
                            width: 24px;
                        }
                    }
                }
                &:first-child{
                    padding-top: 0;
                }
                &:last-child{
                    border-bottom: 0px;
                }
            }
        }
    }
    .c_company{
        padding-bottom: 75px;
        // animation: fadeInSlideUp 1s ease-in-out forwards;
        // transform: translateY(50px);
        animation-delay: 0.7s;
        padding: 0px 35px;
        // opacity: 0;
        padding-bottom: 60px;
        .c_title{
            margin-bottom: 18px;
        }
        .c_contain{
            display: flex;
            align-items: center;
            color: #ffffff;
            .cm_left{
                width: 100px;
                margin-right: 25px;
                background-color: #ffffff;
                height: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: auto;
                }
            }
            .cm_right{
                width: calc(100% - 123px - 26px - 17px);
                ul li{
                    padding: 10px 0px;
                    border-bottom: solid 0.5px #FFFFFF80;
                    font-size: $font_size_M;
                    line-height: 1em;
                    font-weight: lighter;
                    letter-spacing: 0.05em;
                    &:first-child{
                        padding-top: 0;
                    }
                    &:last-child{
                        padding-bottom: 0;
                        border-bottom: 0px;
                    }
                }
            }
        }
    }
}

.index_bg{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
              url('../../images/index_bg.png');
    background-size: auto calc( 100% - 3px ); /* 寬度100%，高度50% */
    background-position: bottom; /* 讓背景對齊上方 */
    background-repeat: no-repeat;
}

.to_top{
    margin-right: 9px;
    color: #ffffff;
    background-color: rgba($color: #000000, $alpha: 0.6);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 78px;
    right: calc(50% - 320px);
    transition: all .3s;
    border: solid 1px #858585;
    div{
        font-size: $font_size_XS;
        font-weight: 300;
        letter-spacing: 0.05em;
        &:nth-child(2n){
            margin-left: 0.05em;
            margin-top: 5px;
        }
    }
    &:hover{
        opacity: 0.8;
    }
    img{
        width: 14px;
    }
        
}

.quickaccess{
    position: absolute;
    right: 0px;
    bottom: 8px;
    cursor: pointer;
    .qa_contanin{
        background-color: #ffffff;
        cursor: pointer;
        color: #1E1E1E;
        font-size: $font_size_M;
        padding: 10px 24px;
        padding-left: 34px;
        padding-bottom: 11px;
        border-radius: 30px 0 0 0 ;
        font-weight: 600;
        position: relative;
        letter-spacing: 0.05em;
        img{
            width: 11px;
            margin-left: 12px;
            position: relative;
            top: -2px;
        }
        .qa_new{
            font-weight: 700;
            font-style: italic;
            display: block;
            background-color: #E86916;
            padding: 2px 6px;
            color: #ffffff;
            border-radius: 20px;
            position: absolute;
            top: -5px;
            left: -10px;
            font-size: $font_size_XS;
            letter-spacing: 0.05em;
        }
    }
}

.index_an{
    animation: fadeInSlideUp 1s ease-in-out forwards;
    transform: translateY(50px);
    opacity: 0;
}


@keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }


@media (max-width:640px) {
    .to_top{
        right: 9px;
    }
}


@media (max-width:500px) {
    .container .c_contact .c_contain{
        width: 100%;
    }
    .container .c_portfolio , .container .c_contact , .container .c_company{
        padding: 0px 20px;
    }
    .container .c_company{
        padding-bottom: 60px;
    }
    .container .c_info{
        padding: 20px 20px;
        background-size: auto 271px;
        &::after{
            top: 200px;
            height: 71.5px;
        }
    }
    .container .c_info .ci_top{
        display: block;
        text-align: center;
        margin-top: 40px;
        .ci_top_r{
            width: 100%;
            margin-left: 0;
            text-align: center;
            margin-top: 20px;
            .ci_in{
                text-align: center;
            }
            .ci_tag{
                margin-bottom: 12px;
            }
            h6,p{
                margin-left: 0;
            }
            p{
                margin-bottom: 11px;
            }
            div{
                margin-left: 0px;
                justify-content: center;
                .social{
                    justify-content: center;
                    button.arrow_r_bt{
                        margin-right: 0;
                        margin-left: 15px;
                    }
                }
            }
        }
    }

    .c_portfolio .c_contain .cp_list {
        flex-wrap: nowrap; // 讓其能夠水平滾動
    }

    .container .c_portfolio .c_contain .cp_list{
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px 20px;
        a {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 8); // 變成 4 行
        }
    } 

    .container .c_portfolio .c_contain .cp_list.cp_list_last{
        a{
            width: calc((100% - 20px) / 2);
            &:nth-child(3n){
                margin-right: 20px;
            }
            &:nth-child(2n){
                margin-right: 0px;
            }
        }
    }

    .container .c_company .c_contain{
        display: block;
        .cm_left{
            width: 100%;
            margin-right: 0px;
            margin-bottom: 20px;
            text-align: center;
            height: 150px;
            img{
                height: 80px;
            }
        }
        .cm_right{
            width: 100%;
        }
    }

    .to_top{
        bottom: 58px;
    }
}


@media (max-width:330px) {
    .container .c_info .ci_top .ci_top_r div .social button.arrow_l_bt{
        margin-right: 17px;
    }
    .container .c_info .ci_top .ci_top_r div .social button.arrow_r_bt{
        margin-left: -1px;
    }
}

