// 開始切版寫這哦~

@import url('https://fonts.googleapis.com/css2?family=Zain:ital,wght@0,200;0,300;0,400;0,700;0,800;0,900;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Zain", sans-serif;
    font-style: normal;
}

.max-width {
    max-width: 1440px;
}

.mySwiper {
    .swiper-button-prev,
    .swiper-button-next {
        width:auto;
        height:auto;
        margin:0;
        z-index: 99999;
        img{
            display:block;
            width:100%;
            height:100%;
            pointer-events:none;
        }
        &:after {
            display: none;
        }
    }
    .swiper-button-next {
        transform: rotate(180deg);
    }
}

.swiper {
    .swiper-button-prev,
    .swiper-button-next {
        &:after {
            display: none;
        }
    }
    .swiper-button-next {
        transform: rotate(180deg);
    }
}

.about {
    background-color: #FFE4EF;
    min-height: 100vh;
    padding-top: 220px;
    position: relative;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 88px;
        background-color: #CFAAFF;
    }
    .about-content {
        margin: 0 auto;
        max-width: 750px;
        position: relative;
        margin-bottom: 101px;
        .about-float-01 {
            position: absolute;
            top: -110px;
            right: 0px;
            -webkit-text-stroke: 1px #231F20;
            text-stroke: 1px #231F20;
            paint-order: stroke;
            color: transparent;
            z-index: 10;
            div {
                font-weight: 900;
                font-size: 40px;
                line-height: 50px;    
                letter-spacing: 10%;
            }
        }
        .about-float-02 {
            position: absolute;
            transform: rotate(-90deg);
            top: 330px;
            left: -100px;
            font-size: 43px;
            font-weight: 900;
            letter-spacing: 10%;
            color: #231F20;
        }
        .about-float-03 {
            position: absolute;
            top: -31px;
            right: -353px;
        }
        .about-float-04 {
            position: absolute;
            top: 133px;
            left: -402px;
            z-index: 3;
        }
        .about-float-05 {
            position: absolute;
            top: 166px;
            right: -300px;
        }
        .about-photo {
            position: absolute;
            top: -80px;
            left: -63px;
            width: 213px;
            overflow: hidden;
            border:solid 2px #FF7895;
            z-index: 10;
            img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .about-content-text {
        letter-spacing: 10%;
        background-color: #EDFE9D;
        border:solid 2px #FF7895;
        padding: 30px 55px 75px 79px;
        margin-left: 100px;
        position: relative;
        z-index: 9;
        .about-content-job {
            font-size: 15px;
            margin-bottom: 15px;
        }
        .about-content-name {
            font-size: 20px;
            font-weight: 900;
            margin-bottom: 15px;
            span {
                font-size: 16px;
            }
        }
        .about-content-tag {
            font-size: 20px;
            font-weight: 900;
            color: #FF7895;
            margin-bottom: 20px;
        }
        .about-content-desc {
            font-size: 15px;
            line-height: 30px;
        }
    }
    .about-bottom {
        background-color: #FF7895;
        border:solid 2px #FF7895;
        border-radius: 44px;
        display: flex;
        align-items: center;
        max-width: 1369px;
        margin: 0 auto;
        justify-content: space-between;
        overflow: hidden;
        position: relative;
        z-index: 2;
        .about-bottom-left {
            letter-spacing: 10%;
            margin-left: 85px;
            .about-bottom-title {
                font-size: 48px;
                font-weight: 900;
                color: #FEFE9D;
                line-height: 65px;
                margin-bottom: 11px;
            }
            .about-bottom-subtitle {
                font-size: 18px;
                font-weight: 900;
                color: #FEFE9D;
                line-height: 65px;
                margin-bottom: 19px;
            }
            .about-bottom-content {
                color: #FFFFFF;
                line-height: 30px;
                margin-bottom: 88px;
            }
            .about-bottom-button button{
                cursor: pointer;
                border:solid 2px #FFFFFF;
                border-radius: 50px;
                font-size: 15px;
                font-weight: 900;
                color: #FFFFFF;
                transition: all 0.3s ease-in-out;
                background-color: transparent;
                padding: 5px 12px;
                letter-spacing: 10%;
                &:hover {
                    filter: brightness(0.8);
                }
                img {
                    margin-left: 8px;
                }
            }
        }
        .about-bottom-right {
            display: flex;
        }
    }
}



.product {
    background-color: #CFAAFF;
    padding-top: 105px;
    .title {
        text-align: center;
        color: #FEFE9D;
        letter-spacing: 10%;
        padding-bottom: 27px;
        position: relative;
        img {
            position: absolute;
            top: 40%;
            right: 40px;
            transform: translateY(-50%);
            width: 300px;
        }
    }
    .product-title {
        font-size: 40px;
        font-weight: 900;
        line-height: 50px;
        margin-bottom: 11px;
    }
    .product-subtitle {
        margin-bottom: 22px;
    }

    .productSwiper {
        padding-bottom: 135px;
        position: relative;
        .swiper-button-prev,
        .swiper-button-next {
            position: absolute;
            bottom: 47px;
            top: auto;
            width:auto;
            height:auto;
            margin:0;
            z-index: 99999;
            img{
                display:block;
                width:100%;
                height:100%;
                pointer-events:none;
            }
            &:after {
                display: none;
            }
        }
        .swiper-button-prev {
            
        }
        .swiper-button-next {
            transform: rotate(180deg);
        }

        .swiper-bottom {
            position: relative;
            height: 139px;
        }

        .swiper-pagination {
            position: absolute;
            bottom: 55px;
        }

        .swiper-pagination-bullet {
            height: 20px;
            width: 20px;
            background-color: transparent;
            border: solid 2px #FEFE9D;
            opacity: 1;
            font-size: 14px;
            color: #FEFE9D;
        }

        .product-group {
            display: flex;
            flex-wrap: wrap;
        }

        .ps--slide {
            display: inline-flex;
            align-items: center;
            width: 50%;
            background-color: #EDFE9D;
            .ps-text {
                padding: 0 66px;
                width: 50%;
                box-sizing: border-box;
                letter-spacing: 10%;
                .ps-title {
                    font-size: 18px;
                    font-weight: 900;
                    line-height: 50px;
                }
                .ps-desc {
                    font-size: 15px;
                    line-height: 30px;
                    margin-bottom: 32px;
                }
                .ps-btn {
                    button {
                        cursor: pointer;
                        background-color: #FF7895;
                        border-radius: 50px;
                        font-size: 15px;
                        font-weight: 900;
                        transition: all 0.3s ease-in-out;
                        padding: 5px 12px;
                        letter-spacing: 10%;
                        color: #EDFE9D;
                        border:none;
                        &:hover {
                            background-color: #fe8ea6;
                        }
                    }
                }
            }
            .ps-img {
                display: inline-flex;
                width: 50%;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            &:nth-child(3) ,
            &:nth-child(4) {
                .ps-text {
                    order: 2;
                }
            }
        }
    }
}


.work {
    background-color: #FFE4EF;
    padding-top: 161px;
    padding-bottom: 58px;
    display: flex;
    justify-content: center;
    .work-top {
        display: flex;
        justify-content: space-between;
        background-color: #FF7895;
        .work-left {
            display: flex;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .work-right {
            background-color: #FF7895;
            padding: 47.4px 28px 22px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #FEFE9D;
            letter-spacing: 10%;
            h5 {
                font-size: 48px;
                font-weight: 900;
                line-height: 52px;
            }
            h6 {
                font-size: 18px;
                font-weight: 700;
                line-height: 50px;
            }
            p {
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
    .work-mid {
        padding: 82px 0;
        display: flex;
        justify-content: center;
        position: relative;
        .work-mid-img {
            position: absolute;
            bottom: 42px;
            left: 26px;
        }
        .work-mid-dialog {
            color: #231F20;
            font-size: 15px;
            line-height: 30px;
            font-weight: 900;
            display:inline-block;
            background-color: #EDFE9D;
            border:solid 2px #FF7895;
            padding: 25px 29px;
            border-radius: 25px;
            position: relative;
            img {
                position: absolute;
                top: 50%;
                left: -60px;
                transform: translateY(-50%);
            }
        }
    }
}


.secProduct-group {
    display: flex;
}


.recommend {
    background-color: #CFAAFF;
    padding: 97px 0 79px;
    .max-width {
        max-width: 916px;
        width: 100%;
        margin: 0 auto;
    }
    .recommend-top {
        text-align: center;
        margin-bottom: 40px;
        .recommend-title {
            color: #FEFE9D;
            font-size: 48px;
            letter-spacing: 10%;
            line-height: 47px;
            font-weight: 900;
        }
        .recommend-titletag {
            color: #FEFE9D;
            font-size: 18px;
            line-height: 65px;
            letter-spacing: 10%;
            margin-bottom: 8px;
            font-weight: 500;
        }
        .recommend-titlecontent {
            font-size: 15px;
            line-height: 30px;
            letter-spacing: 10%;
            color: #231F20;
        }
    }

    .recommend-group {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 34px 18px;
        padding-left: 65px;
        padding-right: 20px;
        .re--slide {
            width: calc( (100% - 36px) / 3 );
            display: flex;
            align-items: center;
            gap: 17px;
            .re-img {
                background-color: #FFFFFF;
                border-radius: 32px 0 0 0;
                padding: 8px 16px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .re-entitle {
                font-size: 15px;
            }
        }
    }
}


.contact {
    
}