@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap');

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Noto Sans TC', sans-serif;
}

h1,h2,h3,h4,h5,h6,p{
	padding: 0;
	margin: 0;
	font-family: 'Noto Sans TC', sans-serif;
}

ul, li, ol{
	list-style:none;
}

.clear{
	clear:both;
}

header{
	background-color:#ffffff;
	box-shadow:0 3px 6px #326EA8;
	max-width:100%;
	position:fixed;
	padding:10px 0;
	width:100%;
}

.my_top{
	max-width:1000px;
	margin:0 auto;
}

.my_top h5{
	display:inline-block;
	color:black;
	font-size:28px;
	vertical-align:top;
}

.my_top h5 p{
	font-size:14px;
	font-weight:100;
}

.my_top h4{
	color:#6A6A6A;
	font-size:21px;
	font-weight:300;
	margin-left:5px;
	display:inline-block;
}

article{
	background-image:url("../img/bg.jpg");
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
	height:auto;
	background-position:center center;
}

.my_content{
	max-width:800px;
	margin:0 auto;
	text-align:center;
	padding-top: 110px;
	color:#ffffff;
}

.my_content h1{
	font-size:38px;
	font-weight:400;
}

.my_content h2{
	font-size: 18px;
	margin-top: 10px;
}

/* 開始下面框框內容 */

.down_content{
	max-width:800px;
	margin:0 auto;
	margin-top: 15px;
	padding-bottom: 30px;
}

.down_box{
	border-radius:5px;
	margin-bottom: 15px;
	box-shadow:0 3px 7px #B9B9B9;
}

.down_box_inside{
	padding:15px;
}

.my_title{
	background-color:#47A60F;
	color:#ffffff;
	font-size:20px;
	font-weight:400;
	border-radius:5px 5px 0 0;
	padding:7px 10px;
}

.my_title img{
	position:relative;
	top:-2.3px;
}

.enter_btn img{
	position:relative;
	top:-1px;
}

.top_box{
	display:flex;
}

/* 左框框 */

.left_box{
	width:40%;
	margin-right:1.5%;
	display:inline-block;
	background-color:rgba(255,255,255,1);
}

.teacher_phone{
	font-size:15px;
	color:#292929;
	display:block;
	margin-bottom: 6px;
}

.teacher_phone span{
	margin-right: 2px;
}

.teacher_phone:before{
	content:"";
	display:inline-block;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:6px solid #88C72D;
	position:relative;
	top:-1px;
}

.blue_time{
	color:#009fff;
	background-color:#F0F0F0;
	padding:10px;
	border-radius:5px;
	margin-top:15px;
	margin-bottom: 10px;
	font-weight: 500;
}

.green_words{
	color:#567148;
	font-size:14px;
}



/* 右框框 */

.right_box{
	width:57.8%;
	display:inline-block;
	background-color:rgba(255,255,255,1);
}

.enter_text{
	color:#567148;
	font-size:15px;
	margin-bottom:10px;
}

.big_space img,.sml_space img{
	width:17px;
}

/* .enter_text:before{
	content:"";
	display:inline-block;
	border-top:4px solid transparent;
	border-bottom:4px solid transparent;
	border-left:6px solid #88C72D;
	position:relative;
	top:-1px;
	margin-right: 5px;
} */

.big_space{
	letter-spacing:4px;
}

.sml_space{
	letter-spacing: 1px;
}

.enter_box{
	width:65%;
	border-radius:29px;
	border:1px solid #E5E5E5;
	box-shadow:0 2px 4px #EBEBEB;
	padding:5px 10px;
	font-size:14px;
	font-weight:200;
}

::-webkit-input-placeholder{
  color:#D0D0D0;
  font-weight:200;
}
::-moz-placeholder{
  color:#D0D0D0;
  font-weight:200;
}
::-moz-placeholder{
  color:#D0D0D0;
  font-weight:200;
}

.inside_words{
	color:#969696;
	display:block;
	font-size:12px;
	margin-left: 11em;
    margin-top: 4px;
}

.red_words{
	color:#FA5D63;
}

.number_img{
	max-width:280px;
	height:50px;
	margin-top: 5px;
}

.number_img img{
	max-width: 130px;
}

.enter_btn{
	margin:0 auto;
	background-color:#47A60F;
	width:110px;
	font-size:17px;
	font-weight:500;
	color:#ffffff;
	border-radius:30px;
	text-align:center;
	padding:5px 10px;
	display:block;
}

.enter_btn:hover{
	color:#ffffff;
	text-decoration:none;
	cursor:pointer;
	background-color:#2e7b00;
}

/* 下框框 */

.final_box{
	width:100%;
	background-color:rgba(255,255,255,.9);
}







@media(max-width:768px){
	
	article{
		height: auto;
		padding-bottom: 20px;
	}


	.my_top{
		text-align:center;
	}

	.my_top h5{
		display:inline-block;
	}

	.my_top h4{
		display: inline-block;
		margin-left:40px;
		margin-top: 5px;
	}

	.my_content{
		width:100%;
		padding-bottom: 10px;
		padding-top: 100px;
	}

	.my_content h1 span{
		display: inline-block;
		padding-top: 8px;
	}

	.top_box{
		display:block;
	}
	
	.left_box,.right_box,.final_box{
		width:90%;
		margin:0 auto;
		display:block;
		margin-bottom: 15px;
	}

}

@media(max-width:467px){
	.enter_box{
		width:100%;
		display:block;
	}

	.inside_words{
		margin-left: 0;
	}

/* 	.number_img{
		margin:0 auto;
		margin-top: 5px;
	}
 */
}





