* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

.img_size {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

//reset----------