<footer class="footer">
    <template id="footer-template">
        <div class="all_width">
            <div class="f_left">
                <div class="f_logo">
                    <img src="" alt="Logo">
                </div>
                <div class="f_title">
                    <!-- 帝堡實業有限公司 -->
                </div>
                <div class="f_en_title">
                    <!-- Dì Bǎo Industrial Co., Ltd. -->
                </div>
            </div>
            <div class="f_right">
                <div class="f_nav_btn">
                    <!-- 按鈕們 單純包button -->
                </div>
                <div class="f_mid_btn">
                    <div class="f_mid_left">
                        <a class="f_yellow_box">
                            <div class="f_icon">
                                <img src="../img/phone.svg" alt="">
                            </div>
                            <div class="f_text">
                                04-7683059
                            </div>
                        </a>
                        <a class="f_yellow_box">
                            <div class="f_icon">
                                <img src="../img/fax.svg" alt="">
                            </div>
                            <div class="f_text">
                                04-7683060
                            </div>
                        </a>
                    </div>
                    <div class="f_mid_mid">
                        <a class="f_yellow_box">
                            <div class="f_icon">
                                <img src="../img/mail.svg" alt="">
                            </div>
                            <div class="f_text">
                                ny7683059@gmail.com
                            </div>
                        </a>
                        <a class="f_yellow_box">
                            <div class="f_icon">
                                <img src="../img/map.svg" alt="">
                            </div>
                            <div class="f_text">
                                彰化縣秀水鄉曾厝村曾福巷49號
                            </div>
                        </a>
                    </div>
                    <div class="f_mid_right">
                        <a class="f_icon">
                            <img src="../img/fb.svg" alt="">
                        </a>
                        <a class="f_icon">
                            <img src="../img/line.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="f_copyright">
                    Copyright © 2025 帝堡實業有限公司. All Rights Reserved.Design by Choice
                </div>
            </div>
        </div>
    </template>
</footer>