h1, h2, h3, h4, h5, h6 {
  color: #1A1A1A;
  font-weight: 400;
  -webkit-margin-before: 0.15em;
  margin-block-start: 0.15em;
  -webkit-margin-after: 0.15em;
  margin-block-end: 0.15em;
  line-height: 1.4em; }

h1 {
  font-size: 25.2px; }

h2 {
  font-size: 22.4px; }

h3 {
  font-size: 19.6px; }

h4 {
  font-size: 18.2px; }

h5 {
  font-size: 16.1px; }

h6 {
  font-size: 15.4px; }

.bg-color {
  background-color: #F5F5F5; }

.fz-s {
  font-size: 10.5px; }

.fz {
  font-size: 12.25px; }

.fz-m {
  font-size: 14px; }

.fz-l {
  font-size: 15.75px; }

.fz-xl {
  font-size: 17.5px; }

.T-darkblue {
  color: #002780; }

.T-blue {
  color: #2B72B9; }

.T-ltblue {
  color: #37C5D8; }

.T-black {
  color: #1A1A1A; }

.T-gray {
  color: #818181; }

.T-ltgray {
  color: #DBDBDB; }

.T-green {
  color: #23C990; }

.T-ltgreen {
  color: #92d852; }

.T-yellow {
  color: #FFF500; }

.T-ltyellow {
  color: #FFF9E3; }

.T-red {
  color: #E02F74; }

.T-ltred {
  color: #FF86B5; }

.bg-darkblue {
  background-color: #002780; }

.bg-blue {
  background-color: #2B72B9; }

.bg-ltblue {
  background-color: #37C5D8; }

.bg-black {
  background-color: #1A1A1A; }

.bg-gray {
  background-color: #818181; }

.bg-ltgray {
  background-color: #DBDBDB; }

.bg-green {
  background-color: #23C990; }

.bg-ltgreen {
  background-olor: #92d852; }

.bg-yellow {
  background-color: #FFF500; }

.bg-ltyellow {
  background-color: #FFF9E3; }

.bg-red {
  background-color: #E02F74; }

.bg-ltred {
  background-color: #FF86B5; }

.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-color: #fff; }

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex-2 {
  -webkit-box-flex: 2;
  -ms-flex: 2;
  flex: 2; }

.flex-3 {
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3; }

.flex-4 {
  -webkit-box-flex: 4;
  -ms-flex: 4;
  flex: 4; }

.flex-5 {
  -webkit-box-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.flex-6 {
  -webkit-box-flex: 6;
  -ms-flex: 6;
  flex: 6; }

.flex-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.btm-5 {
  margin-bottom: 5px; }

.btm-10 {
  margin-bottom: 10px; }

.btm-15 {
  margin-bottom: 15px; }

.btm-20 {
  margin-bottom: 20px; }

.mgr-5 {
  margin-right: 5px; }

.mgr-10 {
  margin-right: 10px; }

.mgr-15 {
  margin-right: 15px; }

.mgr-20 {
  margin-right: 20px; }

.alle-button {
  /* Structure */
  display: inline-block;
  zoom: 1;
  line-height: normal;
  white-space: nowrap;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Firefox: Get rid of the inner focus border */
.alle-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

/*csslint outline-none:false*/
.alle-button {
  font-family: inherit;
  font-size: 100%;
  padding: 0.3em 0.6em;
  color: #444;
  /* rgba not supported (IE 8) */
  color: rgba(0, 0, 0, 0.8);
  /* rgba supported */
  border: 1px solid #999;
  /*IE 6/7/8*/
  border: none rgba(0, 0, 0, 0);
  /*IE9 + everything else*/
  background-color: #E6E6E6;
  text-decoration: none;
  border-radius: 5px; }

.alle-button-hover,
.alle-button:hover,
.alle-button:focus {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#1a000000',GradientType=0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
  background-image: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(40%, rgba(0, 0, 0, 0.05)), to(rgba(0, 0, 0, 0.1)));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1)); }

.alle-button:focus {
  outline: 0; }

.alle-button-active,
.alle-button:active {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
  border-color: #000\9; }

.alle-button[disabled],
.alle-button-disabled,
.alle-button-disabled:hover,
.alle-button-disabled:focus,
.alle-button-disabled:active {
  border: none;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  filter: alpha(opacity=40);
  -khtml-opacity: 0.40;
  -moz-opacity: 0.40;
  opacity: 0.40;
  cursor: not-allowed;
  -webkit-box-shadow: none;
  box-shadow: none; }

.alle-button-hidden {
  display: none; }

/* Firefox: Get rid of the inner focus border */
.alle-button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.alle-button-darkblue,
.alle-button-selected,
a.alle-button-darkblue,
a.alle-button-selected {
  background-color: #002780;
  color: #fff; }

.alle-button-primary,
.alle-button-selected,
a.alle-button-primary,
a.alle-button-selected {
  background-color: #0078e7;
  color: #fff; }

.alle-button-blue,
.alle-button-selected,
a.alle-button-blue,
a.alle-button-selected {
  background-color: #2B72B9;
  color: #fff; }

.alle-button-ltblue,
.alle-button-selected,
a.alle-button-ltblue,
a.alle-button-selected {
  background-color: #37C5D8;
  color: #fff; }

.alle-button-black,
.alle-button-selected,
a.alle-button-black,
a.alle-button-selected {
  background-color: #1A1A1A;
  color: #fff; }

.alle-button-gray,
.alle-button-selected,
a.alle-button-gray,
a.alle-button-selected {
  background-color: #818181;
  color: #fff; }

.alle-button-green,
.alle-button-selected,
a.alle-button-green,
a.alle-button-selected {
  background-color: #23C990;
  color: #fff; }

.alle-button-ltgray,
.alle-button-selected,
a.alle-button-ltgray,
a.alle-button-selected {
  background-color: #DBDBDB;
  color: #fff; }

.alle-button-ltgreen,
.alle-button-selected,
a.alle-button-ltgreen,
a.alle-button-selected {
  background-color: #92d852;
  color: #fff; }

.alle-button-red,
.alle-button-selected,
a.alle-button-red,
a.alle-button-selected {
  background-color: #E02F74;
  color: #fff; }

.alle-button-ltred,
.alle-button-selected,
a.alle-button-ltred,
a.alle-button-selected {
  background-color: #FF86B5;
  color: #fff; }

.form {
  display: block;
  margin-top: 0; }

.label {
  display: inline-block;
  margin-bottom: .5rem; }

.form-input {
  width: 100%;
  height: 30px;
  padding: 3px 5px;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #D5D5D5;
  outline: none; }
  .form-input.inline {
    width: auto; }

.form-textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #D5D5D5;
  overflow: auto;
  border-radius: 2px;
  outline: none; }

.Tabs li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  max-width: 20%;
  background-color: #FFF;
  border-bottom: 1px solid #CCC;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 3px; }
  .Tabs li:hover {
    color: #666;
    border-color: #666;
    cursor: pointer;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s; }
  .Tabs li.active {
    font-weight: 600;
    border-bottom: 3px inset #2B72B9; }
