@charset "UTF-8";
*{
	font-family: '微軟正黑體';
	margin:0 auto;
	padding:0;
}
.clear{
	clear:both;
}
.content-2{
	max-width:1000px;
	background-color: #fff;
	margin:0 auto;
	padding-top:5%;
}
.content-2 .download h1{
	display:block;
	text-align:center;
	font-size:20px;
	color:#6DA7D1;
}
.content-2 .download hr{
	height:3px;
	border:none;
	background-color:#6DA7D1;
	max-width:80%;
	margin-top:10px;
}
.content-2 .box1{
	box-shadow:0 0  13px #D1D1D1;
	font-size:14px;
	width:80%;
	margin:0 auto;
}

/* 麵包屑 */
.content-2 .breadcrumb{
	background-color:#fff;
	margin:0;
	padding-left:10%;
}

/* 上面的按鈕 */
.content-2 .btn{
	border: 0;
	display:flex;
}
.content-2 .btn ul{
	display:flex;
}
.content-2 .btn li{
	list-style:none;
	margin:0 1%;
}
.content-2 .btn a{
	padding:15px
}
.content-2 .btn li:nth-child(3n+2){
	background-color:#FFF5CB;
}
.content-2 .btn li:nth-child(3n+3){
	background-color:#CBF3FF;
}
.content-2 .btn li:nth-child(3n+4){
	background-color:#FFD7CB;
}


/* 下面整列的部分 */

.content-2 .box1 ul{
	list-style:none;
}
.content-2 .box1 li{
	list-style:none;
	border-bottom-width:1px;
	border-bottom-style:dashed;
	border-bottom-color:#D6D6D6;
	margin:10px;
	padding:5px 15px 5px 13px;
}

.content-2 .box1 li:last-child{
	border-bottom:none;
}

.content-2 .box1 .point:before{
	content:"";
	display:inline-block;
	width:7px;
	height:7px;
	border-radius:50%;
	background-color:#166BBF;
}

/* 表格分三欄 寬度設定區 */

.content-2 .box1{
	display:table;
}
.content-2 .box1 span{
	display:table-cell;
}
.content-2 .box1 .point{
	width:67%;
}
.content-2 .box1 .date{
	width:21%;
}


.content-2 #page{
	text-align:center;
}

@media(max-width:768px){
.content-2 .box1 .point{
	width:64%;
}

}

@media(max-width:414px){
.content-2 .box1 .point{
	width:60%;
}
.content-2 .box1 .date{
	width:20%;
	text-align:right;
}
.content-2 .box1 .load{
	text-align:right;
}
.content-2 .btn li{
	padding:5px 0;
}
.content-2 .btn a{
	padding:5px 6px;
}
.content-2 .btn ul{
	margin-left:8%;
}

}


@media(max-width:375px){
.content-2 .box1 .date{
	text-align:center;
}
.content-2 .btn li{
	padding:5px 0;
}
.content-2 .btn a{
	padding:5px 6px;
}
.content-2 .btn ul{
	margin-left:3%;
}
}





