@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

*{
	padding: 0;
	margin: 0;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
} 

// 點擊後滑動到特定div 滑順
html{
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.all_width{
  max-width: 1000px;
  margin: 0 auto;
}

img{
  width: 100%;
}

// setting
$font_size_XL: 32px;
$font_size_L: 24px;
$font_size_M: 20px;
$font_size_S: 16px;
$font_size_XS:14px;

$main_color: #8B4B2D;
$sec_color: #AF4B1E;
$deep_color:#361100;

// 選單
.nav {
  position: relative;
  animation-name: nav;
  animation-duration: 2s;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  h1 {
    display: inline-block;
  }
  .nav_bar{
    /* 隱藏 checkbox */
    input {
      display: none;
    }

    /* 漢堡按鈕 */
    .line{
      right: 8px;
      top: 24px;
      width: 20px;
      height: 20px;
      background: #775343;
      cursor: pointer;
      display: block;
      padding: 16px;
      position: fixed;
      z-index: 2;
      border: solid 1.5px #ffffff;
      border-radius: 8px;
      .switch , .switch::before , .switch::after{
        background-color: #ffffff;
        content: '';
        display: block;
        height: 3px;
        position: absolute;
        transition: background-color ease .3s, top ease .3s .3s, transform ease .3s;
        width: 23px;
      }
      .switch {
        left: 15px;
        top: 24px;
        &::before {
          top: -9px;
        }
        &::after {
          top: 9px;
        }
      }
    }

    /* menu*/
    .menu {
      clear: both;
      .menu_title_phone , .menu_phone_button{
        display: none;
      }
      li {
        text-align: center;
        display: inline-block;
        a {
          display: block;
          text-align: center;
          color: $main_color;
          font-size: $font_size_S;
          letter-spacing: 3px;
          span{
            display: block;
          }
          .menu_top{
            max-height: 2em;
            padding-bottom: 4px;
            img{
              max-height: 2em;
              display: inline-block;
              &.nav_uc{
                display: none;
              }
            }
          }
        }
      }
    }

    /* 下拉選單效果 */
    .menu {
      max-height: 0;
      overflow: hidden;
      transition: .2s; /* 動畫秒數 */
    }

    input:checked ~ .menu {
      max-height: fit-content;
      background-color: transparent;
      li{
        display: inline-block;
        padding: 0px;
      }
    }
  }
}

/* 點選選單變叉叉 */
#switch:checked + .line .switch {
  background: transparent !important;
}
#switch:checked + .line .switch::before {
  transform: rotate(45deg) !important;
}

#switch:checked + .line .switch::after {
    transform: rotate(-45deg) !important;
}

#switch:checked + .line .switch::before,
#switch:checked + .line .switch::after {
    top: 0 !important;
    transition: top ease .3s, transform ease .3s .3s !important;
}

#switch:checked + .line{
  border-color: rgba(255, 255, 255, 0);
  transition: all .5s;
}


@media screen and (min-width: 768px) {
  // 下拉選單
  .nav .nav_bar{
    .line {
      display: none;
    }
    .menu {
      clear: none;
      max-height: calc(4em + 4px + 32px);
      background-color: #ffffff;
      div{
        text-align: center;
        li{
          width: calc(100% / 5 );
          a{
            padding: 16px 0px;
            transition: all 0.5s;
            &:hover , &:focus{
              background-color: $main_color;
              color: #ffffff;
              .nav_c{
                display: none;
              }
              .nav_uc{
                display: block;
              }
            }
          }
        }
      }
    }
  }
}

// 網頁載入特效
@keyframes header{
    0%  {
      opacity: 0;
    }
    100%{
      opacity: 100;
    }
}

@keyframes nav{
  0%  {
    opacity: 0;
  }
  30%  {
    opacity: 0;
  }
  100%{
    opacity: 100;
  }
}

/* -----------以下為主要頁面css------------ */

header{
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: header;
  animation-duration: 2s;
  .all_width{
    position: relative;
    min-height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .header_text , .header_text_02{
    color: #ffffff;
    position: absolute;
    writing-mode: vertical-lr;
    letter-spacing: 0.8em;
    font-size: $font_size_S;
  }
  .header_text{
    top: 40px;
    left: 0px;
  }
  .header_text_02{
    top: calc(40px + 1.8em);
    left: 1.8em;
  }
  .header_title{
    display: inline-block;
    color: #ffffff;
    font-size: 36px;
    border-radius: 50%;
    border:solid 4px #ffffff;
    padding: 12px calc(12px + 1em);
  }
  button{
    position: absolute;
    top: 40px;
    right: 0px;
    border: solid 1px #ffffff;
    border-radius: 8px;
    font-size: $font_size_S;
    padding: 8px 16px;
    color: #ffffff;
    background-color: rgba(139 , 75 , 45 ,0.4);
    cursor: pointer;
    transition: all .5s;
    img{
      display: inline-block;
      width: 1em;
      margin-right: 4px;
    }
    &:hover{
      opacity: 0.8;
    }
  }
}

.about{
  background: url("../img/about_bg.jpg") no-repeat;
  background-size: 80vw;
  background-position: right;
  height: 287px;
  background-color: $deep_color;
  font-size: $font_size_S;
  > div{
      > div{
        display: inline-block;
        vertical-align: top;
        color: #ffffff;
        margin-top: 60px;
        &.about_title{
          color: #ffffff;
          border: solid 1px #ffffff;
          border-radius: 50%;
          padding: 24px calc(24px + 1em);
          font-size: $font_size_L;
          margin-right: 24px;
          span{
            display: block;
          }
        }
        &.about_cont{
          width: calc( 100% - 5em - 50px - 24px );
          span{
            display: block;
            margin-bottom: 8px;
          }
          .about_france{
            margin-top: 20px;
          }
        }
      }
  }
}

.menudes{
  padding-top: 88px;
  .menudes_title{
    text-align: center;
    > div{
      font-size: $font_size_M;
      color: #D6A290;
      border: solid 1px #D6A290;
      padding: 12px 20px;
      display: inline-block;
    }
  }
  .menudes_list{
    display: flex;
    flex-wrap: wrap;
    li{
      text-align: center;
      display: inline-block;
      vertical-align: top;
      margin-top: 44px;
      width: calc((100% - 120px) / 4);
      margin-right: 40px;
      &:nth-child(4n){
        margin-right: 0px;
      }
      .menudes_img{
        height: 150px;
        margin-bottom: 20px;
        img{
          width: auto;
          height: 100%;
          text-align: center;
        }
      }
      .menudes_list_top{
        color: $sec_color;
        font-size: $font_size_M;
        margin-bottom: 12px;
        span{
          display: inline-block;
          img{
            width: 1em;
            position: relative;
            top: 2px;
          }
        }
      }
      .menudes_list_in{
        color: #AEAEAE;
        font-size: $font_size_S;
      }
    }
  }
}

.costumer{
  margin-top: 88px;
  background-color: #FFF3ED;
  display: flex;
  padding-right: 30px;
  .costumer_left{
    width: 20vw;
    background-color: $main_color;
    color: #ffffff;
    text-align: right;
    padding-top: 12px;
    display: inline-block;
    .costumer_title{
      // position: absolute;
      // right: 20px;
      // top: 20px;
      background: url("../img/customer_title.png") no-repeat;
      background-size: 5em;
      background-position: right top;
      padding: 25px 20px;
      padding-left: 80px;
      margin-top: 40px;
      margin-bottom: 40px;
      font-size: $font_size_M;
    }
    .costumer_more{
      width: 1em;
      display: inline-block;
      color: #ffffff;
      padding: 20px;
      transition: all .2s;
      span{
        display: block;
        width: 1em;
      }
      &:hover{
        opacity: 0.8;
      }
    }
  }
  .costumer_right{
    width: calc(1200px - 20vw - 0px);
    padding: 50px 30px;
    display: flex;
    justify-content: flex-start;
    padding-right: 0px;
    .costumer_list{
      background-color: #ffffff;
      border-radius: 8px;
      padding: 36px 36px;
      margin-right: 25px;
      display: inline-block;
      width: calc((100% - 50px) / 3);
      font-size: $font_size_XS;
      &:last-child{
        margin-right: 0;
      }
      .costumer_list_title{
        display: flex;
        align-items: center;
        color: #525252;
        font-size: $font_size_S;
        margin-bottom: 8px;
        .costumer_head{
          display: inline-block;
          width: 40px;
          margin-right: 12px;
        }
        span:last-child{
          position: relative;
          top: -2px;
        }
      }
      .costumer_list_star{
        display: flex;
        justify-content: space-between;
        color: #909090;
        .costumer_starsss{
          margin-bottom: 8px;
          img{
            width: 1.5em;
            display: inline-block;
            margin-right: 2px;
          }
        }
      }
      .costumer_commont_img{
        margin-bottom: 4px;
      }
      .costumer_commont_text{
        color: #909090;
      }
    }
  }
}

// 田飯店面
footer{
  background: url("../img/footer_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  background-color: rgba(45, 43, 43, 0.7);
  background-blend-mode: multiply;
  padding-bottom: 60px;
  .footer_title{
    color: #ffffff;
    text-align: center;
    font-size: 32px;
    padding: 40px;
    >div{
      display: inline-block;
      border: solid 4px #ffffff;
      border-radius: 50%;
      padding: 16px calc(1em + 12px);
      span{
        display: block;
      }
    }
  }

  .footer_in{
    .footer_left{
      display: inline-block;
      width: 450px;
      margin-right: 28px;
      img{
        border-radius: 8px;
      }
    }
    .footer_right{
      display: inline-block;
      width: calc( 100% - 454px - 28px );
      vertical-align: top;
      color: #ffffff;
      .footer_list{
        margin-bottom: 18px;
        .footer_list_img{
          display: inline-block;
          margin-right: 6px;
          img{
            width: 0.8em;
          }
        }
      }
      .footer_list_title{
        color: #FFE6DB;
        width: 4em;
        display: inline-flex;
        justify-content: space-between;
        margin-right: 10px;
      }
      .footer_list_info{
        display: inline-block;
        width: calc( 100% - 4em - 1px - 2em - 6px );
        vertical-align: top;
        span{
          display: block;
          margin-bottom: 12px;
          .footer_rest{
            display: inline-block;
            color: #FFEAC7;
            border: solid 1px #FFEAC7;
            border-radius: 8px;
            padding: 6px 16px;
          }
        }
      }
    }
  }
}

.copyright{
  text-align: center;
  color: #ffffff;
  background-color: #361100;
  padding: 12px 0px;
  font-size: $font_size_XS;
  letter-spacing: 0.2em;
}

 /* RWD */ 
 @media(max-width:768px){
  .all_width{
    padding-left: 16px;
    padding-right: 16px;
  }
  // 選單
  .nav{
    position: static;
    .nav_bar{
      .menu{
        height: 0px;
        position: fixed;
        top: 0px;
        width: 100%;
        transition: all .5s;
        padding-top: 0px !important;
        .all_width{
          padding: 0px;
        }
        .menu_title_phone{
          display: block;
          padding: 20px 16px;
          background-color: #775343;
          color: #FFDFD0;
          div{
            display: inline-block;
            border: solid 1px #FFDFD0;
            border-radius: 50%;
            padding: 8px calc(1em + 8px);
            span{
              display: block;
            }
          }
        }
        .menu_phone_button{
          padding: 24px 0px !important;
          button{
            color: #ffffff;
            background-color: #d68862;
            padding: 8px 20px;
            border-radius: 8px;
            border: 0px;
            font-size: $font_size_S;
            img{
              display: inline-block;
              width: 1em;
            }
          }
        }
        li{
          background-color: #ffffff;
          padding: 0px 24px !important;
          a{
            padding: 24px 0px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-bottom: solid 1px #FFE9DF;
            .menu_top{
              margin-right: 12px;
              padding-bottom: 0px;
            }
          }
        }
      }
      input:checked ~ .menu {
        display: block;
        max-height: fit-content;
        background-color: rgba(41 , 15 , 3 , .5);
        z-index: 1;
        padding: 12px 0px;
        height: 100vh;
        li{
          display: block;
        }
      }
    }
  }
  // 標題區
  header{
    .header_text{
      left: 12px;
    }
    .header_text_02{
      left: calc(1.5em + 12px);
    }
    button{
      display: none;
    }
  }
  .about{
    background-size: auto;
    background-position: left;
    > div > div{
      &.about_title{
        display: none;
      }
      &.about_cont{
        width:calc(100% - 20px);
        margin-left: 20px;
      }
    }
  }
  .menudes{
    .menudes_list{
      li{
        width: calc((100% - 40px) / 2);
        margin-right: 20px;
        &:nth-child(2n){
          margin-right: 0px;
        }
      }
    }
  }
  .costumer{
    .costumer_left {
      width: 4em;
      .costumer_title{
        background-size: 0em;
        padding: 25px 0px;
        padding-left: 0px;
        text-align: center;
      }
    }
    .costumer_right{
      width: calc(100% - 4em);
      display: inline-block;
      .costumer_list{
        width: auto;
        margin-right: 0px;
        display: block;
      }
    }
  }
  footer{
    .footer_in{
      .footer_left{
        display: none;
      }
      .footer_right{
        width: 100%;
      }
    }
  }
}