// --------以下是內部樣式
.cross{
    padding: 14px;
    padding-bottom: 16px;
    text-align: right;
}

.cross button{
    position: relative;
    height: 25px;
    display: inline-block;
    transition: all 0.3s;
    width: 29px;
    &::before , &::after{
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        background-color: #84816e;
        border-radius: 5px;
        height: 32px;
        top: -4px;
        right: 12px;
    }
    &::before{
        transform: rotate(48deg);
    }
    &::after{
        transform: rotate(-48deg);
    } 
    &:hover{
        opacity: 0.8;
    }
}

.ccard{
    &.adt_card{
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        overflow: auto;
    }
}

.adt_carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    .adt_cross{
        position: absolute;
        top: -1px;
        right: 0px;
        z-index: 999;
    }
    .adt_arrow{
        position: absolute;
        top: 326px;
        &.left{
            left: 0;
        }
        &.right{
            right: 0;
        }
    }
}

.adt_carousel_track {
    display: flex;
    background: #383838;
    transition: transform 0.5s ease-in-out;
}

.adt_slide {
    min-width: 100%;
    // height: 90vh !important; // 確保每個 slide 高度為 100vh
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; // 讓內容在 `.adt_slide` 內垂直置中
    background: #383838;
    .adt_slide_box{
        height: auto;
        width: calc(100% - 60px - 60px);
        margin: 24px 60px;
    }
    .adt_top{
        width: -webkit-fill-available;
        padding-bottom: 0;
        >div{
            .adt_date{
                text-align: right;
                width: 100%;
                display: block;
                padding-bottom: 19px;
                >span{
                    display: inline-block;
                    background-color: #E6BA00;
                    padding: 10px 16px;
                    >span{
                        display: block;
                        color: #000000;
                        font-family: "Zen Kaku Gothic New", sans-serif;
                        font-style: italic;
                        font-weight: 600;
                        font-size: 20px;
                        text-align: center;
                        line-height: 24.44px;
                    }
                }
            }
            .adt_img{
                overflow: hidden;
                height: 490px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
        }
    }
    .adt_bottom{
        width: -webkit-fill-available;
        // padding: 24px 60px;
        padding-top: 18px;
        color: #2b2b2b;
        font-size: $font_size_M;
        line-height: 36px;
        color: #ffffff;
        h6{
            font-size: 20px;
            line-height: 1.5em;
            margin-bottom: 1px;
            color: #ffd214;
        }
    }
}

.adt_arrow_l , .adt_arrow_r{
    z-index: 2;
    width: 62px;
    padding: 24px;
        position: relative;
        &::before , &::after{
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            background-color: #6a6a6a;
            border-radius: 5px;
            height: 20px;
        }
        &::before{
            transform: rotate(40deg);
            top: 9px;
            left: 30px;
        }
        &::after{
            transform: rotate(-40deg);
            left: 30px;
        }
}
.adt_arrow_r{
    &::before{
            transform: rotate(-40deg);
        }
        &::after{
            transform: rotate(40deg);
        }
}

@media (max-width:550px) {
    .adt_slide .adt_top > div .adt_img{
        height: 350px;
    }

    // .adt_carousel .adt_arrow{
    //     top: 256px;
    // }
}

@media (max-width:480px) {
    .adt_slide .adt_top > div .adt_img{
        height: 300px;
    }

    // .adt_carousel .adt_arrow{
    //     top: 256px;
    // }
}

@media (max-width:375px) {
    .adt_slide .adt_top > div .adt_img{
        height: 230px;
    }

    // .adt_carousel .adt_arrow{
    //     top: 216px;
    // }
}

@media (max-width:330px) {
    .adt_slide .adt_top > div .adt_img{
        height: 230px;
    }

    // .adt_carousel .adt_arrow {
    //     top: 197px;
    // }
}