
.ccard{
    max-width: 640px;
    background-color: #ffffff;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.focus_bt{
    background-color: #292929;
    border-radius: 25px;
    padding-top: 6px;
    padding-bottom: 10px;
    width: 138px;
    font-size: $font_size_S;
    color: #969696;
    height: 37px;
    transition: all .2s;
    position: absolute;
    top: 27px;
    right: 13px;
    z-index: 9;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
    &:hover{
        // color: #BABABA;
        background-color: #212121;
    }
    &::before{
        content: url('../../images/heart-line.svg');
        display: inline-block;
        width: 20px;
        height: 16px;
        position: relative;
        top: 3px;
        margin-right: 4px;
    }
    &.active{
        &::before{
            content: url('../../images/heart.svg');
        }
        span{
            &::before{
                content: "已";
            }
        }
    }
}

.social_place{
    display: flex;
    align-items: center;
    margin-top: 21px;
    .social{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        button{
            padding: 6px;
            transition: all .2s;
            position: relative;
            top: 1.5px;
            &:hover{
                opacity: 0.8;
            }
            img{
                width: 9px;
            }
            &.arrow_l_bt{
                margin-right: 8px;
            }
            &.arrow_r_bt{
                margin-left: 3px;
            }
            &.btn_fin{
                cursor: initial;
                opacity: 0.5;
            }
        }
        .social_icon_box{
            overflow: hidden;
            width: 174px;
            .social_icon{
                display: flex;
                height: 32px;
                align-items: center;
            }
        }
        a{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            flex: 0 0 32px; /* 每個 icon 固定 50px 寬 */
            transition: transform 0.3s ease-in-out;
            border-radius: 50%;
            background-color: #000000;
            margin-right: 13px;
            transition: all .2s;
            &:hover{
                opacity: 0.7;
            }
            img{
                width: 22px;
                height: 22px;
            }
            &.fb{
                img{
                    width: 10px;
                    height: auto;
                }
            }
        }
    }
}

.container{
    color: #434343;
    position: relative;
    .c_title{
        font-size: 17px;
        margin-bottom: 7px;
        &:before , &:after{
            content: "";
            display: inline-block;
            width: 1px;
            height: 20px;
            background-color: #7f7f7f;
            position: relative;
            top: 4px;
            margin-right: 7px;
        }
        &:after{
            margin-right: 0;
            margin-left: 7px;
        }
        span{
            display: inline-block;
            color: #ffd214;
        }
        .ct_en{
            color: #858585;
            font-family: "Bebas Neue", sans-serif;
            font-size: 20px;
            position: relative;
            top: 1px;
            margin-left: 8px;
        }
    }
    .c_title_p{
        line-height: 30px;
        margin-bottom: 34px;
        color: #ffffff;
        font-size: 15px;
    }
    .c_info{
        position: relative;
        // min-height: 100%;
        // padding-bottom: 70px;
        min-height: auto;
        padding-bottom: 176px;
        .c_photo{
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            height: 100%;
            width: 100%;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }  
        }
        .c_info_box{
            position: relative;
            top: 82px;
            left: 34px;
            background-color: rgba($color: #f2c812, $alpha: 0.82);
            padding: 15px 23px;
            padding-bottom: 44px;
            width: 256px;
            box-sizing: border-box;
            color: #000000;
            // 動態
            opacity: 0;
            transform: translateY(50px);
            animation: fadeInSlideUp 1s ease-in-out forwards;
            .info_logo{
                text-align: center;
                margin-bottom: 15px;
                img{
                    width: 105px;
                }
            }
            .info_photo{
                display: flex;
                justify-content: center;
                margin-bottom: 24px;
                span{
                    width: 127px;
                    height: 126px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }
            h5{
                font-size: 15px;
                margin-bottom: 5px;
                font-weight: 500;
                span{
                    display: inline-block;
                    width: 1px;
                    height: 15px;
                    background-color: #000000;
                    margin: 0px 11px;
                    position: relative;
                    top: 1px;
                }
            }
            p{
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
    
    .c_serve{
        position: relative;
        background-color: #292929;
        .c_serve_img{
            width: 100%;
            height: 37px;
            position: absolute;
            top: -36px;
            width: -webkit-fill-available;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .c_serve_in{
            color: #ffffff;
            padding: 18px 50px;
            padding-bottom: 52px;
            background-color: #292929;
            overflow: hidden;
            .c_title , .c_title_p{
                opacity: 0;
                animation: fadeInSlideUp 1s ease-in-out forwards;
                animation-delay: 0.2s;
            }
            
            .serve_self{
                display: flex;
                justify-content: flex-start;
                margin-bottom: 24px;
                opacity: 0;
                transform: translateY(50px);
                &:last-child{
                    margin-bottom: 0;
                }
                .cs_num{
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    color: #000000;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    margin-right: 19px;
                    background-color: #e6ba00;
                    position: relative;
                    span{
                        font-family: "Zen Kaku Gothic New", sans-serif;
                        font-size: 21px;
                        font-style: italic;
                        position: absolute;
                        top: 7.5px;
                        left: 13px;
                        font-weight: bold;
                    }
                }
                .cs_in{
                    width: calc( 100% - 50px - 18px );
                    .cs_title{
                        color: #e6ba00;
                        font-style: italic;
                        margin-bottom: 5px;
                        font-size: 18px;
                    }
                    .cs_content{
                        margin-left: 2px;
                        .cs_in_list{
                            div{
                                display: inline-block;
                                vertical-align: top;
                                margin-bottom: 8px;
                                font-size: 15px;
                                &:first-child{
                                    height: 1px;
                                    width: 15px;
                                    margin-right: 10px;
                                    background-color: #9b9b9b;
                                    position: relative;
                                    top: 12px;
                                }
                                &:last-child{
                                    width: calc( 100% - 29px );
                                    line-height: 1.5em;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .c_portfolio{
        position: relative;
        background-color: #5B5B5B;
        .c_portfolio_img{
            width: 100%;
            height: 34px;
            position: absolute;
            top: -33px;
            left: 0;
            width: -webkit-fill-available;
            img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
        .c_portfolio_in{
            padding: 21px 50px;
            padding-bottom: 59px;
            overflow: hidden;
            background-color: #5B5B5B;
        }
        .c_title{
            color: #ffffff;
            &::before,&::after{
                background-color: #868686;
            }
        }
        .c_title_p{
            margin-bottom: 26px;
        }
        .c_contain{
            overflow: hidden;
            .cp_wrapper {
                display: flex;
                transition: transform 0.4s ease-in-out; // 加上滑動動畫
                width: 100%; // 避免 flex 影響排列
            }
            .cp_list{
                box-sizing: border-box;
                display: flex;
                width: 100%;
                flex: 0 0 100%; // 讓每頁剛好佔滿容器
                flex-wrap: wrap;
                a{
                    overflow: hidden;
                    height: 100%;
                    width: 100%;
                    display: inline-flex;
                    align-items: center;
                    justify-content: center;
                    box-sizing: border-box;
                    img{
                        width: 100%;
                        object-fit: cover;
                        height: 100%;
                        transform:scale(1);
                        transition: transform 0.3s ease-in-out;
                    }
                    &:hover{
                        overflow: hidden;
                        img{
                            transform:scale(1.1);
                        }
                        
                    }
                }
                // 圖片排版
                .cpl_left{
                    margin-right: 17px;
                    margin-bottom: 17px;
                    width: 43%;
                    a{
                        height: 315px;
                    }
                }
                .cpl_right{
                    width: calc( 57% - 17px );
                    a{
                        margin-bottom: 17px;
                        height: 149px;
                    }
                }
            }
            .cp_listmark{
                text-align: center;
                margin-top: 8px;
                button{
                    display: inline-block;
                    border-radius: 50%;
                    width: 9px;
                    height: 9px;
                    background-color: #9b9b9b;
                    margin-right: 21px;
                    opacity: 1;
                    transition: all .3s;
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                    &.active , &:active{
                        background-color: #f2c812;
                        cursor: initial;
                    }
                }
            }
        }
    }
    .c_contact{
        padding: 24px 46px;
        padding-bottom: 32px;
        position: relative;
        background-color: #F2C812;
        &::before{
            content: "";
            display: block;
            width: calc(100% + 1px);
            height: 35px;
            position: absolute;
            background-image: url(../../images/bg_04_top.svg);
            background-size: cover;
            background-position: top;
            top: -33px;
            left: 0px;
        }
        .c_title{
            margin-bottom: 21px;
            margin-left: 6px;
            &::before,&::after{
                background-color: #776b43;
            }
            span{
                color: #676767;
            }
            .ct_en{
                color: #444444;
            }
        }
        .c_contain{
            ul{
                width: calc( 100% - 155px );
            }
            ul li{
                padding: 10px 4px;
                border-bottom: solid 1px #3c3c3c;
                line-height: 1em;
                span{
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-size: $font_size_M;
                    word-wrap: break-word;
                    display: inline-block;
                    vertical-align: top;
                    color: #434343;
                    line-height: 1.1em;
                    letter-spacing: 0.05em;
                    &:last-child{
                        width: calc(100% - 53px);
                    }
                    &:first-child{
                        margin-right: 22px;
                        img{
                            width: 21px;
                        }
                    }
                }
                &:first-child{
                    padding-top: 0;
                }
                &:last-child{
                    border-bottom: 0px;
                }
            }
            a{
                color: #434343;
                text-decoration: none;
                transition: all 0.3s;
                &:hover{
                    opacity: 0.9;
                }
            }
        } 
        .mail{ 
            padding-bottom: 8.5px !important;
            span{
                a{
                    font-family: "Roboto", sans-serif;
                }
                &:last-child{
                    position: relative;
                    top: 2px;
                }
            }
        }
        .phone{
            span{
                &:first-child{
                    img{
                        height: 18px;
                        position: relative;
                        right: -1px;
                    }
                }
                &:last-child{
                    position: relative;
                    top: 0px;
                }
            }
        }
        .web{
            padding-bottom: 9px !important;
            span{
                &:last-child{
                    position: relative;
                    top: 1px;
                }
            }
        }
        .map{
            padding-top: 9px !important;
            span{
                &:first-child{
                    img{
                        height: 19px;
                    }
                }
                &:last-child{
                    position: relative;
                    top: 1px;
                }
            }
        }
    }
}

.to_top{
    margin-right: 9px;
    color: #ffffff;
    background-color: rgba($color: #000000, $alpha: 0.6);
    font-size: $font_size_XS;
    border-radius: 50%;
    padding: 8px 10px;
    position: fixed;
    bottom: 78px;
    right: calc(50% - 320px);
    transition: all .3s;
    &:hover{
        opacity: 0.8;
    }
    img{
        width: 20px;
    }
        
}

.quickaccess{
    position: fixed;
    bottom: 16px;
    right: calc(50% - 320px);
    cursor: pointer;
    .qa_contanin{
        background-color: #000000;
        cursor: pointer;
        color: #ffffff;
        font-size: 17px;
        padding: 17px 16px;
        padding-left: 36px;
        border-radius: 50px 0 0 0 ;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        position: relative;
        img{
            width: 14px;
            margin-left: 8px;
            position: relative;
            top: -2px;
        }
        .qa_new{
            font-family: "Noto Sans TC", serif;
            font-weight: bold;
            font-style: italic;
            display: block;
            background-color: #d75600;
            padding: 0px 8px;
            border-radius: 20px;
            position: absolute;
            top: -1px;
            left: 17px;
            font-size: $font_size_XS;
            padding-left: 5px;
        }
    }
}

@keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(0px);
    }
    to {
      opacity: 1;
      transform: translateY(0px);
    }
}

// serve動態

.each_an{
    animation: fadeInSlideUp 1s ease-in-out forwards;
    animation-delay: 0.2s;
}

.cp_fadein{
    opacity: 0;
}

#c_contact , #c_portfolio{
    opacity: 0;
}

.fadeIn{
    animation: fadeIn 1s ease-in-out forwards;
    opacity: 1;
    animation-delay: 0.3s;
}

@supports (-webkit-touch-callout: none) {
    .container .c_serve .c_serve_img , .container .c_portfolio .c_portfolio_img {
      width: calc(100vw + 50px);
    }
  }

@media (max-width:640px) {
    .to_top , .quickaccess{
        margin-right: 0;
        z-index: 999;
        right: 0;
    }
    .to_top{
        right: 6px;
    }
    .container .c_info{
        min-height: auto;
        padding-bottom: 140px;
    }
    .container .c_contact::before{
        height: 36px;
        top: -35px;
    }
}

@media (max-width:475px) {
    .container .c_info{
        .c_info_box{
            left: auto;
            width: auto;
            margin: 0px 20px;
        }
    } 

    .container .c_portfolio .c_contain{
        .cp_list{
            .cpl_left a{
                height: 222px;
            }
            .cpl_right a{
                height: 103px;
            }
        } 
        .cp_listmark {
            margin-top: 4px;
        }
    } 

    .container .c_contact .c_contain{
        ul{
            width: calc( 100% - 10px );
            li{
                padding-right: 0;
            }
        }
    } 

}


@media (max-width:460px) {
    .container .c_contact{
        padding-bottom: 90px;
    }
}

@media (max-width:385px) {
    .container .c_info{
        padding-bottom: 140px;
        min-height: auto;
    }
}

@media (max-width:375px) {
    .container .c_serve .c_serve_in{
        padding: 25px 35px;
        padding-bottom: 52px;
    }
    .container .c_portfolio .c_portfolio_in{
        padding: 26px 35px;
        padding-bottom: 59px;
        .c_contain{
            .cp_list{
                .cpl_left a{
                    height: 165px;
                }
                .cpl_right a{
                    height: 74px;
                }
            }
        } 
    } 
    .container .c_contact{
        padding: 22px 34px;
        padding-bottom: 90px;
    }
}