// 快速切換成兩個頁面 win:Alt+Shift+2 ------------------------
// mac: command+alt+2


// 載入其他scss檔案 ------------------------------
@import "loading.scss";


// 變數 ------------------------------------------
$aaa:blue;
$bbb:yellow;
$ccc:#ffffff;

body{
	background-color: black;
	header{
		background-color: $bbb;
		color: $aaa; 
		opacity: 0.4;
	}
	p{
		display: block;
		color: green;
		background-color: black;
		.active{
			background-color: gray;
			&:hover{
				opacity:0.9;
			}
		}
	}
	h1{
		color:$bbb;
	}
}





// 字串變數 使用時請打 #{$變數名稱} ------------------------
// 也可用在命名喔
$bg-link:'../img/';
$pink:'bg-pink';

header{
	// 字串變數
	background-image: url(#{$bg-link}aaa.jpeg);
}

.box-#{$pink}{
	background-color: pink;
}





// 使用變數運算 使用時不用包 calc() ------------------------
$width: 1200px;
$font-size:14px;
$bg-font: $font-size*2 ;

.article{
	width: $width / 8 ;
	font-size:$bg-font;
}






// @mixin ! ------------------------------------
@mixin box{ 
	display:block;
	width: 100px;
	height:100px; 
	background-color: pink;
}

.mixin {
	@include box;
}




// @mixin 套入變數用法 ------------------------
@mixin bg($bgcolor){
	background-color: $bgcolor;
	font-size:$font-size;
}

.mixin-other{
	@include bg(#000000);
}




// @mixin 載入多種變數用法 ------------------------
@mixin bg-02($bgcolor02:#ffffff, $width:200px){
	background-color: $bgcolor02;
	width: $width;
}


.mixin-other02{
	@include bg-02(#fff,500px);
}






// @extend 繼承 ------------------------------------
.extend-dad{
	display:block;
	background-color: pink;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.extend-son01{
	@extend .extend-dad;
	background-color:yellow;
}

.extend-son02{
	@extend .extend-dad;
	background-color:blue;
}





// 使用nth()、index()設計多種網站色系 scss不能用？！
$text-color: #fff , orange , #000 ;

.content{
	color: nth($text-color,1); //nth(變數,第幾個)
}





ul{
	li{
		font-size: 20px;
	}
}




