@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

*{
	padding: 0;
	margin: 0;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
} 

// 點擊後滑動到特定div 滑順
html{
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.all_width{
  max-width: 1000px;
  margin: 0 auto;
}

img{
  width: 100%;
}

// setting
$font_size_XL: 32px;
$font_size_L: 24px;
$font_size_M: 20px;
$font_size_S: 16px;



