
.ccard{
    max-width: 640px;
    background-color: #999999;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.focus_bt{
    background-color: rgba($color: #000000, $alpha: 0.6);
    border-radius: 25px;
    padding-top: 9px;
    padding-bottom: 12px;
    width: 110px;
    font-size: $font_size_S;
    color: #d2d7db;
    height: 40px;
    transition: all .2s;
    border: solid 1px #858585;
    letter-spacing: 0.5px;
    position: absolute;
    top: -10px;
    right: 25px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        position: relative;
        top: 1px;
    }
    &:hover{
        background-color: #195498;
    }
    &::before{
        content: url('../../images/heart-line.svg');
        display: inline-block;
        width: 20px;
        position: relative;
        top: 1.5px;
        margin-right: 12px;
    }
    &.active{
        &::before{
            content: url('../../images/heart.svg');
        }
        span{
            &::before{
                content: "已";
            }
        }
    }
}

.social_box{
    display: flex;
    align-items: center;
    margin-left: 76px;
    .social{
        display: inline-flex;
        align-items: center;
        button{
            padding: 5px;
            transition: all .2s;
            &:hover{
                opacity: 0.8;
            }
            img{
                width: 9px;
                height: 13px;
            }
            &.arrow_l_bt , &.arrow_r_bt{
                border:solid 2px #ffffff;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
            &.arrow_l_bt{
                margin-right: 25px;
                margin-left: 20px;
                img{
                    position: relative;
                    left: -0.5px;
                }
            }
            &.arrow_r_bt{
                margin-left: 20px;
                img{
                    position: relative;
                    right: -0.5px;
                }
            }
            &.btn_fin{
                cursor: initial;
                opacity: 0.7;
            }
        }
        .social_icon_box{
            overflow: hidden;
            width: 190px;
            .social_icon{
                display: flex;
                height: 35px;
                align-items: center;
            }
        }
        a{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            flex: 0 0 35px; /* 每個 icon 固定寬度 */
            transition: transform 0.3s ease-in-out;
            border-radius: 50%;
            background-color: #05438B;
            margin-right: 15px;
            transition: all .2s;
            &:hover{
                opacity: 0.7;
            }
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}

.container{
    color: #434343;
    position: relative;
    .c_portfolio{
        position: relative;
        z-index: 2;
        .cp_title{
            
        }
        .c_contain{
            overflow: hidden;
            margin: 0 105px;
            margin-right: 91px;
            z-index: 2;
            position: relative;
            .cp_wrapper {
                display: flex;
                transition: transform 0.4s ease-in-out; // 加上滑動動畫
                width: 100%; // 避免 flex 影響排列
            }
            .cp_list{
                box-sizing: border-box;
                display: block;
                width: 100%;
                flex: 0 0 100%; // 讓每頁剛好佔滿容器
                flex-wrap: wrap;
                a{
                    position: relative;
                    display: inline-block;
                    width: calc( (100% - 35px - 14px) / 2 );
                    margin-right: 30px;
                    margin-bottom: 20px;
                    span{
                        display: inline-block;
                        border-radius: 20px;
                        align-items: center;
                        justify-content: center;
                        overflow: hidden;
                        border: solid 3px #333333;
                        box-sizing: border-box;
                        height: 265px;
                        width: 100%;
                        img{
                            width: 100%;
                            object-fit: cover;
                            height: 100%;
                            transform:scale(1);
                            transition: transform 0.3s ease-in-out;
                        }
                    }
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    &:nth-child(6n) , &:nth-child(6n+5){
                        margin-bottom: 0;
                    }
                    &:hover{
                        &::after{
                            display: block;
                            opacity: 1;
                            transform: scale(0) translateY(100px);
                            animation: jumpIn 0.6s ease-out forwards;
                        }
                        span{
                            overflow: hidden;
                            img{
                                transform:scale(1.1);
                            }
                        }
                    }
                }
            }
            .cp_listmark{
                text-align: center;
                margin-top: 30px;
                button{
                    display: inline-block;
                    margin-right: 25px;
                    opacity: 1;
                    transition: all .3s;
                    color: #ffffff;
                    width: 32px;
                    height: 32px;
                    &:last-child{
                        margin-right: 0;
                    }
                    &:hover{
                        opacity: 0.8;
                    }
                    &.active , &:active{
                        cursor: initial;
                        color: #333333;
                        &:hover{
                            opacity: 1;
                        }
                    }
                }
            }
        }
    }
    
    .c_contact{
        z-index: 1;
        position: relative;
        margin-top: 80px;
        .c_contain{
            margin-bottom: 76px;
            ul{
                margin: 0px 76px;
                li{
                    display: flex;
                    align-items: center;
                    background-color: #ffffff;
                    border-radius: 20px;
                    padding: 8.5px 10px;
                    margin-bottom: 12px;
                    &:last-child{
                        margin-bottom: 20px;
                    }
                    span{
                        display: inline-block;
                        vertical-align: top;
                        &:first-child{
                            width: 25px;
                            text-align: center;
                            margin-right: 15px;
                        }
                        &:last-child{
                            width: calc( 100% - 25px - 15px );
                            a{
                                color: #333333;
                                letter-spacing: 1px;
                                line-height: 1.6em;
                                word-break: break-word;
                                overflow-wrap: break-word;
                                word-wrap: break-word;
                                white-space: normal;
                            }
                        }
                    }
                }
            } 
        }
    }
}

.to_top{
    margin-right: 10px;
    color: #519DF4;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 58px;
    right: calc(50% - 320px);
    transition: all .3s;
    border: solid 1px #FFFFFFCC;
    z-index: 99999;
    div{
        font-size: $font_size_XS;
        font-weight: 700;
        letter-spacing: 0.05em;
        &:nth-child(2n){
            margin-left: 0.05em;
            margin-top: 5px;
        }
    }
    &:hover{
        opacity: 0.8;
    }
    img{
        width: 14px;
    }
        
}

.quickaccess{
    position: fixed;
    bottom: 11px;
    right: calc(50% - 320px);
    z-index: 9999;
    .qa_contanin{
        background-color: #333333;
        cursor: pointer;
        color: #FFFFFF;
        font-size: $font_size_M;
        padding: 10px 24px;
        padding-left: 34px;
        padding-bottom: 11px;
        border-radius: 30px 0 0 0 ;
        font-weight: 600;
        position: relative;
        letter-spacing: 0.05em;
        img{
            width: 11px;
            margin-left: 12px;
            position: relative;
            top: -2px;
        }
        .qa_new{
            font-weight: 700;
            font-style: italic;
            display: block;
            background-color: #E86916;
            padding: 2px 6px;
            color: #ffffff;
            border-radius: 20px;
            position: absolute;
            top: -5px;
            left: -10px;
            font-size: $font_size_XS;
            letter-spacing: 0.05em;
        }
    }
}

.phone_block{
    display: none;
}


@media (max-width:640px) {
    .to_top{
        right: 14px;
        margin-right: 0;
    }
}


