.pd_card{
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    .pd_card_center{
        position: relative;
        background-color: #ffffff;
        padding: 46px 50px;
        min-height: 557px;
        .cross{
            position: absolute;
            top: 0px;
            right: 0px;
            padding: 12px;
        }
    }
}

.pd{
    .pd_top{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 539px;
        width: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .pd_bottom{
        padding-top: 20px;
        color: #2b2b2b;
        font-size: $font_size_M;
        line-height: 36px;
        padding-bottom: 16px;
    }
    .dot_list{
        span{
            display: inline-block;
            vertical-align: top;
            &:first-child{
                width: 4px;
                height: 4px;
                background-color: #2b2b2b;
                border-radius: 50%;
                position: relative;
                top: 17px;
                margin-left: 0.5em;
                margin-right: 0.5em;
            }
            &:last-child{
                width: calc( 100% - 1em - 8px );
            }
        }
    }
}

@media (max-width:480px) {
    .pd .pd_top{
        height: 60vh;
    }
}

@media (max-width:375px) {
    .pd .pd_top{
        height: 45vh;
    }
}