.pd_card{
    display: flex;
    align-items: center;
    .pd_card_center{
        position: relative;
        background-color: #ffffff;
        border: solid 1px #000000;
        .cross{
            padding: 20px 24px;
            position: absolute;
            top: -4px;
            right: -1px;
        }
    }
}

.pd{
    padding: 76px;
    .pd_top{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 520px;
        width: 100%;
        border-radius: 20px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .pd_bottom{
        padding-top: 25px;
        color: #2E2E2ECC;
        font-size: 15px;
        line-height: 1.8em;
        letter-spacing: 0.03em;
        text-align: justify;
        h6{
            font-size: 20px;
            font-weight: 600;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
    }
}

@media (max-width:500px) {
    .pd .pd_top{
        max-height: 50vh;
        height: auto;
    }
    .pd {
        padding: 54px 24px;
        padding-bottom: 45px;
        .pd_bottom{
            padding-top: 20px;
        }
    }
}