<!-- 數字動畫 滑到該區塊 數字從0跑到1000+ -->
數字動畫 滑到該區塊 數字從0跑到1000+

<section class="number-counter">
    <div class="counter-item">
        <div class="counter-number" data-number="1000" data-suffix="+">
            0
        </div>
        <p>完成案件</p>
    </div>

    <div class="counter-item">
        <div class="counter-number" data-number="250" data-suffix="+">
            0
        </div>
        <p>服務客戶</p>
    </div>

    <div class="counter-item">
        <div class="counter-number" data-number="99" data-suffix="%">
            0
        </div>
        <p>滿意度</p>
    </div>
</section>