<!-- Loading 動畫 剛載入網頁時的動態 -->
<div class="loadingAn">
    <div class="row">
        <div class="col-sm-2">
            <div class="sp sp-circle"></div>
            <h5>Circle</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-3balls"></div>
            <h5>3 Balls</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-volume"></div>
            <h5>Volume</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-vortex"></div>
            <h5>Vortex</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-slices"></div>
            <h5>Slices</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-sphere"></div>
            <h5>Sphere</h5>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2">
            <div class="sp sp-bars"></div>
            <h5>Bars</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-clock"></div>
            <h5>Clock</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-wave"></div>
            <h5>Wave</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-texture"></div>
            <h5>Texture</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-loadbar"></div>
            <h5>LoadBar</h5>
        </div>

        <div class="col-sm-2">
            <div class="sp sp-hydrogen"></div>
            <h5>Hydrogen</h5>
        </div>
    </div>
</div>