<div class="cmp-scrollX">

    <button class="cmp-scrollX__prev">
        Prev
    </button>

    <div class="cmp-scrollX__viewport">

        <div class="cmp-scrollX__track">

            <div class="cmp-scrollX__item">
                Card 01
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid voluptatem excepturi voluptates
                <br>
                explicabo architecto recusandae dolores sequi, pariatur optio nostrum illo voluptas ut in illum consectetur possimus. Deleniti, cumque sit!
            </div>

            <div class="cmp-scrollX__item">
                Card 02
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, cupiditate enim beatae excepturi illum laudantium
                <br>
                exercitationem minima optio sit ducimus quam accusantium consequatur fugit sapiente aliquam iusto labore ea qui.
            </div>

            <div class="cmp-scrollX__item">
                Card 03
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, cupiditate enim beatae excepturi illum laudantium
                <br>
                exercitationem minima optio sit ducimus quam accusantium consequatur fugit sapiente aliquam iusto labore ea qui.
            </div>

            <div class="cmp-scrollX__item">
                Card 04
                <br>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, cupiditate enim beatae excepturi illum laudantium
                <br>
                exercitationem minima optio sit ducimus quam accusantium consequatur fugit sapiente aliquam iusto labore ea qui.
            </div>

        </div>

    </div>

    <button class="cmp-scrollX__next">
        Next
    </button>

    <!-- 自訂 Scrollbar -->
    <div class="cmp-scrollX__scrollbar">
        <div class="cmp-scrollX__thumb"></div>
    </div>

</div>