// 手風琴
.accordion {
    max-width: 600px;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
    .accordion-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 18px;
        cursor: pointer;
        font-weight: bold;
    }
    .arrow {
        transition: .3s;
    }
    .accordion-content {
        display: none;
        padding: 0 18px 18px;
        line-height: 1.8;
    }
    &.active .arrow {
        transform: rotate(180deg);
    }
}