@font-face {
    font-family: 'Nanum Pen Script';
    src: url('@/assets/fonts/NanumPenScript/NanumPen-Regular.woff2') format('woff2'),
        url('@/assets/fonts/NanumPenScript/NanumPen-Regular.woff') format('woff');
    font-style: normal;
    font-display: swap;
}
