@import 'tailwindcss/base';
@import 'tailwindcss/components';

// 手機版
        nav{
            width:100%;
        }

        .menu{
            color:#882A2A;
            position: fixed;
            top: 44px;
            left: 0px;
            right: 0px;
            z-index: 2;
            background-color: #EA919F;
            @apply block py-5 px-2;
            li{
                @apply block w-full;
                a{
                    margin-bottom:1px;
                    @apply block py-2 px-4 w-full text-left text-base bg-white;
                    div{
                        display:inline-block;
                        img{
                            width:1.5rem;
                            position:relative;
                            top:5px;
                            margin-right:5px;
                        }
                    }
                }
            }
            li:last-child{
                display:block;
                width:100%;
                > a{
                    text-align:center;
                    color:#ffffff;
                    border:solid 1px #ffffff;
                    padding:0.8rem 0;
                    background-color: #EA919F;
                    margin-top:1rem;
                    div img{
                        display:inline-block;
                        width:1rem;
                        position:relative;
                        top:-2px;
                    }
                }
            }
        }

        .menu-show .menu{
            max-height: 500px;
        }
        
        .showmenu{
            display:block;
            position: fixed;
            top: 5px;
            right: 15px;
            z-index:101;
            div{
                height:0.3rem;
                background-color:#EA919F;
                width:2.3rem;
                margin:6px 0;
                transition:all 1s;
                transform:rotate(0deg);
            }

            &:focus{
                @apply outline-none;
                div:nth-child(1){
                    transform:rotate(45deg);
                    position:absolute;
                    top:10px;
                    right: 0px;
                }
                div:nth-child(2){
                    transform:rotate(45deg);
                    position:absolute;
                    top:10px;
                    right: 0px;
                }
                div:nth-child(3){
                    transform:rotate(-45deg);
                    position:absolute;
                    top:10px;
                    right: 0px;
                }
            }

        }

        nav{
            background-color:#ffffff;
        }  


   

@import 'tailwindcss/utilities';


//電腦版

 @media(min-width:768px){

    .showmenu{
        @apply hidden;
    }

    nav{
            background-color:#fbfbfb;
        } 

    .menu{
        // max-height:60px;
        max-width:1200px;
        margin:0 auto;
        position: sticky;
        background-color:#fbfbfb;
        @apply flex p-0;
        li{
            @apply w-2/12;
            
            &:last-child{
                @apply hidden;
            }

            a{
                transition:all .2s;
                background-color:#fbfbfb;
                @apply text-center px-0;

                div{
                    @apply block;
                    img{
                        margin:0 auto;
                        width:2rem;
                        position: static;
                    }
                }

                &:hover{
                    color:#A24F4F;
                    @apply bg-white;
                }
            }

            &:before{
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 28px;
                    display: block;
                    height: 25px;
                    border-left: 1px solid #882A2A;
                }

            &:nth-child(7):after{
                    content: "";
                    position: absolute;
                    z-index: 1;
                    top: 28px;
                    right:0px;
                    display: block;
                    height: 25px;
                    border-right: 1px solid #882A2A;
            }

        }


    }
}