
@import 'tailwindcss/base';
@import 'tailwindcss/components';

    header{
        margin:0 auto;
        width:100%;
        z-index:100;
        background-color:#ffffff;
        height:44px;
        display:flex;
        justify-content:space-between;
        align-items:center;
        padding:10px;
        position:fixed;
        @apply text-base;
         .member{
             display:none;
             color:#673C42;
             img{
                 display:inline-block;
             }
         }
     }

@import 'tailwindcss/utilities';

 @media(min-width:768px){
     header{
         max-width:1200px;
         position: initial;
        
        .member{
            display:block;
            a{
                &:hover{
                    @apply underline;
                }
            }
        }
            
    }
}
