// 淡入進場
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

// 淡出出場
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0
    }
}

// // 由下往上滑動進場
@keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

.fade_in_3s{
  animation: fadeIn 3s forwards;
  animation-delay: 1s;
}

.fade_in_2s {
  animation: fadeIn 2s forwards;
  animation-delay: 0.5s;
}