
.ccard{
    max-width: 640px;
    background-color: #999999;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.focus_bt{
    background-color: rgba($color: #000000, $alpha: 0.6);
    border-radius: 25px;
    padding-top: 9px;
    padding-bottom: 12px;
    width: 110px;
    font-size: $font_size_S;
    color: #d2d7db;
    height: 40px;
    transition: all .2s;
    border: solid 1px #858585;
    letter-spacing: 0.5px;
    position: absolute;
    top: 36px;
    right: 0px;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: center;
    span{
        position: relative;
        top: 1px;
    }
    &:hover{
        background-color: #195498;
    }
    &::before{
        content: url('../../images/heart-line.svg');
        display: inline-block;
        width: 20px;
        position: relative;
        top: 1.5px;
        margin-right: 12px;
    }
    &.active{
        &::before{
            content: url('../../images/heart.svg');
        }
        span{
            &::before{
                content: "已";
            }
        }
    }
}

.social_box{
    display: flex;
    align-items: center;
    margin-left: 76px;
    .social{
        display: inline-flex;
        align-items: center;
        button{
            padding: 5px;
            transition: all .2s;
            &:hover{
                opacity: 0.8;
            }
            img{
                width: 9px;
                height: 13px;
            }
            &.arrow_l_bt , &.arrow_r_bt{
                border:solid 2px #ffffff;
                border-radius: 50%;
                width: 30px;
                height: 30px;
            }
            &.arrow_l_bt{
                margin-right: 25px;
                margin-left: 20px;
                img{
                    position: relative;
                    left: -0.5px;
                }
            }
            &.arrow_r_bt{
                margin-left: 20px;
                img{
                    position: relative;
                    right: -0.5px;
                }
            }
            &.btn_fin{
                cursor: initial;
                opacity: 0.7;
            }
        }
        .social_icon_box{
            overflow: hidden;
            width: 190px;
            .social_icon{
                display: flex;
                height: 35px;
                align-items: center;
            }
        }
        a{
            display: inline-flex;
            align-items: center;
            justify-content: center;
            width: 35px;
            height: 35px;
            flex: 0 0 35px; /* 每個 icon 固定寬度 */
            transition: transform 0.3s ease-in-out;
            border-radius: 50%;
            background-color: #05438B;
            margin-right: 15px;
            transition: all .2s;
            &:hover{
                opacity: 0.7;
            }
            img{
                width: 20px;
                height: 20px;
            }
        }
    }
}

.container{
    color: #2E2E2E;
    position: relative;
    
    .c-bg_size {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    
    .c_info{
        .c_info_top{
            background-image: url('../../images/pic_banner.png');
            background-size: 100% 361px;
            /* width 100% (容器寬度)，height 200px */
            background-position: top;
            background-repeat: no-repeat;
            background-color: #E5E2DB;
            .c_info_topbox{
                position: relative;
                margin: 0px 66px;
                padding: 36px 0px;
                .ci_title{
                    margin-top: 110px;
                    display: flex;
                    align-items: flex-end;
                    .ci_left{
                        width: calc( 100% - 249px - 10px );
                        margin-right: 10px;
                        
                    }
                    .ci_right{
                        width: 249px;
                    }
                }
            }
        }
    }

    .c_portfolio{
        .scroll-container {
            position: relative;
            width: 100%;
            height: 220px;
            border: 1px solid #ccc;
            user-select: none;
            overflow: hidden;
            .scroll-content {
                width: 100%;
                height: 100%;
                overflow-x: scroll;
                overflow-y: hidden;
                white-space: nowrap;
                -webkit-overflow-scrolling: touch;
                touch-action: pan-x;
                scrollbar-width: none;
                cursor: grab;
                &:active {
                    cursor: grabbing;
                }
                &::-webkit-scrollbar {
                    display: none;
                }
                .inner-content {
                    display: inline-block;
                    min-width: max-content;
                    height: 100%;
                    .item {
                        display: inline-block;
                        width: 200px;
                        height: 100%;
                        margin-right: 10px;
                        background: lightblue;
                        text-align: center;
                        line-height: 200px;
                        font-size: 24px;
                        border-radius: 10px;
                        &.item_resize{
                            filter: brightness(1.5);
                        }
                    }
                }
            }
            .arrow-btn {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                background: rgba(0, 0, 0, 0.5);
                color: #fff;
                border: none;
                border-radius: 50%;
                font-size: 24px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
                z-index: 10;
                user-select: none;
                &.arrow-left {
                    left: 10px;
                }
                &.arrow-right {
                    right: 10px;
                }
                &.btn_fin {
                    background: rgba(0, 0, 0, 0.2);
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }

    .c_serve{
        .tabs-wrapper {
            max-width: 600px;
            margin: 30px auto;
            background: #eeece7;
            padding: 10px;
            position: relative;
            // 切換按鈕
            .tabs-container {
                overflow: hidden;
                .tabs {
                    display: flex;
                    transition: transform 0.3s;
                    .tab {
                        flex: 0 0 auto;
                        padding: 10px 20px;
                        background: #d1cdc5;
                        margin-right: 5px;
                        border-radius: 10px 10px 0 0;
                        cursor: pointer;
                        font-weight: bold;
                        &.active {
                            background: #ffffff;
                        }
                    }
                }
            }
            // 內容
            .tab-content-wrapper {
                background: #ffffff;
                border-radius: 10px;
                padding: 20px;
                min-height: 100px;
                .tab-panel {
                    display: none;
                    &.active {
                        display: block;
                    }
                }
            }
            // 左右箭頭按鈕
            .nav-button {
                position: absolute;
                top: 15px;
                width: 30px;
                height: 30px;
                background: #ccc;
                border-radius: 50%;
                text-align: center;
                line-height: 30px;
                cursor: pointer;
                user-select: none;
                &.nav-left {
                    left: -10px;
                }
                &.nav-right {
                    right: -10px;
                }
                &.disabled {
                    opacity: 0.5;
                    cursor: default;
                    pointer-events: none;
                }
            }
        }
    }
    
    .c_contact{
        z-index: 1;
        position: relative;
        margin-top: 80px;
        .c_contain{
            margin-bottom: 76px;
            ul{
                margin: 0px 76px;
                li{
                    display: flex;
                    align-items: center;
                    background-color: #ffffff;
                    border-radius: 20px;
                    padding: 8.5px 10px;
                    margin-bottom: 12px;
                    &:last-child{
                        margin-bottom: 20px;
                    }
                    span{
                        display: inline-block;
                        vertical-align: top;
                        &:first-child{
                            width: 25px;
                            text-align: center;
                            margin-right: 15px;
                        }
                        &:last-child{
                            width: calc( 100% - 25px - 15px );
                            a{
                                color: #333333;
                                letter-spacing: 1px;
                                line-height: 1.6em;
                                word-break: break-word;
                                overflow-wrap: break-word;
                                word-wrap: break-word;
                                white-space: normal;
                            }
                        }
                    }
                }
            } 
        }
    }
}

.to_top{
    margin-right: 10px;
    color: #519DF4;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 58px;
    right: calc(50% - 320px);
    transition: all .3s;
    border: solid 1px #FFFFFFCC;
    z-index: 99999;
    div{
        font-size: $font_size_XS;
        font-weight: 700;
        letter-spacing: 0.05em;
        &:nth-child(2n){
            margin-left: 0.05em;
            margin-top: 5px;
        }
    }
    &:hover{
        opacity: 0.8;
    }
    img{
        width: 14px;
    }
        
}

.quickaccess{
    position: fixed;
    bottom: 11px;
    right: calc(50% - 320px);
    z-index: 9999;
    .qa_contanin{
        background-color: #333333;
        cursor: pointer;
        color: #FFFFFF;
        font-size: $font_size_M;
        padding: 10px 24px;
        padding-left: 34px;
        padding-bottom: 11px;
        border-radius: 30px 0 0 0 ;
        font-weight: 600;
        position: relative;
        letter-spacing: 0.05em;
        img{
            width: 11px;
            margin-left: 12px;
            position: relative;
            top: -2px;
        }
        .qa_new{
            font-weight: 700;
            font-style: italic;
            display: block;
            background-color: #E86916;
            padding: 2px 6px;
            color: #ffffff;
            border-radius: 20px;
            position: absolute;
            top: -5px;
            left: -10px;
            font-size: $font_size_XS;
            letter-spacing: 0.05em;
        }
    }
}

.phone_block{
    display: none;
}


@media (max-width:640px) {
    .to_top{
        right: 14px;
        margin-right: 0;
    }
}



// 服務項目用的
@media (max-width: 480px) {
    .tab {
        flex: 0 0 calc(100% / 3 - 6px);
    }
}

@media (max-width: 375px) {
    .tab {
        flex: 0 0 calc(100% / 2 - 6px);
    }
}