@import url('https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Zen Kaku Gothic New", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img{
    width: 100%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.all_width{
    max-width: 1000px;
    padding: 0px 50px;
    margin: 0 auto;
}

header{
    background-color: #A7CBD5;
    padding: 24px 0px;
    text-align: center;
    color: #ffffff;
    border-bottom: solid 12px #FFF4DD;
    border-radius: 0px 0px 100% 100%;
    margin-bottom: 40px;
    animation:fadein_top_bot 2s;  
    animation-fill-mode:forwards;  
    animation-direction:alternate;
    h1{
        font-size: 33px;
        padding-bottom: 8px;
        font-weight: 500;
        letter-spacing: 0.4em;
        text-indent:0.4em;
    }
    p{
        letter-spacing: 0.4em;
        font-size: 24px;
        text-indent:0.4em;
    }
}

.text{
    display: inline-block;
    margin-right: 40px;
    width: calc( 100% - 285px - 285px - 75px );
    margin-top: 40px;
    img{
        width: 80px;
        margin: 0 auto;
        display: block;
        margin-bottom: 12px;
    }
    .title{
        color: #976B3F;
        text-align: center;
        font-size: 25px;
        letter-spacing: 0.4em;
        text-indent: 0.4em;
        margin-bottom: 20px;
        span{
            display: block;
            font-weight: bold;
        }
    }
    
    .contain{
        color: #605959;
        letter-spacing: 0.3em;
        font-size: 16px;
        line-height: 1.9em;
    }
}

.img{
    display: inline-block;
    vertical-align: top;
    padding-bottom: 30px;
    img{
        width: 285px;
        border-radius: 20px;
        box-shadow: 0px 2px 4px rgba($color: #787878, $alpha: 0.25);
        &:first-child{
            margin-right: 30px;
        }
    }
}


main{
    background: url("../img/main_bg.png") no-repeat;
    background-size: 100%;
    background-position: bottom center;
    margin-bottom: 40px;
    animation:fadein_bot_top 2s;  
    animation-fill-mode:forwards;  
    animation-direction:alternate;
    .all_width{
        display: flex;
    }
}

section .content{
    margin-bottom: 40px;
    .all_width{
        display: flex;
    }
    &:first-child{
        .all_width{
            border-bottom: solid 1px #EFDDB7;
            padding-bottom: 40px;
            .text{
                order: 2;
                margin-left: 40px;
                margin-right: 0px;
            }
        }
    }
    &:last-child{
        margin-bottom: 0px;
    }
}


footer{
    background: url("../img/connect_bg.png") no-repeat;
    background-position: top center;
    background-size: 100%;
    min-height: 335px;
    color: #ffffff;
    opacity: 0;
    .all_width{
        position: relative;
        .f_blue_ball,.f_yell_ball{
            display: block;
            position: absolute;
            border-radius: 50%;
        }
        .f_blue_ball{
            background-color: #B4DDE9;
            width: 50px;
            height: 50px;
            right: 20px;
            top: 80px;
        }
        .f_yell_ball{
            background-color: #FFEBC1;
            width: 30px;
            height: 30px;
            right: 134px;
            top: 162px;
        }
    }
    .footer_bg_rwd{
        display: none;
    }
    .footer_title{
        padding-top: 170px;
        font-size: 32px;
        margin-bottom: 28px;
        letter-spacing: 0.5em;
    }
    .footer_in{
        display: flex;
        align-items: center;
        padding-bottom: 40px;
        .footer_in_p{
            margin-right: 20px;
            img{
                width: 5em;
            }
        }
        .footer_in_c{
            margin-right: 28px;
            div{
                display: flex;
                margin-bottom: 12px;
                font-size: 16px;
                letter-spacing: 0.2em;
                align-items: center;
                &:last-child{
                    margin-bottom: 0;
                }
                img{
                    margin-right: 6px;
                    width: 1.5em;
                }
            }
        }
        .footer_in_button{
            a{
                display: inline-block;
                color: #ffffff;
                border-radius: 12px;
                border: solid 1px #ffffff;
                transition: all .2s;
                padding: 12px 20px;
                background-color: rgba($color: #ffffff, $alpha: 0);
                .footer_ig{
                    margin-right: 4px;
                    position: relative;
                    width: 1em;
                    display: inline-block;
                    img{
                        width: 1em;
                        position: absolute;
                        top: -13px;
                        left: 0;
                    }
                    .ig_w{
                        opacity: 100;
                    }
                    .ig_y{
                        opacity: 0;
                    }
                }
                &:hover{
                    color: #FFEBBB;
                    border-color: #FFEBBB;
                    background-color: rgba($color: #ffffff, $alpha: 0.1);
                    .footer_ig{
                        .ig_w{
                            opacity: 0;
                        }
                        .ig_y{
                            opacity: 100;
                        }
                    }
                }
                
            }
        }
    }
}

.copyright{
    text-align: center;
    background-color: #90B8C4;
    color: #ffffff;
    padding: 4px 0px;
    font-size: 12px;
    letter-spacing: 0.3em;
    &::after , &::before{
        content: "";
        display: inline-block;
        border-radius: 50%;
        width: 6px;
        height: 6px;
        background-color: #ffffff;
        opacity: 0.5;
    }
    &::after{
        position: relative;
        right: 0.3em;
    }
}

#section_one , #section_two{
    opacity: 0;
    position: relative;
    top: 50px;
}

// RWD
@media(max-width:1200px){
    footer{
        background-size: auto;
    }
}
@media(max-width:890px){
    .all_width{
        padding: 0 24px;
    }

    .text {
        display: block;
        margin-right: 0px;
        width: 100%;
        margin-bottom: 20px;
        text-align: center;
        img{
            margin-bottom: 0px;
        }
    }
    
    .img{
        display: flex;
        padding-bottom: 50px;
        img{
            width: calc((100% - 8px) / 2);
        }
        img:first-child{
            margin-right: 8px;
        }
    }
    main{
        .all_width{
            display: block;
        }
    }
    section{
        .content{
            .all_width{
                display: block;
            }
            &:first-child{
                .all_width .text{
                    margin-left: 0px;
                }
            }
        }
    }
}
@media(max-width:768px){
    header{
        h1{
            font-size: 30px;
        }
        p{
            font-size: 20px;
        }
    }
    .text {
        .title{
        }
    }
    footer{
        background-image: none;
        .footer_bg_rwd{
            display: block;
            width: 100%;
            position: relative;
            top: 1px;
        }
        .all_width{
            background-color: #A7CBD5;
            margin: 0px;
            padding: 0px 24px;
            .f_blue_ball,.f_yell_ball{
                display: none;
            }
        }
        .footer_title{
            padding-top: 0px;
            font-size: 24px;
            text-align: center;
            line-height: 1.6em;
            margin-bottom: 20px;
        }
        .footer_in{
            display: block;
            text-align: center;
            padding-bottom: 24px;
            font-size: 16px;
            .footer_in_p{
                margin-right: 0px;
                margin-bottom: 18px;
            }
            .footer_in_c{
                margin-right: 0px;
                margin-bottom: 24px;
                >div{
                    font-size: 16px;
                    justify-content: center;
                    margin-bottom: 20px;
                    img{
                        width: 1.2em;
                    }
                }
            }
        }
    }
    .copyright{
        padding: 12px 0px;
        font-size: 14px;
    }
}

@media(max-width:500px){
    .img{
        display: block;
        img{
            display: block;
            width: 100%;
        }
        img:first-child{
            margin-right: 0px;
            margin-bottom: 12px;
        }
    }
}

// 動畫
.fadein_bot_top{  
    animation:fadein_bot_top 2s;  
    animation-fill-mode:forwards;  
    animation-direction:alternate;
    .illus_in{
        .illus_in_item{
            animation-fill-mode:forwards;  
            animation-direction:alternate;
            &:nth-child(1){
                animation:fadein_bot_top_in 2s;
            }
            &:nth-child(2){
                animation:fadein_top_bot_in 2s;
            }
            &:nth-child(3){
                animation:fadein_bot_top_in 2s;
            }
        }
    }
} 

@keyframes fadein_bot_top{  
    from { 
      opacity: 0;
      position: relative;
      top: 50px;
    }  
    to{
      opacity: 1;
      position: relative;
      top: 0px;
}
}  

@keyframes fadein_top_bot{  
    from { 
      opacity: 0;
      position: relative;
      top: -50px;
    }  
    to{
      opacity: 1;
      position: relative;
      top: 0px;
}
}


.f_blue_ball{
    animation:f_blue_ball 5s;  
    // animation-fill-mode:forwards;  
    animation-direction:alternate;
    animation-iteration-count:infinite;
}
.f_yell_ball{
    animation:f_yell_ball 8s;  
    // animation-fill-mode:forwards;  
    animation-direction:alternate;
    animation-iteration-count:infinite;
}

@keyframes f_blue_ball{  
    0% { 
        top: 120px;
    } 
    50%{
        top: 80px;
    }
    100%{
        top: 120px;
    }
}  

@keyframes f_yell_ball{  
    0% { 
        top: 150px;
    } 
    50%{
        top: 100px;
    }
    100%{
        top: 150px;
    }
}  