*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #ffffff;
}

button{
    padding: 5px 8px;
    background-color: #2e2e2e;
    color: #ffffff;
    border-radius: 4px;
}

.all_width{
    max-width: 1040px;
    margin: 0 auto;
    border: dashed 1px #63bdff ;
    padding: 0 10px;
}

.img_size{
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
}

.bar{
    background-color: #ffffff;
    box-shadow: 0 0 4px #979797;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    top: 0;
    z-index: 999;
    .all_width{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        max-width: 1060px;
        position: relative;
        div{
            border: solid 1px #5dc8d6;
            padding: 12px 10px;
        }
        .b_search{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.banner{
    height: 400px;
    margin-top: 45px;
    h5{
        position: absolute;
        font-size: 40px;
        z-index: 1;
        color: #ffffff;
        text-align: center;
        letter-spacing: 0.07em;
    }
}

.c_title{
    border: dashed 1px #9bd210;
    color: #434932;
    font-size: 20px;
}

.btn_more {
    text-align: center;

    button {
        width: 180px;
    }
}

.serve{
    border: solid 1px #f2b227;
    padding-top: 20px;
    .c_title{
        padding-bottom: 20px;
    }
    .serve_in{
        display: flex;
        align-items: center;
        .serve_left{
            margin-right: 20px;
            width: 400px;
            height: 225px;
        }
        .serve_right{
            width: calc( 100% - 400px - 20px );
            h6{
                font-size: 18px;
                border: solid 1px #feaab0;
                margin-bottom: 12px;
                color: #5e5e5e;
            }
            p{
                border: solid 1px #feaab0;
                margin-bottom: 12px;
                color: #5e5e5e;
            }
        }
    }
}

.active{
    margin-top: 80px;
    border: solid 1px #f2b227;
    .c_title{
        margin-bottom: 20px;
    }
    .active_btn{
        cursor: pointer;
        padding-bottom: 12px;
        display: block;
        border: solid 1px #ddcece;
        .all_width{
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .active_btn_left{
            display: flex;
            .active_person_img{
                width: 112px;
                height: 112px;
                border-radius: 50%;
                margin-right: 30px;
            }
            .active_person_info{
                .active_name{
                    font-size: 16px;
                }
                div{
                    font-size: 14px;
                    color: #5e5e5e;
                    margin-bottom: 12px;
                    border: solid 1px #ddcece;
                    .text_dash {
                        text-decoration: line-through;
                        background-color: #ffffff;
                    }
                    span{
                        display: inline-block;
                        background-color: rgb(236, 236, 236);
                        border-radius: 4px;
                        padding: 2px 4px;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
            }
        }
        .active_btn_right{
            display: flex;
            div{
                width: 157px;
                height: 210px;
                border-radius: 4px;
                margin-left: 12px;
            }
        }
        &:hover{
            background-color: #f0f0f0;
            display: block;
        }
    }
}

.sprite{
    margin-top: 80px;
    border: solid 1px #f2b227;
    .c_title{
        margin-bottom: 20px;
    }
    .sprite_all{
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        .sprite_box{
            display: flex;
            margin-right: 12px;
            width: calc( ( 100% - 24px ) / 3 );
            margin-bottom: 10px;
            align-items: center;
            justify-content: center;
            position: relative;
            overflow: hidden;
            &::before{
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: rgba($color: #000000, $alpha: 0.3);
            }
            &:nth-child(3n){
                margin-right: 0;
            }
            .sprite_text{
                position: absolute;
                color: #ffffff;
                font-size: 22px;
                border: solid 1px #5dc8d6;
            }
            .sprite_left{
                flex: 0 0 60%;
                height: 300px;
                margin-right: 4px;
                border: solid 1px #bb78a6;
            }
            .sprite_right{
                flex: 0 0 40%;
                div{
                    width: 100%;
                    height: calc( 150px - 2px );
                    border: solid 1px #bb78a6;
                    &:first-child{
                        margin-bottom: 4px;
                    }
                }
            }
        }
    }
}

.qa{
    margin-top: 80px;
    background-color: rgba($color: #000000, $alpha: 0.05);
    padding-bottom: 80px;
    padding-top: 60px;
    .all_width{
        display: flex;
    }
    .qa_left , .qa_right{
        width: 50%;
        border: solid pink 1px;
    }
    .qa_left{
        display: flex;
        justify-content: center;
        padding-top: 80px;
        font-size: 50px;
    }
    .qa_right{
        .qa_box{
            border: solid #7e7e7e 1px;
            background-color: #ffffff;
            .qa_box_title, .qa_box_content{
                padding: 10px;
            }
            .qa_box_title{
                border: solid #d6b5df 1px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
            }
            .qa_box_content{
                border: solid #586aff 1px;
                display: none;
                .img_size{
                    width: 100%;
                    overflow: hidden;
                    height: 300px;
                }
            }
        }
    }
}

footer{
    background-color: rgba($color: #000000, $alpha: 0.1);
    .footer_top{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 40px 0px;
        border-bottom: solid 1px #c1c1c1;
        margin-bottom: 40px;
        .ft_left{
            border: solid 1px rgb(99, 173, 99);
            display: flex;
            margin-right: 20px;
            width: calc( 100% - 16em - 20px - 250px );
            div{
                &:first-child{
                    width: 50px;
                    margin-right: 12px;
                    font-size: 40px;
                }
                &:last-child{
                    width: calc( 100% - 50px - 12px );
                }
            }
        }
        .ft_center{
            width: 17em;
            border: solid 1px rgb(129, 193, 64);
            div{
                display: inline-block;
                width: 8em;
                border: solid 1px rgb(144, 184, 130);
            }
        }
        .ft_right{
            width: 250px;
            display: flex;
            align-items: center;
            border: solid 1px rgb(116, 146, 52);
            button{
                width: 100%;
                color: #2e2e2e;
                background-color: transparent;
                border: solid 1px #2e2e2e;
            }
        }
    }
    .footer_bottom{
        text-align: center;
        margin-bottom: 40px;
        border: solid 1px rgb(200, 191, 26);
        div{
            margin-bottom: 12px;
            border: solid 1px #c87a7a;
            a{
                color: #000000;
                font-size: 15px;
            }
            span{
                display: inline-block;
                width: 3px;
                height: 3px;
                border-radius: 50%;
                background-color: #000000;
                margin: 0 4px;
                position: relative;
                top: -3px;
            }
        }
    }
}