// swiper
.mySwiper {
    .swiper-pagination-bullet {
        background-image: url('../img/swiper-noactive.svg');
        border-radius: 0;
        width: 19px;
        height: 23px;
        background-color: transparent;
        opacity: 1;
    }
    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-image: url('../img/swiper-active.svg');
    }
}


// title 共用
.title {
    color: #fff;
    background-color: #2C4B79;
    span {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 16px;
        font-size: 25px;
        font-weight: bold;
        letter-spacing: 1.5px;
        &:before ,
        &:after {
            content: "";
            background-color: #fff;
            position: absolute;
            left: 0;
        }
        &::before {
            width: 100%;
            height: 1px;
            bottom: 0;
        }
        &::after {
            width: 50%;
            height: 6px;
            bottom: -3px;
        }
    }
}

// about
.about {
    position: relative;
    padding: 100px 0;
    .all_width {
        display: flex;
        align-items: center;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 192px;
        height: 100%;
        background: url('../img/about-02.png') no-repeat center;
        background-size: cover;
    }
    .phone_img {
        display: none;
    }
    .about_left {
        width: 439px;
        position: relative;
        margin-right: 61px;
        span {
            position: absolute;
            right: -11px;
            bottom: -22px;
            font-size: 64px;
            font-weight: bold;
            letter-spacing: 12%;
            color: rgba($color: #fff, $alpha: 0.5);
        }
    }
    .about_right {
        flex: 1;
        z-index: 2;
        text-align: justify;
        margin-right: 100px;
        .about_title .title {
            background-color: transparent;
            color: #2C4B79;
            display: inline-block;
            margin-bottom: 37px;
            span {
                &::before ,
                &::after {
                    background-color: #2C4B79;
                }
            }
        }
        .about_content {
            font-size: 16px;
            letter-spacing: 12%;
            line-height: 24px;
            div {
                margin-bottom: 20px;
            }
        }
    }
}

.swiper-pagination-bullet {
    font-size: 14px;
}

// product
.product {
    background-image: url("../img/product-bg.png");
    padding-bottom: 70px;
    .pro_title {
        display: flex;
        align-items: center;
        margin-bottom: 67px;
        .pro_title_left {
            padding: 70px 63px;
            margin-right: 63px;
            width: 235px;
        }
        .pro_title_right {
            flex: 1;
            color: #494949;
            font-size: 16px;
            letter-spacing: 12%;
        }
    }
    .pro_list {
        display: flex;
        flex-wrap: wrap;
        .pro_list_self {
            margin-right: 35px;
            margin-bottom: 50px;
            display: inline-block;
            width: calc( ( 100% - 105px ) / 4 );
            img {
                border-radius: 4px;
                margin-bottom: 16px;
            }
            span {
                font-weight: bold;
                font-size: 16px;
                letter-spacing: 12%;
                text-align: center;
                display: block;
                width: 100%;
            }
            &:nth-child(4n) {
                margin-right: 0;
            }
        }
    }
}
.pro_btn {
    text-align: center;
    display: flex;
    justify-content: center;
    button {
        color: #fff;
        font-weight: bold;
        background-color: #EC8832;
        padding: 16px 30px;
        transition: all 0.3s;
        display: flex;
        img {
            width: 17px;
            margin-left: 4px;
            position: relative;
            transition: all 0.3s;
            left: 0;
        }
        &:hover {
            filter: brightness(1.05);
            img {
                left: 4px;
            }
        }
    }
}

// contact
.contact {
    margin-top: 70px;
    margin-left: calc( (100% - 1200px) / 2 );
    padding-right: 93px;
    background-image: url("../img/contact_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    .all_width.half_width {
        justify-content: flex-start;
        margin: 0;
    }
    .con_title {
        margin-bottom: 17px;
        .title {
            width: 235px;
            height: 195px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    .all_width {
        display: flex;
        justify-content: center;
    }
    .contact_body {
        background-color: rgba(0,0,0,0.6);
        color: #fff;
        letter-spacing: 12%;
        max-width: 711px;
        width: 100%;
        padding: 53px 55px;
        margin-bottom: 90px;
        .con_s_title {
            margin-bottom: 47px;
            font-size: 20px;
            text-align: center;
            font-weight: bold;
        }
    }
}

.form_row {
    display: flex;
}

.con_input {
    display: inline-block;
    margin-bottom: 42px;
    width: 100%;
    &.half {
        width: 50%;
        &:first-child {
            margin-right: 20px;
        }
    }
    .con_input_title {
        margin-bottom: 12px;
        font-size: 16px;
        font-weight: bold;
    }
    .con_input_self {
        input ,
        textarea {
            width: 100%;
            border: 0;
            height: 40px;
            border-radius: 4px;
            padding-left: 8px;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16);
            color: #494949;
            font-weight: bold;
            &:focus-visible {
                outline: solid 2px #FFB921; // input框線樣式是outline哦
            }
            &::placeholder {
                color: #9b9b9b;
                font-weight: 400;
                letter-spacing: 1px;
            }
        }
        textarea {
            height: 103px;
            padding: 8px;
        }
    }
}


@media (max-width: 768px) {
    .title {
        span {
            font-size: 20px;
            padding-bottom: 10px;
            &::after {
                height: 4px;
                bottom: -2px;
            }
        }
    }

    .about {
        padding: 50px 0 120px;
        &:after {
            top: auto;
            bottom: 0;
            right: 0;
            height: 100px;
            width: 100%;
            background-position: bottom;
        }
        .all_width {
            display: block;
        }
        .about_left {
            display: none;
        }
        .phone_img {
            display: flex;
            height: 200px;
            overflow: hidden;
            width: 100%;
            align-items: center;
            justify-content: center;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
        .about_right {
            margin-right: 0;
            .about_content {
                margin-top: 20px;
                font-size: 14px;
            }
        }
    }

    .product {
        .pro_title {
            display: block;
            margin-bottom: 50px;
            .pro_title_left {
                margin: 0 auto;
                width: 197px;
                padding: 39px 47px;
            }
            .pro_title_right {
                margin-top: 30px;
                font-size: 14px;
                line-height: 24px;
            }
        }
        .pro_list {
            .pro_list_self {
                width: calc((100% - 35px) / 2);
                &:nth-child(2n) {
                    margin-right: 0;
                }
            }
        }
    }

    .pro_btn {
        button{
            padding: 13px 23px;
            font-size: 14px;
        }
    }

    .contact {
        margin-left: 0;
        padding-right: 0;
        .all_width.half_width {
            justify-content: center;
        }
        .con_title {
            .title {
                width: 197px;
                height: 118px;
            }
        }
        .contact_body {
            padding: 53px 28px;
            .con_s_title {
                font-size: 16px;
            }
        }
    }
    .form_row {
        display: block;
    }
    .con_input {
        margin-bottom: 24px;
        &.half {
            width: 100%;
            &:first-child {
                margin-right: 0;
            }
        }
        .con_input_title {
            font-size: 14px;
        }
        .con_input_self {
            input ,
            textarea {
                height: 36px;
            }
        }
    }
}