@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Noto+Serif+TC:wght@200..900&display=swap");
header {
  position: relative;
}
header .all_width {
  position: relative;
}
header .all_width .header_title {
  display: block;
  position: absolute;
  top: -137px;
  color: #ffffff;
  width: 100%;
}
header .all_width .header_title .col-10 {
  display: flex;
}
header .all_width .header_title .col-10 .header_title_img {
  margin-right: 17px;
  margin-top: 2px;
}
header .all_width .header_title .col-10 .header_title_img img {
  height: 76px;
}
header .all_width .header_title h6 {
  font-size: 32px;
  padding-bottom: 12px;
  line-height: 1;
}
header .all_width .header_title p {
  font-size: 20px;
}
header .all_width .index_header_title {
  top: -211px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif TC", serif;
  font-style: normal;
  line-height: 28.8px;
  letter-spacing: 1px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.a_decoration {
  position: relative;
}
.a_decoration::after, .a_decoration::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 20px;
  top: calc(1.5em + 6px);
  height: 2px;
  background-color: #CC8869;
  z-index: 99;
}
.a_decoration::before {
  width: 65px;
  left: 0px;
}
.a_decoration::after {
  width: 2px;
  right: 2px;
}

.all_width_p {
  padding: 0px 20px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  animation-name: fadeIn;
  animation-duration: 2s;
  overflow-x: hidden;
}

.container {
  max-width: 100vw !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.main_title {
  display: flex;
  align-items: center;
  color: #CC8869;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
.main_title span {
  display: inline-flex;
}
.main_title img {
  width: 42px;
  margin-left: 16px;
}

.main_contain {
  color: #524D4B;
  font-size: 16px;
  letter-spacing: 1px;
}

.main_button {
  display: flex;
  justify-content: flex-end;
}
.main_button a {
  display: inline-block;
  color: #CC8869;
  font-size: 16px;
  letter-spacing: 2px;
}

.space {
  display: inline-block;
  width: 1em;
}

.flex_a_center {
  align-items: center;
}

.pr-0 {
  padding-right: 0px;
}

.main_bg_point_01 {
  position: relative;
  padding-top: 154px;
}
.main_bg_point_01 .main_bg_01 {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -999;
  width: 267px;
}
.main_bg_point_01 .main_bg_02 {
  position: absolute;
  bottom: 30px;
  left: 0px;
  z-index: -999;
  width: 267px;
}

/* 導覽列 */
.nav_rwd {
  display: none;
}

.nav {
  z-index: 9999;
  position: fixed;
  width: 100vw;
  overflow-x: hidden;
  transition: background-color 0.5s ease-in-out;
}
.nav::after {
  content: "";
  display: block;
  clear: both;
}
.nav .nav_index {
  display: inline-block;
}
.nav .nav_bar {
  display: block;
  /* 隱藏 checkbox */
  /* 漢堡按鈕 */
  /* menu*/
  /* 下拉選單效果 */
}
.nav .nav_bar input {
  display: none;
}
.nav .nav_bar .line {
  right: 34px;
  top: 24px;
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  border: solid 1.5px #ffffff;
  border-radius: 8px;
}
.nav .nav_bar .line .switch, .nav .nav_bar .line .switch::before, .nav .nav_bar .line .switch::after {
  background-color: #945B41;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transition: background-color ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 23px;
}
.nav .nav_bar .line .switch {
  left: 5px;
  top: 15px;
}
.nav .nav_bar .line .switch::before {
  top: -9px;
}
.nav .nav_bar .line .switch::after {
  top: 9px;
}
.nav .nav_bar .menu {
  clear: both;
}
.nav .nav_bar .menu li {
  text-align: center;
  display: inline-block;
}
.nav .nav_bar .menu li a {
  display: block;
  text-align: center;
  color: brown;
  font-size: 14px;
  letter-spacing: 3px;
  position: relative;
  font-size: 16px;
}
.nav .nav_bar .menu li a::after, .nav .nav_bar .menu li a::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 20px;
  top: 47px;
  height: 2px;
  background-color: transparent;
  z-index: 99;
  opacity: 0;
  transition: all 0.5s;
}
.nav .nav_bar .menu li a::before {
  width: 67px;
  left: 21px;
}
.nav .nav_bar .menu li a::after {
  width: 2px;
  right: 23px;
}
.nav .nav_bar .menu li a span {
  display: block;
}
.nav .nav_bar .menu li a:hover, .nav .nav_bar .menu li a:focus {
  position: relative;
}
.nav .nav_bar .menu li a:hover::after, .nav .nav_bar .menu li a:hover::before, .nav .nav_bar .menu li a:focus::after, .nav .nav_bar .menu li a:focus::before {
  background-color: #ffffff;
  opacity: 1;
}
.nav .nav_bar .menu li a:hover .nav_c, .nav .nav_bar .menu li a:focus .nav_c {
  display: none;
}
.nav .nav_bar .menu li a:hover .nav_uc, .nav .nav_bar .menu li a:focus .nav_uc {
  display: block;
}
.nav .nav_bar .menu li a.a_decoration::after, .nav .nav_bar .menu li a.a_decoration::before {
  background-color: #ffffff;
  top: 47px;
  opacity: 1;
}
.nav .nav_bar .menu li a.a_decoration::before {
  width: 67px;
  left: 21px;
}
.nav .nav_bar .menu li a.a_decoration::after {
  width: 2px;
  right: 23px;
}
.nav .nav_bar .menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s; /* 動畫秒數 */
}
.nav .nav_bar input:checked ~ .menu {
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: transparent;
}
.nav .nav_bar input:checked ~ .menu li {
  padding: 0px;
}

/* 點選選單變叉叉 */
#switch:checked + .line .switch {
  background: transparent !important;
}

#switch:checked + .line .switch::before {
  transform: rotate(45deg) !important;
}

#switch:checked + .line .switch::after {
  transform: rotate(-45deg) !important;
}

#switch:checked + .line .switch::before,
#switch:checked + .line .switch::after {
  top: 0 !important;
  transition: top ease 0.3s, transform ease 0.3s 0.3s !important;
}

#switch:checked + .line {
  border-color: rgba(255, 255, 255, 0);
  transition: all 0.5s;
}

.nav.scrolled {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #ececec;
}
.nav.scrolled .nav_bar .menu div li a, .nav.scrolled .nav_bar .menu .nav_index {
  color: #945B41;
}
.nav.scrolled .nav_bar .menu div li a:hover, .nav.scrolled .nav_bar .menu div li a:focus {
  color: #CC8869;
}
.nav.scrolled .nav_bar .menu li a:hover::after, .nav.scrolled .nav_bar .menu li a:hover::before, .nav.scrolled .nav_bar .menu li a:focus::after, .nav.scrolled .nav_bar .menu li a:focus::before {
  background-color: #CC8869;
}
.nav.scrolled .nav_bar .menu li a.a_decoration::before, .nav.scrolled .nav_bar .menu li a.a_decoration::after {
  background-color: #945B41;
}
.nav.scrolled .nav_bar .menu li a.a_decoration:hover::before, .nav.scrolled .nav_bar .menu li a.a_decoration:hover::after {
  background-color: #CC8869;
}

@media screen and (min-width: 768px) {
  .nav .nav_bar .line {
    display: none;
  }
  .nav .nav_bar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    clear: none;
    max-height: calc(4em + 4px + 32px);
    background-color: rgba(255, 255, 255, 0);
  }
  .nav .nav_bar .menu .nav_index {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .nav .nav_bar .menu div {
    text-align: center;
  }
  .nav .nav_bar .menu div li a {
    padding: 16px 20px;
    color: #ffffff;
  }
}
@media (max-width: 768px) {
  .all_width {
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav_rwd {
    display: block;
    padding: 24px 48px;
    color: #945B41;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    width: 100vw;
    z-index: 9998;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #ececec;
  }
  .nav {
    position: static;
    width: 100%;
  }
  .nav .col-1 {
    display: none;
  }
  .nav .col-10 {
    width: 100%;
  }
  .nav .nav_bar .menu {
    height: 0px;
    position: fixed;
    top: 76px;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    padding-top: 0px !important;
  }
  .nav .nav_bar .menu .nav_index {
    display: none;
  }
  .nav .nav_bar .menu .all_width {
    padding: 0px;
  }
  .nav .nav_bar .menu li {
    background-color: #ffffff;
    padding: 0px 24px !important;
    transition: all 0.2s;
  }
  .nav .nav_bar .menu li a {
    padding: 24px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #FFE9DF;
  }
  .nav .nav_bar .menu li a.a_decoration::before, .nav .nav_bar .menu li a.a_decoration::after {
    display: none;
  }
  .nav .nav_bar .menu_active, .nav .nav_bar .menu_active_over {
    display: block;
    max-height: -moz-fit-content;
    max-height: fit-content;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 1;
    padding: 0px;
    height: 100vh;
    max-height: 100vh !important;
  }
  .nav .nav_bar .menu_active li, .nav .nav_bar .menu_active_over li {
    display: block;
  }
  .nav .nav_bar .menu_active_over {
    height: 0vh;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.pagination .page-link {
  padding: 6px auto;
  color: #62554F;
  width: 36px;
  text-align: center;
  background-color: #F8F8F8;
  border-color: #F8F8F8;
  font-size: 16px;
  letter-spacing: 0px;
  transition: all 0.5s;
  border-radius: 8px !important;
}
.pagination .page-link:hover {
  opacity: 0.8;
}
.pagination .page-item {
  margin-right: 20px;
}
.pagination .page-item:last-child {
  margin-right: 0;
}
.pagination .page-item:first-child .page-link {
  border-radius: 8px;
}
.pagination .active > .page-link, .pagination .page-link.active {
  border-color: #CC8869;
  background-color: #CC8869;
  color: #ffffff;
}
.pagination .active > .page-link:hover, .pagination .page-link.active:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .col-1 {
    width: 28px;
  }
  header {
    margin-top: 70px;
  }
  table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }
}
footer {
  background-color: #CC8869;
  background-image: url("/img/footer_bg.png");
  padding: 68px 0px;
  color: #ffffff;
  position: relative;
  letter-spacing: 2px;
  font-size: 16px;
}
footer .row {
  align-items: center;
}
footer .footer_bg_top, footer .footer_bg_down {
  position: absolute;
}
footer .footer_bg_top {
  width: 299px;
  left: 0px;
  top: -122px;
  z-index: -9;
}
footer .footer_bg_down {
  width: 283px;
  right: 0px;
  bottom: 0px;
}
footer .footer_title div:first-child {
  font-size: 22px;
  margin-bottom: 12px;
}
footer .footer_con {
  display: inline-flex;
  justify-content: space-between;
}
footer .footer_con .footer_con_l div {
  margin-bottom: 16px;
}
footer .footer_con .footer_con_l div img {
  width: 14px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: -2px;
}
footer .footer_con .footer_con_l div:last-child {
  margin-bottom: 0;
}
footer .footer_con .footer_con_r a {
  display: block;
  border: solid 1px #ffffff;
  padding: 6px 22px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #ffffff;
  transition: all 0.5s;
  background-color: transparent;
}
footer .footer_con .footer_con_r a:first-child {
  margin-bottom: 16px;
}
footer .footer_con .footer_con_r a:hover {
  background-color: #ffffff;
  color: #CC8869;
}

@media (max-width: 768px) {
  footer {
    overflow-x: hidden;
  }
  footer .footer_bg_top {
    width: 226px;
    top: -92px;
  }
  footer .row {
    display: block;
  }
  footer .row .col-2 {
    display: none;
  }
  footer .row .footer_title {
    display: block;
    width: 100%;
    padding: 0px 48px;
    text-align: center;
    margin-bottom: 32px;
  }
  footer .row .footer_con {
    display: block;
    width: 100%;
    padding: 0px 48px;
  }
  footer .row .footer_con .footer_con_l {
    margin-bottom: 32px;
  }
  footer .row .footer_con .footer_con_l img {
    margin-right: 4px;
  }
  footer .row .footer_con .footer_con_r {
    text-align: center;
  }
  footer .row .footer_con .footer_con_r a {
    display: inline-block;
  }
  footer .footer_bg_down {
    width: 220px;
  }
}
header {
  position: relative;
}
header .all_width {
  position: relative;
}
header .all_width .header_title {
  display: block;
  position: absolute;
  top: -137px;
  color: #ffffff;
  width: 100%;
}
header .all_width .header_title .col-10 {
  display: flex;
}
header .all_width .header_title .col-10 .header_title_img {
  margin-right: 17px;
  margin-top: 2px;
}
header .all_width .header_title .col-10 .header_title_img img {
  height: 76px;
}
header .all_width .header_title h6 {
  font-size: 32px;
  padding-bottom: 12px;
  line-height: 1;
}
header .all_width .header_title p {
  font-size: 20px;
}
header .all_width .index_header_title {
  top: -211px;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Noto Serif TC", serif;
  font-style: normal;
  line-height: 28.8px;
  letter-spacing: 1px;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  width: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.a_decoration {
  position: relative;
}
.a_decoration::after, .a_decoration::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 20px;
  top: calc(1.5em + 6px);
  height: 2px;
  background-color: #CC8869;
  z-index: 99;
}
.a_decoration::before {
  width: 65px;
  left: 0px;
}
.a_decoration::after {
  width: 2px;
  right: 2px;
}

.all_width_p {
  padding: 0px 20px;
}

img {
  width: 100%;
  max-width: 100%;
  height: auto;
}

body {
  animation-name: fadeIn;
  animation-duration: 2s;
  overflow-x: hidden;
}

.container {
  max-width: 100vw !important;
  padding: 0 !important;
  overflow-x: hidden;
}

.main_title {
  display: flex;
  align-items: center;
  color: #CC8869;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
}
.main_title span {
  display: inline-flex;
}
.main_title img {
  width: 42px;
  margin-left: 16px;
}

.main_contain {
  color: #524D4B;
  font-size: 16px;
  letter-spacing: 1px;
}

.main_button {
  display: flex;
  justify-content: flex-end;
}
.main_button a {
  display: inline-block;
  color: #CC8869;
  font-size: 16px;
  letter-spacing: 2px;
}

.space {
  display: inline-block;
  width: 1em;
}

.flex_a_center {
  align-items: center;
}

.pr-0 {
  padding-right: 0px;
}

.main_bg_point_01 {
  position: relative;
  padding-top: 154px;
}
.main_bg_point_01 .main_bg_01 {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -999;
  width: 267px;
}
.main_bg_point_01 .main_bg_02 {
  position: absolute;
  bottom: 30px;
  left: 0px;
  z-index: -999;
  width: 267px;
}

/* 導覽列 */
.nav_rwd {
  display: none;
}

.nav {
  z-index: 9999;
  position: fixed;
  width: 100vw;
  overflow-x: hidden;
  transition: background-color 0.5s ease-in-out;
}
.nav::after {
  content: "";
  display: block;
  clear: both;
}
.nav .nav_index {
  display: inline-block;
}
.nav .nav_bar {
  display: block;
  /* 隱藏 checkbox */
  /* 漢堡按鈕 */
  /* menu*/
  /* 下拉選單效果 */
}
.nav .nav_bar input {
  display: none;
}
.nav .nav_bar .line {
  right: 34px;
  top: 24px;
  width: 20px;
  height: 20px;
  background: transparent;
  cursor: pointer;
  display: block;
  padding: 16px;
  position: fixed;
  z-index: 9999;
  border: solid 1.5px #ffffff;
  border-radius: 8px;
}
.nav .nav_bar .line .switch, .nav .nav_bar .line .switch::before, .nav .nav_bar .line .switch::after {
  background-color: #945B41;
  content: "";
  display: block;
  height: 3px;
  position: absolute;
  transition: background-color ease 0.3s, top ease 0.3s 0.3s, transform ease 0.3s;
  width: 23px;
}
.nav .nav_bar .line .switch {
  left: 5px;
  top: 15px;
}
.nav .nav_bar .line .switch::before {
  top: -9px;
}
.nav .nav_bar .line .switch::after {
  top: 9px;
}
.nav .nav_bar .menu {
  clear: both;
}
.nav .nav_bar .menu li {
  text-align: center;
  display: inline-block;
}
.nav .nav_bar .menu li a {
  display: block;
  text-align: center;
  color: brown;
  font-size: 14px;
  letter-spacing: 3px;
  position: relative;
  font-size: 16px;
}
.nav .nav_bar .menu li a::after, .nav .nav_bar .menu li a::before {
  content: "";
  display: inline-block;
  position: absolute;
  border-radius: 20px;
  top: 47px;
  height: 2px;
  background-color: transparent;
  z-index: 99;
  opacity: 0;
  transition: all 0.5s;
}
.nav .nav_bar .menu li a::before {
  width: 67px;
  left: 21px;
}
.nav .nav_bar .menu li a::after {
  width: 2px;
  right: 23px;
}
.nav .nav_bar .menu li a span {
  display: block;
}
.nav .nav_bar .menu li a:hover, .nav .nav_bar .menu li a:focus {
  position: relative;
}
.nav .nav_bar .menu li a:hover::after, .nav .nav_bar .menu li a:hover::before, .nav .nav_bar .menu li a:focus::after, .nav .nav_bar .menu li a:focus::before {
  background-color: #ffffff;
  opacity: 1;
}
.nav .nav_bar .menu li a:hover .nav_c, .nav .nav_bar .menu li a:focus .nav_c {
  display: none;
}
.nav .nav_bar .menu li a:hover .nav_uc, .nav .nav_bar .menu li a:focus .nav_uc {
  display: block;
}
.nav .nav_bar .menu li a.a_decoration::after, .nav .nav_bar .menu li a.a_decoration::before {
  background-color: #ffffff;
  top: 47px;
  opacity: 1;
}
.nav .nav_bar .menu li a.a_decoration::before {
  width: 67px;
  left: 21px;
}
.nav .nav_bar .menu li a.a_decoration::after {
  width: 2px;
  right: 23px;
}
.nav .nav_bar .menu {
  max-height: 0;
  overflow: hidden;
  transition: 0.2s; /* 動畫秒數 */
}
.nav .nav_bar input:checked ~ .menu {
  max-height: -moz-fit-content;
  max-height: fit-content;
  background-color: transparent;
}
.nav .nav_bar input:checked ~ .menu li {
  padding: 0px;
}

/* 點選選單變叉叉 */
#switch:checked + .line .switch {
  background: transparent !important;
}

#switch:checked + .line .switch::before {
  transform: rotate(45deg) !important;
}

#switch:checked + .line .switch::after {
  transform: rotate(-45deg) !important;
}

#switch:checked + .line .switch::before,
#switch:checked + .line .switch::after {
  top: 0 !important;
  transition: top ease 0.3s, transform ease 0.3s 0.3s !important;
}

#switch:checked + .line {
  border-color: rgba(255, 255, 255, 0);
  transition: all 0.5s;
}

.nav.scrolled {
  background-color: #ffffff;
  box-shadow: 0px 2px 4px #ececec;
}
.nav.scrolled .nav_bar .menu div li a, .nav.scrolled .nav_bar .menu .nav_index {
  color: #945B41;
}
.nav.scrolled .nav_bar .menu div li a:hover, .nav.scrolled .nav_bar .menu div li a:focus {
  color: #CC8869;
}
.nav.scrolled .nav_bar .menu li a:hover::after, .nav.scrolled .nav_bar .menu li a:hover::before, .nav.scrolled .nav_bar .menu li a:focus::after, .nav.scrolled .nav_bar .menu li a:focus::before {
  background-color: #CC8869;
}
.nav.scrolled .nav_bar .menu li a.a_decoration::before, .nav.scrolled .nav_bar .menu li a.a_decoration::after {
  background-color: #945B41;
}
.nav.scrolled .nav_bar .menu li a.a_decoration:hover::before, .nav.scrolled .nav_bar .menu li a.a_decoration:hover::after {
  background-color: #CC8869;
}

@media screen and (min-width: 768px) {
  .nav .nav_bar .line {
    display: none;
  }
  .nav .nav_bar .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    clear: none;
    max-height: calc(4em + 4px + 32px);
    background-color: rgba(255, 255, 255, 0);
  }
  .nav .nav_bar .menu .nav_index {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
  }
  .nav .nav_bar .menu div {
    text-align: center;
  }
  .nav .nav_bar .menu div li a {
    padding: 16px 20px;
    color: #ffffff;
  }
}
@media (max-width: 768px) {
  .all_width {
    padding-left: 16px;
    padding-right: 16px;
  }
  .nav_rwd {
    display: block;
    padding: 24px 48px;
    color: #945B41;
    font-size: 20px;
    font-weight: bold;
    position: fixed;
    width: 100vw;
    z-index: 9998;
    background-color: #ffffff;
    box-shadow: 0px 2px 4px #ececec;
  }
  .nav {
    position: static;
    width: 100%;
  }
  .nav .col-1 {
    display: none;
  }
  .nav .col-10 {
    width: 100%;
  }
  .nav .nav_bar .menu {
    height: 0px;
    position: fixed;
    top: 76px;
    left: 0;
    width: 100%;
    transition: all 0.5s;
    padding-top: 0px !important;
  }
  .nav .nav_bar .menu .nav_index {
    display: none;
  }
  .nav .nav_bar .menu .all_width {
    padding: 0px;
  }
  .nav .nav_bar .menu li {
    background-color: #ffffff;
    padding: 0px 24px !important;
    transition: all 0.2s;
  }
  .nav .nav_bar .menu li a {
    padding: 24px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: solid 1px #FFE9DF;
  }
  .nav .nav_bar .menu li a.a_decoration::before, .nav .nav_bar .menu li a.a_decoration::after {
    display: none;
  }
  .nav .nav_bar .menu_active, .nav .nav_bar .menu_active_over {
    display: block;
    max-height: -moz-fit-content;
    max-height: fit-content;
    background-color: rgba(255, 255, 255, 0.5) !important;
    z-index: 1;
    padding: 0px;
    height: 100vh;
    max-height: 100vh !important;
  }
  .nav .nav_bar .menu_active li, .nav .nav_bar .menu_active_over li {
    display: block;
  }
  .nav .nav_bar .menu_active_over {
    height: 0vh;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

.pagination .page-link {
  padding: 6px auto;
  color: #62554F;
  width: 36px;
  text-align: center;
  background-color: #F8F8F8;
  border-color: #F8F8F8;
  font-size: 16px;
  letter-spacing: 0px;
  transition: all 0.5s;
  border-radius: 8px !important;
}
.pagination .page-link:hover {
  opacity: 0.8;
}
.pagination .page-item {
  margin-right: 20px;
}
.pagination .page-item:last-child {
  margin-right: 0;
}
.pagination .page-item:first-child .page-link {
  border-radius: 8px;
}
.pagination .active > .page-link, .pagination .page-link.active {
  border-color: #CC8869;
  background-color: #CC8869;
  color: #ffffff;
}
.pagination .active > .page-link:hover, .pagination .page-link.active:hover {
  opacity: 1;
}

@media (max-width: 768px) {
  .col-1 {
    width: 28px;
  }
  header {
    margin-top: 70px;
  }
  table {
    width: 100%;
    overflow-x: auto;
    display: block;
  }
}
/* -----------以下為主要頁面css------------ */
.index .main_bg_point_01 {
  display: flex;
  align-items: center;
}
.index .main_bg_point_01 .col-4 {
  padding-right: 67px;
}
.index .main_bg_point_01 .col-6 {
  display: flex;
  justify-content: flex-end;
}
.index .main_bg_point_01 .main_title {
  margin-bottom: 50px;
  font-size: 22px;
}
.index .main_bg_point_01 .main_contain {
  height: 217px;
}
.index .main_bg_point_01 .index_img01 {
  max-height: 500px;
  position: relative;
  overflow: hidden;
}
.index .main_bg_point_01 .index_img01 img {
  border-radius: 80px 80px 0px 80px;
}
.index .main_bg_point_01 .index_img01 span {
  position: absolute;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 16px;
  bottom: 23px;
  right: 40px;
}
.index .index_02 {
  background-image: url("/mintur_pottery/img/index/home_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 170px;
  padding-bottom: 280px;
  position: relative;
}
.index .index_02 .home_bg_bottom {
  position: absolute;
  bottom: 0px;
}
.index .index_02 .col-10 {
  display: flex;
  justify-content: space-between;
}
.index .index_02 .index_home {
  position: relative;
  width: 18%;
  z-index: 2;
}
.index .index_02 .index_home img {
  overflow: hidden;
  border-radius: 40px;
  min-height: 25em;
}
.index .index_02 .index_home .home_text, .index .index_02 .index_home .home_dec {
  position: absolute;
  border-radius: initial;
}
.index .index_02 .index_home .home_text {
  display: inline-block;
  width: 1em;
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  right: 15px;
}
.index .index_02 .index_home .home_text span {
  display: inline-block;
  height: 20px;
  width: 1em;
}
.index .index_02 .home_01 .home_text {
  bottom: 35px;
}
.index .index_02 .home_01 .home_dec {
  bottom: -184px;
  right: 36px;
  width: 99px;
}
.index .index_02 .home_02 .home_text {
  top: 130px;
}
.index .index_02 .home_02 .home_dec {
  top: -131px;
  right: -22px;
  width: 104px;
}
.index .index_02 .home_03 .home_text {
  top: 80px;
}
.index .index_02 .home_03 .home_dec {
  bottom: -175px;
  left: 10px;
  width: 144px;
}
.index .index_02 .home_04 .home_text {
  top: 38px;
}
.index .index_02 .home_04 .home_dec {
  top: -157px;
  left: -12px;
  width: 99px;
}
.index .index_02 .home_02, .index .index_02 .home_04 {
  top: 109px;
}
.index .index_03 {
  padding-top: 43px;
}
.index .index_03 .home_05 {
  padding-right: 50px;
}
.index .index_03 .home_05 img {
  border-radius: 40px;
  overflow: hidden;
  height: 100%;
}

.index_03 .main_title, .index_04 .main_title {
  font-size: 20px;
  margin-bottom: 34px;
}
.index_03 .main_title img, .index_04 .main_title img {
  width: 33px;
}
.index_03 .main_contain span, .index_04 .main_contain span {
  display: inline-block;
  margin-bottom: 12px;
}
.index_03 .main_contain span:last-child, .index_04 .main_contain span:last-child {
  margin-bottom: 20px;
}

.index_04 {
  padding-top: 110px;
  position: relative;
  margin-bottom: 155px;
}
.index_04 .index_04_l {
  padding-right: 50px;
}
.index_04 .index_04_r img {
  border-radius: 40px;
  overflow: hidden;
}
.index_04 .index_04_r .index_04_rtop {
  margin-bottom: 38px;
}
.index_04 .index_04_r .index_04_rbot {
  display: flex;
  justify-content: space-between;
}
.index_04 .index_04_r .index_04_rbot span {
  width: calc((100% - 80px) / 3);
}
.index_04 .index_04bg_r, .index_04 .index_04bg_l {
  position: absolute;
  z-index: -999;
  width: 267px;
}
.index_04 .index_04bg_r {
  top: -90px;
  right: 0px;
}
.index_04 .index_04bg_l {
  bottom: -12px;
  left: 0px;
}

.product_title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #CC8869;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.product_title .product_title_l, .product_title .product_title_r {
  display: inline-block;
}
.product_title .product_title_l img, .product_title .product_title_r img {
  width: 33px;
}
.product_title .product_title_l {
  transform: scaleX(-1);
  margin-right: 10px;
}
.product_title .product_title_r {
  margin-left: 10px;
}

.product {
  background-image: url("/mintur_pottery/img/product/pro_bg.jpg");
  padding-top: 100px;
  padding-bottom: 90px;
}
.product .product_content {
  text-align: center;
  margin-bottom: 40px;
  color: #524D4B;
}
.product .product_content span {
  display: block;
  margin-bottom: 12px;
}
.product .product_list {
  box-sizing: border-box;
  display: inline-table;
}
.product .product_list a {
  display: inline-block;
  width: calc((100% - 108px) / 4);
  margin-right: 36px;
  text-align: center;
  font-weight: 500;
  margin-bottom: 46px;
  vertical-align: top;
}
.product .product_list a:nth-child(4n) {
  margin-right: 0px;
}
.product .product_list a .pro_img {
  margin-bottom: 16px;
  border-radius: 10px;
  overflow: hidden;
}
.product .product_list a .pro_title {
  font-size: 16px;
  color: #524D4B;
  margin-bottom: 4px;
}
.product .product_list a .pro_money {
  font-size: 14px;
  color: #CC8869;
}
.product .main_button {
  justify-content: center;
}

.traffic {
  margin-top: 100px;
  padding-bottom: 122px;
}
.traffic .main_title {
  margin-bottom: 45px;
  font-size: 20px;
}
.traffic .main_title img {
  width: 33px;
}
.traffic .traffic_list {
  font-size: 16px;
  color: #524D4B;
  margin-bottom: 20px;
}
.traffic .traffic_list .traffic_list_title {
  font-weight: 600;
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  letter-spacing: 2px;
}
.traffic .traffic_list .traffic_list_title::before {
  content: "";
  display: inline-block;
  position: relative;
  background-color: #524D4B;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  top: -4px;
  margin-right: 8px;
}
.traffic .traffic_list .traffic_list_con {
  display: inline-block;
  width: calc(100% - 7em - 67px);
}
.traffic .traffic_list .traffic_list_con span {
  color: #CC8869;
}
.traffic .traffic_list .traffic_list_con img {
  display: inline-block;
  width: 6px;
  margin-right: 8px;
}

@media (max-width: 768px) {
  header {
    overflow: hidden;
  }
  header .all_width .header_title {
    left: 0;
  }
  header .all_width .index_header_title {
    left: 0px;
  }
  header .all_width .index_header_title h6 {
    font-size: 28px;
  }
  header .all_width .index_header_title p {
    font-size: 18px;
  }
  header .header-img {
    width: auto;
    max-width: initial;
    height: 360px;
  }
  header .col-1 {
    display: none;
  }
  header .col-10 {
    width: 100%;
    padding-right: 48px;
    padding-left: 48px;
  }
  .index .main_bg_point_01 .col-1 {
    display: none;
  }
  .index .main_bg_point_01 .main_bg_01, .index .main_bg_point_01 .main_bg_02 {
    width: 220px;
  }
  .index .main_bg_point_01 .col-4 {
    width: 100%;
    padding-right: 48px;
    padding-left: 48px;
    margin-bottom: 40px;
  }
  .index .main_bg_point_01 .index_img01 {
    display: none;
  }
  .index .index_02 {
    display: block;
    padding-left: 48px;
    padding-right: 48px;
  }
  .index .index_02 .col-1 {
    display: none;
  }
  .index .index_02 .col-10 {
    display: block;
    width: 100%;
    padding: 0px;
  }
  .index .index_02 .col-10 .index_home {
    display: inline-block;
    width: calc((100% - 48px) / 2);
    margin-right: 32px;
  }
  .index .index_02 .col-10 .index_home:nth-child(2n) {
    margin-right: 0;
  }
  .index .index_02 .col-10 .index_home:first-child {
    margin-bottom: 48px;
  }
  .index .index_02 .col-10 .index_home img {
    min-height: auto;
  }
  .index .index_02 .home_02 .home_text {
    top: 85px;
  }
  .index .index_02 .home_02, .index .index_02 .home_04 {
    top: 58px;
  }
  .index .index_02 .home_01 .home_dec {
    bottom: -11px;
  }
  .index .index_02 .home_02 .home_dec {
    top: 0px;
  }
  .index .index_02 .home_03 .home_dec {
    bottom: -14px;
    left: -14px;
  }
  .index .index_02 .home_04 .home_dec {
    top: 20px;
    left: -15px;
  }
  .index .index_03 {
    display: block;
  }
  .index .index_03 .row {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  .index .index_03 .col-1 {
    display: none;
  }
  .index .index_03 .col-5 {
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
  .index .index_03 .home_05 {
    text-align: center;
    padding-right: 48px;
    order: 1;
    margin-top: 40px;
  }
  .index .index_04 {
    display: block;
    margin-bottom: 100px;
  }
  .index .index_04 .col-1 {
    display: none;
  }
  .index .index_04 .index_04_l {
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
    margin-bottom: 40px;
  }
  .index .index_04 .index_04_r {
    padding-left: 48px;
    padding-right: 48px;
    width: 100%;
  }
  .index .index_04 .index_04_r .index_04_rtop {
    max-height: 180px;
    overflow: hidden;
    border-radius: 40px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .index .index_04 .index_04_r .index_04_rtop img {
    height: 100%;
  }
  .index .index_04 .index_04_r .index_04_rbot span {
    width: calc((100% - 40px) / 3);
  }
  .index .index_04 .index_04bg_l {
    bottom: -87px;
  }
  .index .index_04 .index_04bg_r, .index .index_04 .index_04bg_l {
    width: 220px;
  }
  .index .product_title, .index .product_content {
    padding-left: 48px;
    padding-right: 48px;
  }
  .index .product .row {
    display: block;
  }
  .index .product .row .col-1 {
    display: none;
  }
  .index .product .row .product_list {
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
  .index .product .row .product_list a {
    width: calc((100% - 36px) / 2);
  }
  .index .product .row .product_list a:nth-child(2n) {
    margin-right: 0px;
  }
  .index .row.traffic {
    display: block;
  }
  .index .row.traffic .col-1 {
    display: none;
  }
  .index .row.traffic .col-6, .index .row.traffic .col-4 {
    display: block;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
  .index .row.traffic .traffic_list .traffic_list_con {
    width: calc(100% - 7em - 3px);
  }
}
@media (max-width: 500px) {
  header #header-img {
    height: 350px;
    width: auto;
    max-width: -moz-max-content;
    max-width: max-content;
  }
  header .all_width .header_title h6 {
    font-size: 28px;
  }
  header .all_width .header_title .col-10 .header_title_img {
    margin-right: 12px;
    margin-top: -14px;
  }
  header .all_width .header_title .col-10 .header_title_img img {
    height: 100%;
  }
  .index .index_02 {
    padding-top: 90px;
    padding-bottom: 100px;
  }
  .index .index_02 .col-10 .index_home {
    display: flex;
    width: 100%;
    margin-right: 0px;
    border-radius: 40px;
    align-items: center;
    margin-bottom: 40px;
    height: 180px;
    overflow: hidden;
  }
  .index .index_02 .col-10 .index_home .home_text {
    width: auto;
    right: auto;
    left: 30px;
    bottom: 35px;
  }
  .index .index_02 .home_02 .home_text, .index .index_02 .home_03 .home_text, .index .index_02 .home_04 .home_text {
    top: auto;
  }
  .index .index_02 .home_02, .index .index_02 .home_04 {
    top: auto;
  }
  .index .index_02 .home_01 .home_dec {
    bottom: auto;
    right: 30px;
    top: 16px;
  }
  .index .index_02 .home_02 .home_dec {
    right: 13px;
    top: 16px;
  }
  .index .index_02 .home_03 .home_dec {
    bottom: auto;
    left: auto;
    right: 4px;
    top: 14px;
  }
  .index .index_02 .home_04 .home_dec {
    top: 20px;
    left: auto;
    right: 20px;
  }
  .index .product .row .product_list a {
    width: 100%;
    margin-right: 0px;
  }
}
.same_top .index .main_bg_point_01 .main_bg_02 {
  bottom: -110px;
}
.same_top .index .main_bg_point_01 .col-6 {
  padding-left: 83px;
}
.same_top .index .main_bg_point_01 .col-4 {
  padding-right: calc(var(--bs-gutter-x) * 0.5);
}
.same_top .index .main_bg_point_01 .main_contain {
  height: auto;
}

.about .about_02 {
  margin-top: 180px;
}
.about .about_02 .row {
  align-items: center;
}
.about .about_02 .col-6 {
  position: relative;
  padding-right: 83px;
}
.about .about_02 .col-6 span {
  position: absolute;
  color: #ffffff;
  letter-spacing: 2px;
  font-size: 16px;
  bottom: 23px;
  left: 40px;
}
.about .about_02 .col-6 img {
  border-radius: 80px 80px 80px 0px;
}
.about .about_02 .main_title {
  margin-bottom: 50px;
}
.about .about_03_b {
  margin-bottom: 190px;
}

@media (max-width: 768px) {
  .same_top .index .main_bg_point_01 .col-4 {
    padding-right: 48px;
  }
  .same_top .index .main_bg_point_01 .index_img01 {
    display: block;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
  .same_top .index .main_bg_point_01 .index_img01 span {
    right: 70px;
  }
  .about .about_02 {
    margin-top: 154px;
  }
  .about .about_02 .row .col-1 {
    display: none;
  }
  .about .about_02 .row .col-6, .about .about_02 .row .col-4 {
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
  .about .about_02 .row .col-4 {
    margin-bottom: 40px;
  }
  .about .about_02 .row .col-6 {
    order: 2;
  }
  .about .about_02 .row .col-6 span {
    left: 70px;
  }
}
.food .index {
  margin-bottom: 150px;
}
.food .index .main_bg_point_01 .main_contain {
  color: #CC8869;
  font-weight: 500;
}
.food .index .main_bg_point_01 .index_img01 img {
  border-radius: 40px;
}
.food .food_02 {
  padding: 100px 0px;
  background-color: #FFF8F4;
}
.food .food_02 .food_02_self {
  position: relative;
}
.food .food_02 .food_02_self .food_02_bg {
  position: absolute;
  bottom: -68px;
  width: 268px;
}
.food .food_02 .food_02_img {
  position: relative;
  z-index: 2;
  display: inline-flex;
  align-items: flex-end;
}
.food .food_02 .food_02_img .food_02_img_tag {
  position: absolute;
  top: 49px;
  color: #ffffff;
  background-color: #CC8869;
  padding: 12px 24px;
  font-weight: 500;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 2px;
}
.food .food_02 .food_02_text {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  margin-top: 49px;
  background-color: #ffffff;
  z-index: 2;
  padding: 60px 34px;
}
.food .food_02 .food_02_text div {
  width: 100%;
}
.food .food_02 .food_02_self:nth-child(1n) {
  margin-bottom: 100px;
}
.food .food_02 .food_02_self:nth-child(1n) .food_02_img {
  padding-right: 0;
  padding-left: calc(var(--bs-gutter-x) * 0.5 * 2 + 23px);
}
.food .food_02 .food_02_self:nth-child(1n) .food_02_img .food_02_img_tag {
  left: 20px;
}
.food .food_02 .food_02_self:nth-child(1n) .food_02_img img {
  border-radius: 40px 40px 0px 40px;
}
.food .food_02 .food_02_self:nth-child(1n) .food_02_text {
  border-radius: 0px 20px 20px 0px;
  margin-right: 20px;
}
.food .food_02 .food_02_self:nth-child(1n) .food_02_bg {
  right: 0;
}
.food .food_02 .food_02_self:nth-child(2n) .food_02_img {
  order: 3;
  padding-left: 0;
  padding-right: calc(var(--bs-gutter-x) * 0.5 * 2 + 23px);
}
.food .food_02 .food_02_self:nth-child(2n) .food_02_img .food_02_img_tag {
  right: 20px;
  left: auto;
}
.food .food_02 .food_02_self:nth-child(2n) .food_02_img img {
  border-radius: 40px 40px 40px 0px;
}
.food .food_02 .food_02_self:nth-child(2n) .food_02_text {
  order: 1;
  margin-left: 20px;
  margin-right: 0;
  border-radius: 20px 0px 0px 20px;
}
.food .food_02 .food_02_self:nth-child(2n) .food_02_bg {
  left: 0;
  transform: scaleX(-1);
}
.food .food_02 .food_02_self:nth-child(2n) .order_04 {
  order: 4;
}
.food .food_02 .food_02_self:last-child {
  margin-bottom: 0;
}
.food .food_03 {
  padding-top: 160px;
  padding-bottom: 240px;
  position: relative;
}
.food .food_03 .food_03bg {
  position: absolute;
  bottom: 0;
  right: 0;
  max-width: 949px;
  z-index: -9999;
}
.food .food_03 .product_title {
  margin-bottom: 90px;
}
.food .food_03 .col-10 {
  display: flex;
  justify-content: space-between;
}
.food .food_03 .col-10 a {
  width: calc((100% - 87px - 87px) / 3);
  position: relative;
  opacity: 1;
  transition: all 0.5s;
  letter-spacing: 2px;
}
.food .food_03 .col-10 a:hover {
  opacity: 0.8;
  transition: all 0.5s;
}
.food .food_03 .col-10 a .food_03list {
  display: block;
  position: absolute;
  padding: 19px 28px;
  color: #ffffff;
  left: 0px;
  bottom: 20px;
  min-width: 12em;
  background-color: rgba(107, 145, 90, 0.7);
}
.food .food_03 .col-10 a .food_03list span {
  display: block;
  font-size: 16px;
}
.food .food_03 .col-10 a .food_03list span:first-child {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 4px;
  letter-spacing: 3px;
}

@media (max-width: 768px) {
  .food .food_02 .food_02_self:nth-child(1n) .food_02_img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding-left: 48px;
    padding-right: 48px;
    border-radius: 40px 40px 0px 0px;
    display: block;
  }
  .food .food_02 .food_02_self:nth-child(1n) .food_02_img img {
    width: 100%;
    border-radius: 40px 40px 0px 0px;
  }
  .food .food_02 .food_02_self:nth-child(1n) .food_02_img .food_02_img_tag {
    left: 48px;
    border-radius: 0px 8px 8px 0px;
  }
  .food .food_02 .food_02_self:nth-child(1n) .food_02_text {
    margin-top: 0;
    width: calc(100% - 48px - 48px);
    margin-left: 48px;
    margin-right: 48px;
    border-radius: 0px 0px 20px 20px;
    padding: 36px 34px;
  }
  .food .food_02 .food_02_self:nth-child(2n) .food_02_img {
    order: 1;
  }
  .food .food_02 .food_02_self:nth-child(2n) .food_02_img .food_02_img_tag {
    right: auto;
  }
  .food .food_02 .main_button {
    justify-content: center;
    margin-top: 20px;
  }
  .food .food_03 {
    padding-top: 100px;
    padding-bottom: 160px;
  }
  .food .food_03 .product_title {
    margin-bottom: 50px;
  }
  .food .food_03 .col-1 {
    display: none;
  }
  .food .food_03 .col-10 {
    display: block;
    width: 100%;
    padding-left: 48px;
    padding-right: 48px;
  }
  .food .food_03 .col-10 a {
    display: flex;
    align-items: center;
    width: 100%;
    height: 250px;
    overflow: hidden;
    margin-bottom: 40px;
  }
  .food .food_03 .food_03bg {
    max-width: 70vw;
  }
}
.reserve {
  margin-bottom: 113px;
}
.reserve .main_title {
  margin-bottom: 54px;
}
.reserve .reserve_list .reserve_list_self {
  margin-right: 58px;
  width: calc((100% - 58px - 58px) / 3);
  display: inline-table;
  transition: all 0.5s;
  margin-bottom: 77px;
}
.reserve .reserve_list .reserve_list_self:nth-child(3n) {
  margin-right: 0;
}
.reserve .reserve_list .reserve_list_self .reserve_list_img {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 16px;
}
.reserve .reserve_list .reserve_list_self .reserve_list_img .reserve_list_title {
  display: block;
  position: absolute;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  z-index: 99;
  left: 25px;
  bottom: 15px;
}
.reserve .reserve_list .reserve_list_self .reserve_list_img .reserve_list_tbg {
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 120px;
  background: linear-gradient(to top, #CC8869 0%, rgba(204, 136, 105, 0) 100%);
}
.reserve .reserve_list .reserve_list_self:hover {
  opacity: 0.8;
}
.reserve .reserve_list .reserve_list_self .reserve_list_tag {
  padding: 0px 11px;
  color: #6B915A;
  font-size: 16px;
}
.reserve .reserve_list .reserve_list_self .reserve_list_tag span {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 14px);
}
.reserve .reserve_list .reserve_list_self .reserve_list_tag span:first-child {
  width: 4px;
  height: 4px;
  background-color: #6B915A;
  border-radius: 50%;
  position: relative;
  top: 13px;
  margin-right: 4px;
}
.reserve .reserve_list .reserve_list_self .reserve_list_day, .reserve .reserve_list .reserve_list_self .reserve_list_con {
  padding: 0px 25px;
  font-size: 16px;
}
.reserve .reserve_list .reserve_list_self .reserve_list_day {
  color: #6B915A;
  margin-bottom: 12px;
}
.reserve .reserve_list .reserve_list_self .reserve_list_con {
  color: #ABABAB;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制最多顯示 2 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

@media (max-width: 768px) {
  .reserve .col-10 {
    width: 100%;
    padding-right: 48px;
    padding-left: 48px;
  }
  .reserve .reserve_list .reserve_list_self {
    width: calc((100% - 30px) / 2);
    margin-right: 30px;
  }
  .reserve .reserve_list .reserve_list_self:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .reserve .reserve_list .reserve_list_self {
    width: 100%;
    margin-right: 0;
  }
}
.new .new_list a {
  display: inline-table;
  margin-right: 57px;
  width: calc((100% - 57px - 57px) / 3);
  margin-bottom: 90px;
  transition: all 0.5s;
}
.new .new_list a:nth-child(3n) {
  margin-right: 0;
}
.new .new_list a span {
  display: block;
}
.new .new_list a .new_list_img {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 29px;
}
.new .new_list a .new_list_in {
  font-size: 16px;
  color: #ABABAB;
  padding: 0 18px;
}
.new .new_list a .new_list_in .new_list_title {
  font-size: 20px;
  color: #524D4B;
  font-weight: bold;
  margin-bottom: 8px;
}
.new .new_list a .new_list_in .new_list_date {
  color: #CC8869;
  margin-bottom: 8px;
}
.new .new_list a .new_list_in .new_list_con {
  display: -webkit-box;
  -webkit-line-clamp: 2; /* 限制最多顯示 2 行 */
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  width: 100%;
}
.new .new_list a:hover {
  opacity: 0.8;
}
.new .new_list a:hover .new_list_in {
  color: #CC8869;
}
.new .new_list a:hover .new_list_in .new_list_title {
  color: #CC8869;
}
.new .main_bg_point_01 .main_bg_02 {
  bottom: auto;
  top: 460px;
}
.new .main_bg_point_01 .main_bg_03 {
  position: absolute;
  bottom: -35px;
  right: 0px;
  width: 267px;
}
.new .pagination {
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  .new .col-1 {
    display: none;
  }
  .new .new_list {
    width: 100%;
    padding-right: 48px;
    padding-left: 48px;
  }
  .new .new_list a {
    margin-right: 40px;
    width: calc((100% - 40px) / 2);
  }
  .new .new_list a:nth-child(3n) {
    margin-right: 40px;
  }
  .new .new_list a:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 400px) {
  .new .new_list a {
    margin-right: 0px;
    width: 100%;
  }
  .new .new_list a:nth-child(3n) {
    margin-right: 0px;
  }
}
.product_in {
  margin-top: 150px;
}
.product_in .product_title {
  margin-bottom: 40px;
}
.product_in .product_list a .pro_money {
  color: #6B915A;
}
.product_in .product_list a {
  margin-bottom: 60px;
  transition: all 0.5s;
}
.product_in .product_list a:hover {
  opacity: 0.8;
}
.product_in .pro_btn {
  text-align: center;
  margin-top: 16px;
}
.product_in .pro_btn button {
  color: #CC8869;
  background-color: #ffffff;
  border: solid #CC8869 1px;
  border-radius: 8px;
  padding: 6px 12px;
  font-size: 14px;
}
.product_in .pro_btn button img {
  display: inline-block;
  width: 14px;
  margin-right: 8px;
  position: relative;
  top: -3px;
}
.product_in .pagination {
  margin-top: 40px;
  margin-bottom: 150px;
}

@media (max-width: 768px) {
  .product_in {
    margin-top: 90px;
  }
  .product_in .product_title {
    font-size: 16px;
    padding-right: 48px;
    padding-left: 48px;
    text-align: center;
  }
  .product_in .col-1 {
    display: none;
  }
  .product_in .product .product_list {
    width: 100%;
    padding-right: 48px;
    padding-left: 48px;
  }
  .product_in .product .product_list a {
    width: calc((100% - 36px) / 2);
  }
  .product_in .product .product_list a:nth-child(2n) {
    margin-right: 0;
  }
}
@media (max-width: 500px) {
  .product_in .product .product_list a {
    width: 100%;
    margin-right: 0;
  }
}/*# sourceMappingURL=styles.css.map */