
// 晚點再出現
@keyframes later_block {
    0% { 
        opacity: 0; 
    }
    50%{
        opacity: 0;
    }
    100% { 
        opacity: 1; 
    }
}

// 微微上下移動-先往下
@keyframes wiggle_up_down {
    0%   { 
        transform: translateY(0); 
    }
    50%  { 
        transform: translateY(-8px); 
    }
    100% { 
        transform: translateY(0); 
    }
}


// 微微左右移動-先往右
@keyframes wiggle_right_left {
    0%   { 
        transform: translateX(0); 
    }
    50%  { 
        transform: translateX(5px); 
    }
    100% { 
        transform: translateX(0); 
    }
}

// 微微左右移動-先往左(專門給作品集左按鈕)
@keyframes wiggle_left_right {
    0%   { 
        transform: scaleX(-1) translateX(0); 
    }
    50%  { 
        transform: scaleX(-1) translateX(5px); 
    }
    100% { 
        transform: scaleX(-1) translateX(0); 
    }
}


// banner遮罩 由小至大
@keyframes bannerSize {
    0% {
        bottom: -1px;
        transform:scale(1.2);
    }
    2% {
        bottom: -1px;
        transform:scale(1.2);
    }
    100% {
        bottom: 3900px;
        transform:scale(35);
    }
}


// 文字一個一個上來
@keyframes slideUpFadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.animate-text span {
    display: inline-block;
    opacity: 0;
    animation: slideUpFadeIn 1s ease forwards;
}

.c_info_an{
    opacity: 0;
    animation: slideUpFadeIn 2s ease forwards;
    animation-delay: 2.5s;
}


// 比較大力的滑上來
@keyframes slideUpFadeIn_big {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

// 初始化
.container .c_info{
    opacity: 0;
    transform: translateY(20px);
}

.c_serve , .c_contact , .c_portfolio{
    opacity: 0;
    transform: translateY(50px);
}

// 單純進場
.slideUpFadeIn{
    opacity: 0;
    animation: slideUpFadeIn_big 2s ease forwards;
}
