@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Module Settings*/
.pageIndex {
    max-width: 100%;
    padding: 0;
}
.main_part {
    max-width: 2000px;
    padding: 0;
    margin: 0 auto;
}
.edit,
.edit_part,
.show_content,
.main_part {
    width: 100%;
    max-width: 100%;
    padding: 0;
}
.edit * {
    word-break: normal;
}

.animated15 { animation: none;}

.box_container {
    * {
        padding: 0;
        margin: 0;
        font-family: "Noto Sans TC", sans-serif;
        font-optical-sizing: auto;
    }

    body {
        overflow-x: hidden;
        min-height: 100dvh;
        scroll-behavior: smooth;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .all_width {
        max-width: 2000px;
        margin: 0 auto;
    }

    button {
        border: 0;
        padding: 0;
        margin: 0;
        cursor: pointer;
    }

    .keyword_i {
        display: none;
    }
}
