
*{
    padding: 0;
    margin: 0;
}

.carousel{
    position: relative;
    overflow: hidden;
    .arrow{
        background-color: #ffffff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: #9F9F9F;
        border: 0px;
        box-shadow: 0 1px 3px #9c9c9c;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 999;
        cursor: pointer;
        transition: all 0.2s;
        &:hover{
            filter: brightness(1.2);
            color: #545454;
        }
        &.arrow_right{
            right: 32px;
        }
        &.arrow_left{
            left: 30px;
        }
    }
    .carousel_img{
        .carousel_img_scroll{
            max-height: 85vh;
            overflow: hidden;     
            img{
                width: 100vw;
                object-fit: cover;
                height: 100%;
                animation: imgIn 4s ease-in-out forwards;
            }
        }
    }
}

@keyframes imgIn {
    0% {
        opacity: 0.2;
    }
    20%{
        opacity: 1;
    }
    80%{
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.page{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button{
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        background-color: transparent;
        border: 0px;
        width: 20px;
        height: 20px;
        border: solid 1.5px transparent;
        border-radius: 50%;
        transition: all 0.3s;
        div{
            width: 8px;
            height: 8px;
            background-color: #FFD5A1;
            border-radius: 50%;
        }
        &:last-child{
            margin-right: 0;
        }
        &.active{
            border-color: #FFC073;
            cursor: initial;
            &:hover{
                filter: brightness(1);
            }
            div{
                background-color: #FFB459;
            }
        }
        &:hover{
            filter: brightness(1.05);
        }
    }
}