<!-- table編排 含rwd -->
<table class="
    table-layout
    table-responsive
    pc-head-center
    pc-body-center
    mobile-head-left
    mobile-content-right
">
    <thead>
        <tr>
            <th>姓名</th>
            <th>電話</th>
            <th>地址</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td data-label="姓名">小明</td>
            <td data-label="電話">0912345678</td>
            <td data-label="地址">
                台北市中正區忠孝東路一段1號
            </td>
        </tr>

        <tr>
            <td data-label="姓名">小華</td>
            <td data-label="電話">0922333444</td>
            <td data-label="地址">
                台北市中正區忠孝東路一段2號
            </td>
        </tr>

    </tbody>
</table>