
// 首頁時的外部彈跳窗樣式
// /* 模態框背景 */
// /* 模態框背景 */
// .modal {
//     display: none; /* 初始隱藏 */
//     position: fixed;
//     z-index: 1;
//     left: 0;
//     top: 0;
//     width: 100%;
//     height: 100%;
//     background-color: rgba(0, 0, 0, 0.4); /* 淡灰色背景 */
//     opacity: 0; /* 初始透明度為0 */
//     transition: opacity 0.8s ease; /* 漸變效果延長至0.8秒 */
// }

// /* 模態框內容，設定初始位置稍微在下方，並設定過渡效果 */
// .modal-content {
//     background-color: #fff;
//     max-width: 640px;
//     height: 80vh; /* 設定高度為 80vh */
//     position: fixed;
//     width: 100%;
//     top: 50%; /* 垂直居中 */
//     left: 50%; /* 水平居中 */
//     transform: translate(-50%, 5%); /* 初始位置微微在下方，距離為 5% */
//     opacity: 0; /* 初始透明度為0 */
//     transition: opacity 0.8s ease, transform 0.8s ease; /* 漸變效果延長至0.8秒 */
// }

// --------以下是內部樣式
.cross{
    padding: 14px;
    padding-bottom: 16px;
    text-align: right;
}

.cross button{
    position: relative;
    height: 25px;
    display: inline-block;
    transition: all 0.3s;
    width: 29px;
    &::before , &::after{
        content: "";
        display: block;
        position: absolute;
        width: 1px;
        background-color: #000000;
        border-radius: 5px;
        height: 32px;
        top: -4px;
        right: 12px;
    }
    &::before{
        transform: rotate(48deg);
    }
    &::after{
        transform: rotate(-48deg);
    } 
    &:hover{
        opacity: 0.8;
    }
}

.ccard{
    &.adt_card{
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        align-items: center;
        overflow: auto;
    }
}

.adt_carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    .adt_cross{
        position: absolute;
        top: -1px;
        right: 0px;
        z-index: 999;
    }
    .adt_arrow{
        position: absolute;
        top: 345px;
        &.left{
            left: 0;
        }
        &.right{
            right: 0;
        }
    }
}

.adt_carousel_track {
    display: flex;
    background: rgb(255, 255, 255);
    transition: transform 0.5s ease-in-out;
}

.adt_slide {
    min-width: 100%;
    // height: 90vh !important; // 確保每個 slide 高度為 100vh
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center; // 讓內容在 `.adt_slide` 內垂直置中
    background: #ffffff;
    .adt_slide_box{
        height: auto;
        // overflow-y: scroll;
        width: calc(100% - 62px - 62px);
        // scrollbar-width: thin;
        // scrollbar-color: #eeeeee #ffffff;
        margin: 27px 62px;
        margin-bottom: 47px;
        // &::-webkit-scrollbar {
        //     width: 4px;
        // }
        // &::-webkit-scrollbar-track {
        //     background: #ffffff;
        //     border-radius: 5px;
        // }
        // &::-webkit-scrollbar-thumb {
        //     background: #eeeeee;
        //     border-radius: 5px;
        // }
        // &::-webkit-scrollbar-thumb:hover {
        //     background: #bcbcbc;
        // }
    }
    .adt_top{
        width: -webkit-fill-available;
        // padding: 30px 60px;
        padding-bottom: 0;
        background-color: #ffffff;
        >div{
            // width: calc( 100% - 61px );
            .adt_date{
                text-align: right;
                width: 100%;
                display: block;
                padding-bottom: 15px;
                >span{
                    display: inline-block;
                    background-color: #141414;
                    padding: 12px 18px;
                    >span{
                        display: block;
                        color: #ffffff;
                        font-family: "Playfair Display", sans-serif;
                        font-weight: 400;
                        font-size: 20px;
                        text-align: center;
                        line-height: 24.44px;
                    }
                }
            }
            .adt_img{
                overflow: hidden;
                height: 513px;
                display: flex;
                align-items: center;
                justify-content: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block;
                }
            }
        }
    }
    .adt_bottom{
        width: -webkit-fill-available;
        // padding: 24px 60px;
        padding-top: 30px;
        color: #2b2b2b;
        font-size: $font_size_M;
        line-height: 36px;
        background-color: #ffffff;
        h6{
            font-size: 20px;
            line-height: 1.5em;
            margin-bottom: 10px;
        }
    }
}

.adt_arrow_l , .adt_arrow_r{
    z-index: 2;
    width: 62px;
    padding: 24px;
        position: relative;
        &::before , &::after{
            content: "";
            display: block;
            position: absolute;
            width: 1px;
            background-color: #000000;
            border-radius: 5px;
            height: 20px;
        }
        &::before{
            transform: rotate(40deg);
            top: 9px;
            left: 30px;
        }
        &::after{
            transform: rotate(-40deg);
            left: 30px;
        }
}
.adt_arrow_r{
    &::before{
            transform: rotate(-40deg);
        }
        &::after{
            transform: rotate(40deg);
        }
}

@media (max-width:480px) {
    .adt_slide .adt_top > div .adt_img{
        height: 60vh;
    }

    // .adt_slide .adt_top{
    //     padding-bottom: 0;
    // }
    // .adt_slide{
    //     padding: 32px;
    //     padding-top: 55px;
    //     .adt_slide_box{
    //         width: calc(100% - 32px - 32px);
    //         margin-bottom: 32px;
    //     }
    // } 
    // .adt_arrow_l, .adt_arrow_r{
    //     width: 32px;
    //     padding: 24px 16px;
    // }
    // .adt_slide .adt_bottom{
    //     padding-bottom: 44px;
    //     padding-bottom: 0px;
    //     .adt_date{
    //         margin-top: 12px;
    //     }
    // }
    // .adt_arrow_l::before, .adt_arrow_r::before , .adt_arrow_l::after, .adt_arrow_r::after{
    //     left: 16px;
    // }
}