.food{
    .index{
        margin-bottom: 150px;
        .main_bg_point_01{
            .main_contain{
                color: $main_color;
                font-weight: 500;
            }
            .index_img01{
                img{
                    border-radius: 40px;
                }
            }
        }
    }
    
}