
*{
    padding: 0;
    margin: 0;
}

.carousel{
    position: relative;
    height: 550px;
    overflow: hidden;
    .arrow{
        background-color: #ffffff;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        color: #2e2e2e;
        border: 0px;
        box-shadow: 0 1px 3px #9c9c9c;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        &.arrow_right{
            right: 32px;
        }
        &.arrow_left{
            left: 30px;
        }
    }
    .carousel_img{
        display: flex;
        .carousel_img_scroll{
            width: max-content; //這兩行很重要!!
            display: flex;      //這兩行很重要!!
            img{
                width: 100vw;
                object-fit: cover;
            }
            // div {
            //     display: flex;
            //     width: 100vw;
            //     align-items: center;
            //     justify-content: center;
            //     img {
            //         width: 100%;
            //         height: 100%;
            //         object-fit: cover;
            //     }
            // }
        }
    }
}

.page{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    button{
        padding: 4px 8px;
        padding-top: 5px;
        font-size: 15px;
        background-color: bisque;
        border-radius: 8px;
        border: 0px;
        color: #606060;
        margin-right: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        line-height: 1em;
        cursor: pointer;
        &:last-child{
            margin-right: 0;
        }
    }
}