<div class="module-list">
  <div class="title">
    <span class="title-left">
      選擇管理項目
    </span>
  </div>

  <button class="module-list-box module-list-pink">
    <span class="module-list-img-white">
      <img src="../assets/img/module-list-star.svg" alt="" />
    </span>
    <span class="module-list-box-name">
      主題活動
    </span>
  </button>

  <button
    class="module-list-box module-list-pink"
    [routerLink]="['/module/portal-calendar/a4/list4']"
  >
    <span class="module-list-img-white">
      <img src="../assets/img/module-list-calendar.svg" alt="" />
    </span>
    <span class="module-list-box-name">
      活動行事曆
    </span>
  </button>

  <button class="module-list-box module-list-green">
    <span class="module-list-img-white">
      <img src="../assets/img/module-list-bus.svg" alt="" />
    </span>
    <span class="module-list-box-name">
      交通資訊
    </span>
  </button>

  <button class="module-list-box module-list-green">
    <span class="module-list-img-white">
      <img src="../assets/img/module-list-sight.svg" alt="" />
    </span>
    <span class="module-list-box-name">
      點位介紹
    </span>
  </button>

  <button class="module-list-box module-list-yellow">
    <span class="module-list-img-white">
      <img src="../assets/img/module-list-point.svg" alt="" />
    </span>
    <span class="module-list-box-name">
      點閱管理
    </span>
  </button>

  <button class="module-list-box module-list-yellow">
    <span class="module-list-img-white">
      <img src="../assets/img/module-list-msg.svg" alt="" />
    </span>
    <span class="module-list-box-name">
      訊息發布
    </span>
  </button>

  <button class="module-list-box module-list-yellow">
    <span class="module-list-img-white">
      <img src="../assets/img/module-list-ad.svg" alt="" />
    </span>
    <span class="module-list-box-name">
      廣告管理
    </span>
  </button>

  <button class="module-list-box module-list-purple">
    <span class="module-list-img-white">
      <img src="../assets/img/module-list-member.svg" alt="" />
    </span>
    <span class="module-list-box-name">
      會員管理
    </span>
  </button>

  <button class="module-list-box module-list-purple">
    <span class="module-list-img-white">
      <img src="../assets/img/module-list-key.svg" alt="" />
    </span>
    <span class="module-list-box-name">
      人員權限
    </span>
  </button>

  <ng-container *ngFor="let item of modules">
    <button [routerLink]="[item.url]" class="module-list-box module-list-pink">
      <span class="module-list-img-white">
        <img src="../assets/img/module-list-calendar.svg" alt="" />
      </span>
      <span class="module-list-box-name">
        {{ item.name }}
      </span>
    </button>
  </ng-container>
</div>
