
.module-list{
    background-color: #ffffff;
    max-width: 1200px;
    margin:0 auto;
    padding:50px 0px;
    padding-bottom: 60px;
    padding-top: 95px;
}

.title{
    margin-left: 10px;
    @apply py-1 pb-4;

    .title-left{    
        color: #673C42;
        border-left: solid 5px #FCBABA;
        padding-left: 6px;
        font-weight:500;
        @apply text-2xl;
    }

}

.module-list-box{
    padding: 25px 10px;
    width: calc(50% - 20px);
    display: inline-block;
    box-shadow: 0 2px 2px #cacaca;
    border-radius: 10px;
    margin: 10px 10px;
    outline: none;
    img{
        width: 50px;
        margin:0 auto;
        padding-bottom: 8px;
        @apply block;
    }

    .module-list-box-name{
        color: #ffffff;
        text-shadow: 1px 1px 0px #505050;
        @apply text-xl font-normal;
    }

}

.module-list-pink{
    background-color: #ec8996;
    transition: all .3s;
    position: relative;
    top: 0;
    &:hover{
        background-color: #ff9fac;
        position: relative;
        top: -4px;
    }
}

.module-list-green{
    background-color: #86b158;
    transition: all .3s;
    position: relative;
    top: 0;
    &:hover{
        background-color: #9bca69;
        position: relative;
        top: -4px;
    }
}

.module-list-yellow{
    background-color: #eca34d;
    transition: all .3s;
    position: relative;
    top: 0;
    &:hover{
        background-color: #ffb55d;
        position: relative;
        top: -4px;
    }
}

.module-list-purple{
    background-color: #a990ce;
    transition: all .3s;
    position: relative;
    top: 0;
    &:hover{
        background-color: #b99be6;
        position: relative;
        top: -4px;
    }
}


@media(min-width:768px){
    .module-list{
        margin:0 auto;
        padding:50px 40px;
        padding-bottom: 60px;
    }

    .module-list-box{
        padding:25px 10px;
        width: 8.5em;
        margin: 30px 25px;
        img{
            width: 50px;
        }
    }

    .title{
        margin-left: 25px;
    }
}