<!-- 切換頁Header -->
<header class="header-normal">
    我是Header
    <a href="page-home.html" data-page="page-home">首頁</a>
    <a href="page-about.html" data-page="page-about">關於我們</a>
</header>

<!-- 滑動的header -->
<header class="header">
    <div class="all_width" id="header-template">
        <div class="h_title">
            <img src="" alt="">
            <span><!-- 帝堡實業有限公司 --></span>
        </div>
        <div class="hamburger">
            ☰
        </div>
        <div class="nav">
            <!-- <a href="page-home.html" data-page="page-home">首頁</a> -->
        </div>
    </div>
</header>