.pd_card{
    display: flex;
    align-items: center;
    border-radius: 18px;
    .pd_card_center{
        background-color: #3C3C3C;
        overflow: hidden;
        border-radius: 18px;
        box-sizing: border-box;
        box-shadow: 0px 6px 10px 0px #00000059,
                    0px 20px 48px 0px #00000073,
                    0px 0px 2px 0px #FFFFFF59 inset,
                    0px 2px 0px 0px #FFFFFF14 inset;
        .cross{
            padding:12px 16px;
            border-bottom: 2px solid #555555;
            button{
                width: 36px;
                height: 36px;
                &::after , &::before{
                    top: 4.5px;
                    right: 17px;
                    color: #E6E6E6;
                }
            }
        }
    }
}

.pd{
    padding: 40px;
    .pd_top{
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        height: 320px;
        width: 100%;
        border-radius: 4px;
        border: 1.5px solid #555555;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .pd_bottom{
        padding-top: 24px;
        color: #FFFFFF;
        font-size: 16.5px;
        line-height: 30px;
    }
}

@media (max-width:500px) {
    .pd .pd_top{
        height: 260px;
    }
}

@media (max-width:420px) {
    .pd .pd_top{
        height: 210px;
    }
}

@media (max-width:420px) {
    .pd .pd_bottom{
        font-size: 12px;
        line-height: 22px;
    }
}

@media (max-width:370px) {
    .pd .pd_top{
        height: 180px;
    }
}

@media (max-width:320px) {
    .pd .pd_top{
        height: 150px;
    }
}