@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
	  margin: 0;
    font-family: "Outfit" , sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
} 

$font_size_XL: 24px;
$font_size_L: 18px;
$font_size_ML: 16px;
$font_size_M: 15px;
$font_size_S: 14px;
$font_size_XS:12px;

body{
  background-color: #000000;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.all_width{
  max-width: 1000px;
  margin: 0 auto;
}

img{
  width: 100%;
}

button{
  cursor: pointer;
  background-color: transparent;
  border: 0px;
}


