
@font-face {
    font-family: 'Palanquin Dark';
    src: url('@/assets/fonts/PalanquinDark/PalanquinDark-Regular.woff2') format('woff2'),
        url('@/assets/fonts/PalanquinDark/PalanquinDark-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}