mixin CfgMasterCss 
  //- master
  script(src="./scripts/plugin/mastercss/master-css.js")
  script.
    MasterStyle.extend('colors', {
      main: '41A4D0',
      vice: '003A79',
      vice3: '0F7DAF',
      vice4: '54A433',
      baseGary: '555555',
      baseBlack: '222222',
      primary: 'ff9b5d',
      blue: '1194D7',
      origin: 'F4911E'
    });

    MasterStyle.extend('classes', {
      //- common
      'el-reset': 'list-style:none p:0 m:0',

      'm-en_numberTitle': 'f:bold f:60@lg f:48',
      'm-en_subtitle': 'f:medium f:24@xs f:20',

      'm-cht_bigTitle': 'f:40@lg f:32@xs f:30',
      'm-cht_middleTitle': 'f:32@lg f:24@xs f:20',
      'm-cht_irBigTitle': 'f:24@xs f:20',
      'm-cht_irSubtitle': 'f20@xs f:18',

      'm-btn': 'f:18',
      'm-ir': 'f:16',
      'm-ps': 'f:14'
    });