/* reset */
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

*{
	padding: 0;
	margin: 0;
  font-family: "Kiwi Maru", serif;
  font-weight: 400;
  font-style: normal;
} 

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.all_width{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 24px;
}

img{
  width: 100%;
}

// setting
$font_size_XL: 32px;
$font_size_L: 24px;
$font_size_M: 20px;
$font_size_S: 16px;

// header
.header{
  background: url("../img/header_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 70vh;
  font-size: $font_size_M;
  position: relative;
  .nav{
    color: #ffffff;
    padding: 24px 0px;
    h1{
      display: inline-flex;
      align-items: center;
      font-size: $font_size_XL;
      img{
        display: inline-block;
        width: 2em;
        margin-right: 12px;
      }
    }
    .nav_bar{
      .menu{
        background-color: transparent;
      }
    }
  }
  .discript{
    color: #ffffff;
    position: absolute;
    bottom: 10vh;
    letter-spacing: 0.5em;
    font-size: $font_size_M;
    span{
      display: flex;
      align-items: center;
    }
    img{
      width: 0.5em;
      margin-right: 9px;
    }
  }
}

/* NavBar */
.nav {
  position: relative;
  &::after {
    content: "";
    display: block;
    clear: both;
  }
  h1 {
    display: inline-block;
  }
  .nav_bar{
    /* 隱藏 checkbox */
    input {
      display: none;
    }

    /* 漢堡按鈕 */
    label {
      cursor: pointer;
      position: absolute;
      right: 8px;
      top: 53px;
      cursor: pointer;
      span{
        display: block;
        width: 24px;
        height: 3px;
        background-color: #ffffff;
        margin-bottom: 6px;
        border-radius: 8px;
      }
    }

    /* menu*/
    .menu {
      clear: both;
      li {
        text-align: center;
        display: inline-block;
        a {
          display: block;
          line-height: 1.1em;
          color: #ffffff;
          text-align: center;
          padding-top: 0.4em;
          transition: all 0.5s;
          &:hover {
            color: #FFE696;
          }
          .menu_top{
            display: block;
            font-size: $font_size_M;
            letter-spacing: 2px;
          }
          .menu_down{
            display: block;
            font-size: $font_size_S;
            letter-spacing: 3px;
          }
        }
      }
    }

    /* 下拉選單效果 */
    .menu {
      max-height: 0;
      overflow: hidden;
      transition: .2s; /* 動畫秒數 */
    }

    input:checked ~ .menu {
      max-height: fit-content;
      background-color: transparent;
      li{
        display: inline-block;
        padding: 0px;
        a{
          color: #ffffff;
        }
      }
    }
  }
}


// 關於福吉
.about{
  background: url("../img/descript_bg.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
  min-height: 85vh;
  padding-top: 12vh;
  margin-bottom: 8vh;
  font-weight: 600;
  .about_title{
    text-align: center;
    padding-left: 25px;
    font-size: $font_size_L;
    padding-bottom: 5vh;
    color: #7F6101;
  }
  .about_in{
    text-align: center;
    font-size: $font_size_M;
    position: relative;
    color: #503A26;
    .about_in_box{
      display: block;
      padding-bottom: 2em;
      span{
        line-height: 1.5em;
        display: block;
      }
    }
    img{
      position: absolute;
      width: 240px;
      display: block;
      &.about_img_l{
        top: -57px;
        left: 75px;
      }
      &.about_img_r{
        bottom: 7px;
        right: 90px;
      }
    }
    }
  }

// 產品介紹
.product{
  position: relative;
  .product_in{
    text-align: center;
    .product_title{
      color: #865F32;
      border-bottom: solid 4px #FED8B5;
      padding-bottom: 20px;
      font-size: $font_size_L;
      font-weight: bold;
    }
    .product_item{
      padding: 40px 0px;
      border-bottom: solid 4px #FED8B5;
      li{
        width: calc((100% - 40px)/3);
        display: inline-block;
        margin-bottom: 20px;
        margin-right: 16px;
        &:nth-child(3n){
          margin-right: 0px;
        }
        span{
          display: block;
          margin-bottom: 8px;
          font-size: $font_size_S;
        }
        .product_photo img{
          border-radius: 32px;
          margin-bottom: 16px;
        }
        .product_item_title{
          font-size: $font_size_M;
          color: #5B4433;
          font-weight: bold;
        }
        .product_item_dec{
          color: #8C8C8C;
        }
        .product_item_pay{
          color: #AB7B00;
          span{
            display: inline-block;
            border: solid 1px #AB7B00;
            border-radius: 50px;
            padding: 4px 10px;
          }
        }
      }
    }
  }
}

// 門市據點
.store{
  padding-top: 40px;
  background: url("../img/store_bg.png") no-repeat;
  background-size: auto;
  background-position: right bottom;
  .store_title{
    color: #7F6101;
    padding-bottom: 40px;
    font-size: $font_size_L;
    font-weight: bold;
    text-align: center;
  }
  .store_in{
    display: flex;
    margin-bottom: 80px;
    align-items: center;
    .store_in_img{
      width: 350px;
      height: 340px;
      overflow: hidden;
      border-radius: 50% 50% 16px 16px;
      margin-right: 60px;
      img{
        height: 100%;
        width: auto;
      }
    }
    .store_in_dec{
      color: #7C6351;
      font-weight: 500;
      font-size: $font_size_S;
      width: calc(100% - 350px - 60px);
      div{
        margin-bottom: 16px;
        a{
          color: #3EB88C;
          border-bottom: 1px solid #3EB88C;
          transition: opacity 0.5s;
          margin-left: 4px;
          &:hover{
            opacity: 0.7;
          }
        }
        span{
          display: inline-block;
          color: #5FA1DE;
          padding: 3px 12px;
          border-radius: 20px;
          border: solid 1px #5FA1DE;
          margin-left: 4px;
          background-color: #ffffff;
        }
        img{
          display: inline-block;
          width: 1em;
          position: relative;
          top: 2px;
          margin-right: 4px;
        }
      }
      .store_in_dec_title{
        color: #5B4433;
        font-weight: bold;
        margin-bottom: 32px;
        font-size: $font_size_M;
      }
    }
  }
}

// 聯繫
.connect{
  background: url("../img/footer_bg.png") no-repeat;
  background-size: auto;
  background-position: center;
  padding: 70px 0px;
  .connect_in{
    display: flex;
    align-items: center;
    justify-content: center;
    .connect_logo{
      width: 14em;
      text-align: center;
      margin-right: 12px;
      .connect_logo_top{
        width: 8em;
        margin: 0 auto;
      }
      .connect_logo_des{
        display: flex;
        align-items: center;
        font-size: $font_size_M;
        color: #5B4433;
        font-weight: bold;
        justify-content: center;
        img{
          width: 0.8em;
          padding: 0px 6px;
        }
      }
    }
    .connect_des{
      max-width:calc(100% - 14em - 12px) ;
      a{
        display: flex;
        color: #5B4433;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        background-color: #ffffff;
        padding: 0px 28px;
        border-radius: 37px;
        align-items: center;
        padding-left: 0px;
        margin-bottom: 20px;
        transition: color 0.5s;
        img{
          width: 2em;
          padding-right: 12px;
        }
        &:last-child{
          margin-bottom: 0px;
        }
        &:first-child:hover{
          color: #4676ED;
        }
        &:last-child:hover{
          color: #B13B00;
        }
      }
    }
  }
}

// 頁尾
footer{
  background-color: #FFEBCA;
  color: #7F6101;
  font-size: $font_size_S;
  padding: 12px 0px;
  text-align: center;
}



/* mediaquery */
@media screen and (min-width: 768px) {
  // 下拉選單
  .nav .nav_bar{
    label {
      display: none;
    }
    .menu {
      float: right;
      clear: none;
      max-height: 50px;
      background-color: #ffffff;
      a {
        padding: 0 15px;  
      }
    }
  }

}


// RWD  
@media(max-width:768px){
  .nav{
    position: relative;
    h1{
      width: calc(100% - 40px);
    }
    .nav_bar{
      input:checked ~ .menu {
        max-height: fit-content;
        background-color: #ffffff;
        position: absolute;
        width: 100%;
        z-index: 2;
        padding: 12px 0px;
        li{
          display: block;
          padding: 0px 20px;
          a{
            color: #503A26;
            padding: 24px 0px;
            border-bottom: solid 1px #FFDDBB;
            display: block;
            transition: .2s;
            &:hover{
              background-color: #7C6351;
              color: #ffffff;
            }
          }
          &:last-child{
            a{
              border-bottom: 0px;
            }
          }
        }
      }
    }
  } 
  .about{
    .about_in{
      img{
        display: none;
      }
    } 
  }
  .product{
    .product_in{
      .product_item{
        li{
          margin-right: 12px;
          width: calc((100% - 40px) / 2);
          vertical-align: top;
          &:nth-child(2n){
            margin-right: 0px;
          }
          &:nth-child(3n){
            margin-right: 12px;
          }
        }
      }
    }
  }
  .store{
    background-size: 270px;
    .store_in {
      .store_in_img{
        width: 260px;
        height: 280px;
        margin-right: 40px;
      }
      .store_in_dec{
        width: calc(100% - 260px - 40px);
      }
    }
  }
  .connect{
    background: url("../img/footer_bg_02.png") no-repeat;
    background-position: center center;
  }
}



@media(max-width:600px){
  // setting
  $font_size_XL: 28px;
  $font_size_L: 20px;
  $font_size_M: 18px;
  $font_size_S: 14px;

  .product{
    .product_in{
      .product_item{
        li{
          margin-right: 12px;
          width: 100%;
          vertical-align: top;
          margin-right: 0 !important;
        }
      }
    }
  }
  .store{
    .store_title{
      padding-bottom: 16px;
    }
    .store_in {
      display: block;
      .store_in_img{
        width: 100%;
        height: 30vh;
        margin-right: 0;
        border-radius: 16px;
        img{
          height: auto;
          width: 100%;
        }
      }
      .store_in_dec{
        width: 100%;
        text-align: center;
        .store_in_dec_title{
          margin-bottom: 14px;
          margin-top: 20px;
        }
      }
    }
  }
  .connect{
    padding: 12px 0px;
    background: url("../img/footer_bg_02.png") no-repeat;
    background-position: center center;
    .connect_in{
      display: block;
      padding-top: 40px;
      .connect_logo{
        width: 100%;
        margin-right: 0px;
        padding-bottom: 20px;
        .connect_logo_des{
          display: none;
        }
      }
      .connect_des{
        max-width: none;
        width: auto;
        text-align: center;
        a{
          display: inline-flex;
          img{
            width: 1.5em;
          }
          &:last-child {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}
