// 淡入進場
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.fadeIn {
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 0.8s;
}

// 由下往上滑動進場
@keyframes fadeInSlideUp {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}

// 剛進入頁面-banner動畫
@keyframes bannerimg {
    0% {
        opacity: 0;
        top: -364px;
    }

    65% {
        top: 0px;
    }

    80% {
        opacity: 1;
        top: -5px;
    }

    100% {
        opacity: 1;
        top: 0px;
    }
}

// 箭頭hover
@keyframes arrowIn {
    0% {
        transform: translateY(0);
    }

    60% {
        transform: translateY(2px);
    }

    80% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(2px);
    }
}

@keyframes arrowOut {
    0% {
        transform: translateY(2px);
    }

    50% {
        transform: translateY(0px);
    }

    70% {
        transform: translateY(1px);
    }

    100% {
        transform: translateY(0px);
    }
}

// 箭頭背景的hover
@keyframes arrowInBg {
    0% {
        bottom: -18px;
        height: 30px;
    }

    60% {
        bottom: -20px;
        height: 32px;
    }

    80% {
        bottom: -19px;
        height: 31px;
    }

    100% {
        bottom: -20px;
        height: 32px;
    }
}

@keyframes arrowOutBg {
    0% {
        bottom: -20px;
        height: 32px;
    }

    50% {
        bottom: -18px;
        height: 30px;
    }

    70% {
        bottom: -19px;
        height: 31px;
    }

    100% {
        bottom: -18px;
        height: 30px;
    }
}

.container .c_banner .banner_img .banner_arrow {
    &.banner_arrow-in {
        animation: arrowInBg 0.4s ease-in-out forwards;
        img{
            animation: arrowIn 0.4s ease-in-out forwards;
        }
    }

    &.banner_arrow-out {
        animation: arrowOutBg 0.4s ease-in-out forwards;
        img{
            animation: arrowOut 0.4s ease-in-out forwards;
        }
    }
}