.rm_card{
    background-color: #000000;
    border: solid 1px #ffffff;
    color: #ffffff;
    box-sizing: border-box;
}

.rm_cross{
    position: absolute;
    top: 0px;
    right: 0px;
    button{
        border-radius: 50%;
        &::before , &::after{
            background-color: #ffffff;
        }
    }
}

.rm{
    margin: 77px 76px;
    .rm_title{
        text-align: center;
        margin-bottom: 32px;
        img{
            width: 160px;
            margin-bottom: 18px;
        }
        span{
            display: block;
            font-size: 20px;
            letter-spacing: 10px;
            font-weight: 600;
            margin-left: 10px;
        }
    }
    .rm_list{
        .rm_list_title , .rm_list_content{
            background-color: #5700C2;
            >ul{
                display: flex;
                align-items: center;
                padding: 0px 10px;
                >li{
                    position: relative;
                    padding: 3px 5px;
                    width: calc(4em + 20px );
                    font-size: $font_size_M;
                    line-height: 1.8em;
                    font-weight: 600;
                    white-space: nowrap; /* 不換行 */
                    overflow: hidden; /* 隱藏超出的內容 */
                    text-overflow: ellipsis; /* 省略號 */
                    &::after{
                        content: "";
                        display: inline-block;
                        width: 1px;
                        height: 20px;
                        background-color: #ffffff;
                        position: absolute;
                        right: 0px;
                        top: calc(50% - 10px);
                    }
                    &:nth-child(1){
                        width: calc( 100% - 12em - 60px );
                    }
                    &:nth-child(2){
                        text-align: center;
                    }
                    &:nth-child(3){
                        text-align: center;
                    }
                    &:nth-child(4){
                        text-align: center;
                        justify-content: center;
                        &::after{
                            display: none;
                        }
                    }
                }
            }
        }
        .rm_list_title{
            color: #ffffff;
            margin-bottom: 9px;
            span{
                font-weight: 600;
            }
        }
        .rm_list_content{
            margin-bottom: 3px;
            transition: all .5s;
            ul{
                color: #ffffff;
            }
            button{
                font-size: $font_size_S;
                font-weight: 400;
                color:#ffffff;
                border-radius: 14px;
                transition: all 0.3s;
                width: 100%;
                position: relative;
                &:hover{
                    opacity: 0.8;
                }
                &:after{
                    content: "";
                    display: block;
                    width: 1.6em;
                    height: 1px;
                    position: absolute;
                    background-color: #ffffff;
                    bottom: 0px;
                    left: calc( 50% - 0.8em );
                }
            }
            &.go_active{
                background-color: transparent;
                ul,button{
                    color: #ffffff;
                }
                >ul>li{
                    white-space: normal;
                    overflow: auto;
                    text-overflow: initial;
                    &::after{
                        background-color: #ffffff;
                    }
                }
                button{
                    &:after{
                        background-color: #ffffff;
                    }
                }
            }
        }
        .open_list{
            box-sizing: border-box;
            font-size: $font_size_M;
            padding-bottom: 0;
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s ease-out;

            /* 整個 scrollbar（捲軸本體） */
            &::-webkit-scrollbar {
                width: 10px;  /* 垂直捲軸寬度 */
            }
            
            /* 滾動條軌道（背景） */
            &::-webkit-scrollbar-track {
                background: #353535;
                border-radius: 10px;
            }
            
            /* 滾動條滑塊（會移動的那一塊） */
            &::-webkit-scrollbar-thumb {
                background: #e7e7e733;
                border-radius: 10px;
            }
            
            /* 滑塊 hover 時樣式 */
            &::-webkit-scrollbar-thumb:hover {
                background: transparent;
            }
  
            .open_padding{
                padding: 34px 0px;
            }
            .open_title , .wl_title{
                font-weight: 600;
                font-size: $font_size_ML;
            }
            .open_title{
                span{
                    font-weight: 600;
                    font-size: $font_size_ML;
                    display: inline-block;
                    line-height: 1.8em;
                    padding: 2px 10px;
                    border-bottom: solid 1px #ffffff;
                }
            }
            .work_content{
                margin-bottom: 30px;
                >div{
                    &:nth-child(2){
                        margin-top: 15px !important;
                    }
                    &:last-child{
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
                .open_mark{
                    span{
                        display: inline-block;
                        vertical-align: top;
                        line-height: 1.8em;
                        letter-spacing: 0.5px;
                        &:first-child{
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: #ffffff;
                            position: relative;
                            top: 10px;
                            margin:0px calc( 0.5em - 4px ) ;
                        }
                        &:last-child{
                            width: calc( 100% - 1em );
                        }
                    }
                }
            }
            .work_list{
                margin-bottom: 22px;
                >div{
                    display: inline-block;
                    vertical-align: top;
                    &:first-child{
                        margin-right: 10px;
                    }
                    &:last-child{
                        width: calc( 100% - 110px - 10px );
                        line-height: 1.8em;
                        position: relative;
                        top: 5px;
                    }
                }
            }
        }
        .open_list.active {
            max-height: 45vh;
            overflow-y: scroll;
        }
    }
}

@media (max-width:500px) {
    .rm{
        margin: 38px 24px;
        .rm_list{
            .rm_list_title{
                ul li{
                    span{
                        display: block;
                        line-height: 1.6em;
                    }
                    &:nth-child(1){
                        text-align: center;
                    }
                }
            }
        }
    }
    .rm .rm_list .rm_list_title > ul > li, .rm .rm_list .rm_list_content > ul > li{
        width: calc(3em + 20px);
        &:nth-child(1){
            width: calc(100% - 9em - 60px);
        }
    }
    .rm .rm_list .rm_list_content > ul > li{
        &:first-child{
            text-align: center;
        }
    }
}
